em,b,i{ font-style:normal;}
fieldset,img{ border:none;}
ul{list-style-type:none}
input,textarea {outline:none;}
.clearfix{ display:inline-block;}
.clearfix{ display:block;}
.clearHeight{clear: both;width: 100%;height: 0;overflow: hidden;}
* html .clearfix{ display:block;}
html[xmlns] .clearfix{ display:block;}
.fleft{float: left;} 
.mglt{margin-left:143px; }
.clearfix:after,.g_brand:after,.m_brand_ad:after,.m_brand_shw:after,.g_list_brand ul:after,.g_brd_detl_wp:after{ clear:both; visibility:hidden; display:block; height:0; font-size:0;}

.block{width: 1180px;line-height: 48px;}
.bg_gray{background: #ffffff; width: 100%;overflow:hidden; padding-bottom: 50px;}
.m_main{width: 1180px; margin: 0 auto;background:#fff;}
.top_line{background: #000000; display: block; height: 1px;}
.line_hr{border-top:2px solid #8f8583;border-bottom: 1px solid #cbc5bf; background:#fff; height: 1px;display: block;margin: 30px 21px 15px;}

/*index*/
.m_header_pictop{width: 1180px;position: relative;} 
.m_header_pictoptxt{width: 277px; text-align: center; font-family: Arial,"宋体" ;font-size:30px;color: #000;position: absolute;left: 190px;top: 238px;letter-spacing: 2px; z-index: 5;}
.m_header_pic{width: 1180px; margin:0px auto 30px;}
.g_brand{padding: 0;overflow:hidden;}
.m_brand_text{float: left;width: 401px;}
.m_brand_pic{float: right;width: 762px;}

.m_brand_text{font-family: Arial,"宋体";text-align:left;}
.m_brand_text dl{border-bottom: 1px solid #000;padding-bottom: 65px;}
.m_brand_text dl.no_line{border-bottom:none;}
.m_brand_text dt{font-size: 26px; color:#000;font-family: Arial,"宋体";padding:65px 0 20px 50px;letter-spacing: 2px;}
.m_brand_text dt a{color: #000;}
.m_brand_text dt a:hover{color:#ff8a81;}
.m_brand_text dd span{padding-left: 50px;display:block;line-height: 23px;color: #333;}
.m_brand_text dd em{padding-left: 47px;display: block;color:#999;padding-top: 60px;}
.m_brand_text dd em a{color:#333;padding-right: 5px;padding-left: 5px;}
.m_brand_text dd em a:hover,.m_brand_hide span a:hover{color:#ff8a81;}

.m_brand_ad{overflow:hidden;padding-top:40px;padding-left: 32px;}
.f_ad_link{ position:relative;width:355px;height:236px;display:block;float:left;margin-left:10px;text-align: }
.f_ad_link span{background:url(../../ww3/bradstory/f_ad_linkimg.png) no-repeat; width: 98%; height: 27px;line-height: 26px;color: #fff;position:absolute; bottom:1px; left:50%; margin-left:-48.7%;text-align:left; padding-left: 10px;}


.m_brand_shw{padding-top: 40px; padding-left: 30px;}
.m_brand_shw li{float:left;position:relative;margin-left: 10px;z-index:0;}
.m_brand_shw_01{width:474px; height: 474px;position: relative;}
.m_brand_shw_02{width: 237px;height: 474px;position: relative;}
.m_brand_shw_03{width: 722px;height: 474px;margin-top: 10px;position: relative;z-index:0;}
.m_brand_hide{position: absolute;top:0;left:0;}
.m_brand_hide em{display: block;width:100%; height: 100%;background:#000;opacity: 0;filter:alpha(opacity=0);z-index: 2; position: absolute;}
.m_brand_hide span{display:block;text-align:center; z-index: 2;position: absolute;color: #fff;font-family: Arial,"宋体";width:100%; padding-top: 195px;}
.m_brand_hide span b{font-size: 26px;font-weight: normal;}
.m_brand_hide span i{display: block;border-bottom: 1px solid #fff;height:0; width:65px;margin:20px auto;}
.m_brand_hide span a{color: #fff;font-size: 12px;padding: 0 8px;}

.m_brand_shw_01 .m_brand_hide{display: none;width:474px; height: 474px;}
.m_brand_shw_02 .m_brand_hide{display: none;width: 237px;height: 474px;}
.m_brand_shw_03 .m_brand_hide{display: none;width: 722px;height: 474px;}





.m_focus_tite{width: 100%;text-align:center;font-size:12px;padding-bottom:25px;color:#333;font-family: Arial,"宋体";}
.m_focus_tite em{font-size:26px; display:block;text-align:center;line-height: 50px;color:#000;font-family: Arial,"宋体";}
/*分页*/

.list_page{ text-align:right;padding-top: 12px;background: #fff;padding-right: 35px;padding-bottom: 30px;}
.list_page ul{overflow:hidden;}
.list_page a{display: inline-block;border:1px solid #dedfe0;overflow:hidden;margin-left:4px;font-family:Arial; background: #fff;height: 31px; line-height:31px;
 width:31px; text-align:center;color: #666;font-size: 13px;float:left;}
.list_page a:hover,.list_page a.active{color:#ff8a81;font-weight: bold;}
.page_more{border:none!important;background: none!important;font-weight: bold;}
.page_more:hover{color:#666!important;}
.list_page ul li{display:inline-block;}
.prev,.next,.prev:hover ,.next:hover { background:url(../../ww2/member/index/icon_nextprev.jpg) no-repeat!important;display:inline-block;height: 31px; line-height:31px; width: 31px; }
.prev {background-position:13px -9px!important;}
.next {background-position:13px 12px!important;}
.prev:hover {background-position:13px -32px!important;}
.next:hover {background-position:13px -56px!important;}

/*.brand_focus{border-bottom: 1px solid #dedede;}*/

/*动画*/

/*首页动画*/
.animateTShell{width:1138px;height:456px;margin:0 auto;overflow:hidden;position:relative;}
.animateTShell div{width:1138px;height:456px;margin:0 auto;position:relative;overflow:hidden;z-index:0;}
.animateTShell div ul{width:7000px;height:376px;position:absolute;left:0;top:0;z-index:5}
.animateTShell div ul li{width:1138px;height:376px;float:left;overflow:hidden}

.m_brand_pic .animateTShell{width:722px;height:236px;margin:0 auto;overflow:hidden;position:relative;}
.m_brand_pic .animateTShell div{width:722px;height:236px;margin:0 auto;position:relative;overflow:hidden;z-index:0;}
.m_brand_pic .animateTShell div ul{width:2000px;height:236px;position:absolute;left:0;top:0;z-index:1;}
.m_brand_pic .animateTShell div ul li{width:722px;height:236px;float:left;overflow:hidden;position:relative;z-index:1;}
.m_brand_pic .animateTShell div ul li i{position:absolute;z-index:20;color:#fff; bottom:12px;left:25px;}


.arrowLeft{width:45px;height:70px;position:absolute;left:20px;top:155px;cursor:pointer;display:block;z-index:10;background:url('../../ww3/bradstory/arrowLeft.png') left top no-repeat}
.arrowLeft:hover{background:url('../../ww3/bradstory/arrowLeft.png') right top no-repeat}
.arrowRight{width:45px;height:70px;position:absolute;right:20px;top:155px;cursor:pointer;display:block;background:url('../../ww3/bradstory/arrowRight.png') left top no-repeat;z-index:10}
.arrowRight:hover{background:url('../../ww3/bradstory/arrowRight.png') right top no-repeat}
.totle_num{width:100%;height:20px;position:absolute;display:block;overflow:hidden;left:0;bottom:30px;text-align:center;z-index:10;color:#333;font-family:Arial;font-size: 14px;}

.m_brand_pic .arrowLeft,.m_brand_pic .arrowRight{display:none!important;}
.m_brand_pic .disc_border { width:700px; height:15px;  position:absolute; z-index:2; left:10px;bottom:10px;text-align: right;
							}
.bg_ragb{background:#000;opacity: 0.6;filter: alpha(opacity=60);position:absolute;bottom:5px;left:10px;z-index:3;display:block;width:702px;height:28px;}

.m_brand_pic  .disc { width: 10px; height: 10px;  margin-right:8px;cursor:pointer;display:inline-block;background:#fff;border-radius:50%;}
.m_brand_pic .disc.disc_hover {background:#f6827a;} /*当前项*/

/*list*/
.g_list_brand{overflow: hidden;padding: 0px 0 0 11px;}

.g_list_brand li{width:355px;height: 326px;margin-left: 23px;float:left;margin-bottom: 23px;}
.g_list_brand li img{background:url('../../ww3/bradstory/pic_bg.jpg')  no-repeat;width: 355px;height: 236px;display:block;}
.g_list_brand li span{display: block;height: 73px;background:#f8f8f8;text-align: center;font-family: Arial,"宋体";padding: 0px 0 0;
					text-align: center;font-size: 12px; color:#999;line-height: 22px;}

.g_list_brand li span em{display:block;font-size:12px;color: #000;font-family: Arial,"宋体";font-weight:normal;width: 100%;
					word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding-top: 15px;}
.g_list_brand li a:hover span{ color:#999;}
.g_list_brand li a:hover span em{color:#ff8a81;}
/*details*/
.g_brd_detl_wp{background:#fff;overflow:hidden; position: relative;}
.g_brd_detl_rig{width:784px;float:left;padding:0px; margin-top: 35px;}
.g_brd_detl_lft{width: 350px;float:right;text-align:center;}

.g_brd_detl_title{font-size:22px;font-family: Arial,"宋体"; color: #000;padding-top: 15px;font-weight:normal;}
.g_brd_detl_sbt{text-align:center; color:#999;font-family: Arial,"宋体";font-size:12px;padding: 15px 0 40px 0;}
.g_brd_detl_sbt span{padding-right: 15px;}

#share_news{display:inline-block;vertical-align:middle;width: 65px;}

.bdsharebuttonbox{display: inline-block;vertical-align:middle;}

.tsina,.tqq,.renren{display:inline-block;width:16px!important;height:16px!important;padding:0!important;float:none!important;margin:0 0 0 1px!important;}
.tsina{background:url('../../ww3/detail150815/share_icon.jpg') 0 0  no-repeat!important;}
.tqq{background:url('../../ww3/detail150815/share_icon.jpg') -22px 0 no-repeat!important;}
.renren{background:url('../../ww3/detail150815/share_icon.jpg') -44px 0  no-repeat!important;}

.g_brd_detl_tps{background: #fdf2ec;padding: 22px 25px; color:#333; line-height: 24px;font-family: Arial,"宋体"; font-size: 12px;text-align:left;text-indent: 2em;margin-bottom: 15px;}
.g_brd_detl_cntnt{text-align:left; font-size: 14px;font-family: Arial,"宋体";color:#666;line-height: 27px;text-align: justify;padding: 0 10px;}
.g_brd_detl_cntnt img{max-width: 782px;display:block;margin: 15px auto 10px;}
.g_brd_detl_cntnt  i{display: block;text-align: center;font-weight: bold;}
.g_brd_detl_cntnt p{margin-top: 10px;font-size: 14px;}

.article_key{text-align:left; color:#666;padding: 28px 0 15px;}
.article_key a{padding-right: 10px;color:#666;}

 
.zbnews_lst{border:#e8e8e2 solid 5px;margin: 0px 0px 0 40px;}
.zbnews_lst dt{font-size: 18px; color:#000;border-top:1px solid #d2d2ca;border-left:1px solid #d2d2ca;border-right:1px solid #d2d2ca;}
.zbnews_lst dt em{display:block; margin: 0 10px; border-bottom:1px solid #8e8482;line-height: 50px;}
.zbnews_lst dd {border-bottom:1px solid #d2d2ca;border-left:1px solid #d2d2ca;border-right:1px solid #d2d2ca;padding: 20px 12px;}
.zbnews_lst dd  a{font-size: 12px;color:#333;border-bottom:1px dotted #8d8d8d; line-height: 28px; display:block; width:264px;
white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;text-align:left;background:url('http://img.zbird.cn/ww3/bradstory/icon_point02.jpg') left center no-repeat; padding-left: 10px;}
.zbnews_lst dd  a:hover{color:#f6827a;}

.br_ad_pic{width: 780px;height: 90px;margin-bottom: 25px;}


.m_ulike{padding-bottom: 9px;}
.m_ulike ul{width: 829px;overflow:hidden;}
.m_ulike strong{display:block;font-weight:normal;font-size:12px; color:#333;text-align: left; line-height: 35px;}
.m_ulike li{width:180px; float: left;margin-right: 20px;font-family: Arial,"宋体";}
.m_ulike li span{text-align:center;font-family: Arial,"宋体";}
.m_ulike li a:hover .ulike_pro{color:#666;}
.ulike_pro{padding-top: 5px;padding-bottom: 7px;}
.ulike_price{font-family: Arial,"微软雅黑";padding: 6px 0;display: block;}
.ulike_price b{color:#f55549;font-size: 15px;font-family: Arial,"微软雅黑";padding-right: 10px;}
.ulike_price b i{font-size:12px;font-weight:normal;}
.ulike_price s{color:#999;font-family: Arial,"微软雅黑";}


.f_ad_fix{text-align: right;}
.f_ad_fix img{padding-bottom: 10px;}
.f_line_title{padding-top: 5px;text-align: right;}
.f_line_title span{border-bottom:4px solid #333;border-top: 1px solid #333; background:#fff; height: 3px;display:inline-block;width: 100px;vertical-align:middle;}
.f_line_title em{padding: 0 15px; font-size:18px; color:#000;vertical-align:middle;}

.m_ad_lft{padding-top: 15px;}
.m_ad_lft li{ margin-bottom: 10px;}


/*min focus*/

.mi_focus{padding-bottom: 10px;text-align: right;}
.animateTShel2{width:308px;height:220px;margin-top:15px;overflow:hidden;position:relative;z-index:0;display: inline-block;}
.animateTShel2 div{width:308px;height:220px;margin:0 auto;position:relative;overflow:hidden}
.animateTShel2 div ul{width:3000px;height:200px;position:absolute;left:0;top:0;z-index:5}
.animateTShel2 div ul li{width:308px;height:200px;float:left;overflow:hidden;position:relative;}

.animateTShel2 div ul li span{background:url('../../ww3/bradstory/repeat_x.png') repeat-x;width: 288px; height: 27px;padding:10px 10px 0; line-height: 27px; bottom: 0; left: 0;display: block; z-index: 2; text-align:left;position: absolute;color:#fff;}
.animateTShel2 div ul li span i{float: right;}


.animateTShel2 .disc_border{width:100%;height:20px;position:absolute;display:block;overflow:hidden;left:0;bottom:-7px;text-align:center;z-index:10}
.animateTShel2 .disc{width:9px;height:9px;margin-left:3px;margin-right:3px;display:inline-block;cursor:pointer;background:url('../../ww3/bradstory/donghua_disc.png') left top no-repeat}
.animateTShel2 .disc_hover{width:9px;height:9px;margin-left:3px;margin-right:3px;display:inline-block;cursor:pointer;background:url('../../ww3/bradstory/donghua_disc.png') right top no-repeat;}


/*匠心*/
.gray_brod{}
.line_hr_02{border-top:1px solid #000000;border-bottom: 1px solid #cccccc; background:#fff; height: 2px;display: block;margin: 0px auto 35px;}
.a_title_link{text-align:center;margin-bottom: 40px;}
.a_title_link a{display:inline-block;margin: 0 15px;font-size:24px;color:#000; font-family:"宋体";padding-bottom: 4px;letter-spacing: 2px;}
.a_title_link a.line{color:#ff8a81;}
.a_title_link a:hover.line{color:#ff8a81;}
.txt_show{overflow:hidden;text-align: justify;}
.txt_show:after{ clear:both; visibility:hidden; display:block; height:0; font-size:0;}
.txt_show dt a{height:0; font-size: 0;}
.txt_show dt strong{font-size:28px; color:#000;font-family: "宋体";padding-bottom:12px;width: 100%;display:inline-block;margin-bottom: 15px;text-align:center;}
.txt_show dt{padding:46px 5px 0 45px;} 
.txt_show dt p{line-height:24px;margin-bottom:24px;text-align: justify;}
.pnk_rig{background:#fdf2ec;overflow:hidden;margin-bottom: 30px;}

.pnk_rig dd ,.pnk_rig02 dd{float:left;width:768px;}
.pnk_rig dd img ,.pnk_rig02 dd img{ height:auto;display:block;}
.pnk_rig dt{float:left;width:325px;text-align: left;}
.wht_rig{background:#1f3479;margin-bottom:30px;}
.wht_rig dt strong{color:#fff;padding-bottom:18px;}
.wht_rig dd{float:right;width:768px;height:682px;}
.wht_rig dt{float:left;width:525px;text-align: right;} 
.a_txt_02 dt{width: 328px; padding: 73px 0px 0 45px	;background:#1f3479; color:#fff;}
.a_txt_02 dd{}

.pnk_rig02{background:#fff5f3;margin-bottom:30px;}
.pnk_rig02 dt{text-align:center;width:410px;}
.pnk_rig02 dt strong{margin-bottom:30px;display:inline-block;}
.pnk_rig02 dt p{margin-bottom:0;line-height:30px;text-align:center;}

.wht_bg{background:#fff;margin-bottom:30px;}
.wht_bg strong{font-size:28px;line-height:36px;display:inline-block;font-family:"宋体";}
.wht_bg i{border-bottom:1px solid #000;border-top:1px solid #000;padding:14px 0;line-height:24px;display:block;margin:20px 50px 30px;}
.gray_bg{background:#f9f9f9;margin-bottom:30px;}
.gray_bg dt strong{display:inline-block;}

.table_show{display:table;vertical-align:middle;}
.table_show dd,.table_show dt{display:table-cell;vertical-align:middle;}
.table_show dt strong{font-size:28px;font-weight:normal;}
/*企业责任*/
.m_duty_02:after,.m_duty_lst li:after{ clear:both; visibility:hidden; display:block; height:0; font-size:0;}
.m_duty_01{background:url('../../ww3/bradstory/cmpy_01.jpg') right top no-repeat;width:1180px;height: 517px;margin: 0 auto 40px;}
.m_duty_02{margin:0 0px 40px;overflow:hidden;}
.m_duty_02 img{float:left;}
.m_duty_02_txt{width:462px; padding:0 15px 0 35px;float:right;text-align: justify;}
.m_duty_02_line{display:block;width:265px;border-bottom: 1px solid #000;height:0;margin:15px auto;}
.m_duty_02_title{display:block;text-align:center;font-size: 18px; color:#000;font-family:Arial,"宋体";font-weight:normal;padding-bottom: 5px;line-height: 25px;}
.m_duty_02_subtitle{display:block;text-align:center;line-height:24px;}

.wht_bg .m_duty_lst{padding-top: 13px;height:315px;overflow:hidden;padding:0 25px;margin: 0 10px 0 20px;}
.m_duty_lst li{overflow:hidden;text-align:left;}
.m_duty_lst li span{color:#333;font-family: Arial;display: inline-block;width:36px;height:24px;float:left;line-height:24px;text-align: center;vertical-align:middle;}
.m_duty_lst li em{line-height:24px;padding-left:50px;display: block;font-size: 12px; color:#333; font-family:Arial,"宋体";}

.m_duty_03{margin:0 0px 40px;overflow:hidden;background:#fdf2ec;}
.m_duty_03 img{float:left;}
.m_duty_03_txt{width:500px; padding:25px 15px 0 60px;float:left;}
.icon_drop,.icon_drop_02{width:25px;height: 13px;display:block;margin:23px auto 0;cursor:pointer;}
.icon_drop{background:url('../../ww3/bradstory/icon_drop.png') right top no-repeat;}
.icon_drop_02{background:url('../../ww3/bradstory/icon_drop02.png') right top no-repeat;}
#duty_lst_wp{position:relative;height: 460px;margin: 13px 10px 0 20px;z-index: 0;padding:15px 25px 0 7px;overflow:hidden;}
#duty_lst{position: absolute;top: 0;left: 0;z-index: 1;}


.txt li{font-family: Arial,"宋体"!important;}
.a_txt_03{background:#fff;}
.a_txt_03 dt{padding:50px 48px 0;background:#f5f5f5;width:315px;height:486px;}
/*品牌溯源*/

.bran_boss{width:1180px;margin:0 auto;clear:both;height:476px;}
.bran_boss_txt,.bran_boss_pic{float:left;}
.bran_boss_pic{width:768px;position:relative;z-index:0;}
.bran_boss_name{position:absolute;bottom:40px;font-size:12px;color:#fff;width:200px;}
.bran_boss_name em,.bran_boss_name span{display:block;}
.bran_boss_name em{font-size:24px;}
.bran_boss_name i{width:55px;border-bottom:1px solid #fff;height:0;margin:25px 0;display:inline-block;opacity: 0.5;
filter: alpha(opacity=50);}

.bran_boss_txt{font-size: 12px;color: #333333;width:410px;}
.bran_boss_txt_p{line-height: 21px;text-align: justify;width:320px;margin: 0 auto;}
.bran_boss_txt_p p{margin-bottom:13px;}
.left_bran{background:#f5f5f5;margin-bottom:30px;}
.left_bran .bran_boss_name{left:40px;text-align:left;}
.left_bran  .bran_boss_txt_p{padding-top:28px;}


.rig_bran{background:#fff;}
.rig_bran .bran_boss_name{right:40px;text-align:right;}
 .rig_bran  .bran_boss_txt_p{padding-top:67px;}
.syContent{
	width: 1180px;
	height: auto;
	overflow: hidden;
}
.syContentR{
	width: 315px;
	height: 684px;
	overflow: hidden;
	float: left;
	padding:60px 48px 0;
	background:#f5f5f5;
}
.syContentRTitle{

	
	text-align: center;
	font-size: 18px;

	color: #030303;
	font-family:'宋体';
	
}
.syContentRTitle span{font-size:28px;}
.syContentRTitle  i{display:inline-block;display:block;width:68px;border-bottom: 1px solid #030303;margin:22px auto;}
.syContentRTitleCenter{
	width: 100%;
	
	text-align: center;
	font-size: 28px;
	color: #030303;
	font-family:'宋体';
}
.syContentRTitleLine{
	;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	margin-top: 18px;
	font-size: 18px;
	color: #030303;
	font-family:'宋体';
}
.syContentRCon{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 20px;
	line-height: 24px;
	text-align: justify;
	font-size: 12px;
	color: #333333;
	
	font-family:Arial,'宋体';
}
.syContentRLine{
	width: 310px;
	height: 1px;
	overflow: hidden;
	margin-top: 50px;
	background: #141114;
}
.suyuanBg2{
	width: 1137px;

	overflow: hidden;
	margin: 0 auto;
	position: relative;
	margin-bottom: 20px;
	background:#f9f9f9;
}
.ladder_bg{
	margin-top: 230px;
	background:url('../../ww3/bradstory/suyuanBg2.jpg')  top center repeat-y;
	width: 1137px;	
}
.ladder_bg:after{content:"";clear:both;display:block;height:0;line-height:0;font-size:0;}
.ladder_bg_bt{background:url('../../ww3/bradstory/suyuanBg2_bt.jpg')  top center no-repeat;width: 1137px;	height:260px;	}



.suyuanLogo{
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -71.5px;
	top: 70px;
	z-index: 5;
}
.hosLeft{
	width: 497px;
	height: auto;
	float: left;
	margin-left: 47px;
	
}
.hosRight{
	width: 497px;
	height: auto;
	float: left;
	margin-left: 55px;
}
/* .hosfu5{
	margin-top: -122px;
}
.hosfu4{
	margin-top: -105px;
}
.hosfu3{
	margin-top: 85px;
}
.hosfu2{
	margin-top: 85px;
}
.hosfu1{
	margin-top: 85px; 
}
.hos0{
	margin-top: 85px;
}
.hosfu1{
	margin-top: 61px; 
}
.hos1{
	margin-top: 87px; 
}
.hos2{
	margin-top: 80px; 
}
.hos3{
	margin-top: 85px;
}
.hos4{
	margin-top: 90px;
}
.hos5{
	margin-top: 105px;
}
.hos6{
	margin-top: 88px;
}
.hos7{
	margin-top: 85px;
}
.hos8{
	margin-top: 85px;
}
.hos9{
	margin-top: 88px;
}
.hos10{
	margin-top: 74px;
}
.hos11{
	margin-top: 72px;
}
.hos12{
	margin-top: 97px;
}
.hos13{
	margin-top: 98px;
}
.hos14{
	margin-top: 75px;
}
.hos15{
	margin-top: 74px;
}
.hosImg{
	
} */


.hosBor{
	width: 497px;
	height: 286px;
	margin-top: 86px;
}
.hosImg{
	display: none;
}
.hosBor_top1{margin-top: -120px;}
.hosBor_top2{margin-top: 80px;}