@charset "utf-8";
/* CSS Document */

body{ margin:0; padding:0; font-size:12px; color:#333;}
a:link{color:#333; text-decoration:underline;}
a:hover {color:#333; text-decoration:underline;}
a:active {color:#333; text-decoration:underline;}
a:visited {color:#333; text-decoration:none;}


.gray666line{ color: #666; font-weight: normal; text-decoration:line-through;}
.gray666{ color: #666; font-weight: normal;}
a.gray666:link,a.gray666:visited{ color: #666;text-decoration: none;}
a.gray666:hover{ text-decoration: underline; color: #666;}
a.gray666:active {color:#666; text-decoration:underline;}

.gray999{ color: #999; font-weight: normal;}
a.gray999:link,a.gray999:visited{ color: #999;text-decoration: none;}
a.gray999:hover{ text-decoration: underline; color: #999;}
a.gray999:active {color:#999; text-decoration:underline;}

.orange16{ color: #B19793; font-weight: normal;font-size:16px;}
.orange{ color: #B19793; font-weight: normal;}
a.orange:link,a.orange:visited{ color: #B19793;text-decoration: none;}
a.orange:hover{ text-decoration: underline; color: #B19793;}
a.orange:active {color:#B19793; text-decoration:underline;}
.orange00{ color:#987976;}

.green{ color: #3DA557; font-weight: normal;}
a.green:link,a.green:visited{ color: #3DA557;text-decoration: none;}
a.green:hover{ text-decoration: underline; color: #3DA557;}
a.green:active {color:#3DA557; text-decoration:underline;}

.red16{ color: #F2776C; font-weight: normal; font-size:16px;}
.red{ color: #F2776C; font-weight: normal;}
a.red,a.red:visited{ color: #F2776C;text-decoration: none;}
a.red:hover{ text-decoration: underline; color: #F2776C;}
a.red:active {color:#F2776C; text-decoration:underline;}
.redlight{color: #CC3300; font-weight: normal; }

.cart_step1{
	width:980px;
	height:55px;
	margin:0 auto;
}
.cart_list{	
	width:980px;
	border-left:#BEC5C9 solid 1px;
	border-right:#BEC5C9 solid 1px;
	border-top:#BEC5C9 solid 1px;
}
.cart_list tr td{
	color:#666666;
	border-bottom:#BEC5C9 solid 1px;
}
.product_img{
	border:#CF897E solid 1px;	
}
#salePrice{
	text-decoration:line-through;
}
#discount{
	color:#3DA557;
}
#discountPrice{
	color:#F2776D;
}
.dollor_pink{
	color:#F2776D;
}
.cart_oper:link{
	color:#666666;
	text-decoration:underline;	
}
.cart_oper:visited{
	color:#666666;
	text-decoration:underline;	
}
.cart_oper:hover{
	color:#ff0000;
	
}
.choose_item{
	height:20px;
    line-height:20px;
    margin:10px auto 0 auto;
    width:980px;
	text-align:left;	
}

.green_tit{
	line-height:20px;
	color:#3DA557;
	margin-left:10px
}
.add_money{
	color:#ff0000;
	font-weight:bold;
	margin-right:20px;
}
.sub_money{
	color:#3DA557;
	font-weight:bold;
	margin-right:20px;
}
.checkbox{
	vertical-align:middle;
}
#couponBody,#activeBody,#refereeBody{
	margin:0 auto;
	border:#F1D9D8 solid 1px;
}
.input1{
	width:278px;
	height:30px;
	background:url(../../ww3/cart/cart_input.jpg) no-repeat;
	float:left;
	border:none;
	padding-left:5px;
	line-height:30px;
	margin-left:18px;
}
.input1_a{
	float:left;
	padding-top:4px;
	margin-left:10px;
}

.count_money{
	margin:10px auto;
	border-top:#999999 dotted 1px;
}
.count_money tr td{
	color:#666666;
}

.no_cost{
	color:#3DA557;
}
.should_pay{
	color:#F2776D;
	font-weight:bold;
	font-size:14px;
}
.action_pay{
	color:#B29999;
	font-weight:bold;
	font-size:14px;
}
.cart_open{
	width:20px;
	height:20px;
	background:url(../../ww3/cart/cart_expand.jpg) no-repeat;
	float:left;
	cursor:pointer;
}
.cart_close{
	width:20px;
	height:20px;
	background:url(../../ww3/cart/cart_close.jpg) no-repeat;
	float:left;
	cursor:pointer;
}
/* Jquery ��֤ */
span.validator_error { padding-left: 18px; margin: 0 2px 0 0px; display: inline; color: #A41F24; background: url("../../error.gif") no-repeat left center; }
span.validator_success { padding-left: 22px; margin: 0 2px 0 2px; color: #E35075; display: inline; background:url("../../right.gif") no-repeat left center; }
label.validator_error { padding-left: 18px; margin: 0 2px 0 0px; display: inline; color: #A41F24; background: url("../../error.gif") no-repeat left center; }
label.validator_success { padding-left: 18px; margin: 0 2px 0 2px; color: #E35075; display: inline; background:url("../../right.gif") no-repeat left center; }

.cart_step2 {font-family:Arial, Helvetica, sans-serif; text-align:left; }
.cart_step2 input{ border:none; vertical-align:middle;}
.cart_step2 .inputStyle{ border:none; vertical-align:middle; background:none;}
.cart_step2 .cont{ width:948px; border:solid 1px #BEC5C9; padding:15px; margin:0 auto;}
.cart_step2 .cont .consigneeInfor,.cart_step2 .cont .payment{ border-bottom:dotted 1px #999; margin-bottom:15px; padding-bottom:10px;width:948px; }
.cart_step2 .cont .consigneeInfor h2{ font-size:14px; font-weight:bold; margin-bottom:10px; }
.cart_step2 .cont .consigneeInfor p{ margin-bottom:10px;}
.cart_step2 .cont .consigneeInforDetail{ background:#FDE8E3; padding:10px; margin:0 20px;padding-bottom:0px; margin-bottom:10px; border-bottom:none; width:888px;}
.cart_step2 .cont .consigneeInforDetail li{ float:left; margin-bottom:10px; width:888px;}
.cart_step2 .cont .consigneeInforDetail li h3{ float:left; width:100px; font-weight:normal; text-align:right; color:#666; padding-top:7px;}
.cart_step2 .cont .consigneeInforDetail li h4{ float:left; width:700px; font-weight:normal;color:#999; padding-left:10px;}
.cart_step2 .cont .payment h2{font-size:14px; font-weight:bold;}
.cart_step2 .cont .payment li{ float:left; width:948px; margin-top:10px;}
.cart_step2 .cont .payment li h3{ width:200px; float:left; font-weight:normal; }
.cart_step2 .cont .payment li p{ width:600px; float:left; color:#999; }
.cart_step2 .cont .goodsList{ width:948px; margin-bottom:15px;}
.cart_step2 .cont .goodsList .goodsListTop{ border-bottom:#D3D9DC solid 1px; padding-bottom:10px;}
.cart_step2 .cont .goodsList .goodsListTop h2{font-size:14px; font-weight:bold; float:left;}
.cart_step2 .cont .goodsList .goodsListTop p{ float:right; background:url(../../ww3/cart/cart_r2_c2.jpg) no-repeat; padding-left:25px;}
.cart_step2 .cont .goodsList .goodsListDetail{ background:url(../../ww3/cart/cartbg.jpg) repeat-x top;}

.cart_step2 .cont .goodsList .goodsListDetail td{ padding:5px 10px; height:20px; border-bottom:#D3D9DC solid 1px;line-height:18px; color:#666;}
.cart_step2 .cont .orderCheck{ width:948px;}
.cart_step2 .cont .orderCheck .left{ float:left; width:480px;}
.cart_step2 .cont .orderCheck .right{ float:right;}
.cart_step2 .cont .orderCheck .contClose{ margin-bottom:10px;}
.cart_step2 .cont .orderCheck .contClose p{ float:left;} 
.cart_step2 .cont .orderCheck .contClose h2{ float:left; font-weight:bold; font-size:14px; padding-left:10px; padding-top:2px;} 
.cart_step2 .cont .orderCheck .contOpen{ margin-bottom:10px;}
.cart_step2 .cont .orderCheck .contOpenTop{ height:18px;}
.cart_step2 .cont .orderCheck .contOpenTop p{ float:left;} 
.cart_step2 .cont .orderCheck .contOpenTop h2{ float:left; font-weight:bold; font-size:14px; padding-left:10px; padding-top:2px;} 
.cart_step2 .cont .orderCheck  .contOpenDetail{ background: url(../../ww3/cart/cartbg02.jpg) no-repeat top; padding-top:1px;}
.cart_step2 .cont .orderCheck  .contOpenDetailBg{ border:solid 1px #F1D9D8; background:#FDE8E3;padding:10px 5px; border-top:none; padding-bottom:0px;}
.cart_step2 .cont .orderCheck  .contOpenDetailBg p{ line-height:20px; color:#999; margin-bottom:8px;}
.cart_step2 .cont .checkOut{ width:450px;}
.cart_step2 .cont .checkOut li{ width:450px;text-align:right; font-weight:normal; line-height:28px; display:block; color:#666;}

.cart_step2 .tips{ background:#E6ECEE; border:solid 1px #BEC5C9; padding:0 15px; text-align:right; line-height:30px; border-top:none; width:948px; margin:0 auto; color:#666; margin-bottom:20px;}
.cart_step2 .cartBottom{width:980px; margin:0 auto; }
.cart_step2 .orderSubmit{ float:right;text-align:right; width:450px;}
.cart_step2 .orderSubmit p{ margin-bottom:10px; color:#666;}
.cart_step2 .orderSubmit .imgform{ border:solid 1px #CCC; padding:0px 3px;vertical-align:middle;}
*html .cart_step2 .orderSubmit .imgform{ border:solid 1px #CCC; padding:0px 3px; margin-top:4px;}
.cart_step2 .cont .deliveryAddress{ margin:0 20px; width:908px;}
.cart_step2 .cont .deliveryAddress li{ float:left; border-bottom:dotted 1px #999; width:908px; margin-bottom:10px; padding-bottom:7px}
.cart_step2 .cont .deliveryAddress li h3{ float:left; color:#666; font-weight:normal;}
.cart_step2 .cont .deliveryAddress li p{ float:right; color:#999;}
.cart_step2 .cont .deliveryAddressDetail{ background:#FDE8E3; padding:10px; margin:0 20px;padding-bottom:0px; margin-bottom:10px; border-bottom:none; width:888px;}
.cart_step2 .cont .deliveryAddressDetail li{ float:left; margin-bottom:10px; width:888px;}
.cart_step2 .cont .deliveryAddressDetail li h3{ float:left; width:80px; font-weight:normal; text-align:right; color:#666; padding-top:7px;}
.cart_step2 .cont .deliveryAddressDetail li h4{ float:left; width:700px; font-weight:normal;color:#999; padding-left:10px;}
.cart_step2 .cont .deliveryAddressDetail li h5{ float:left; width:700px; font-weight:normal;color:#666; padding-left:10px;}
.cart_step2 .cartLogin{ width:980px; margin:0 auto; margin-bottom:10px; color:#999;}
.cart_step2 .cartLogin .left{ float:left;}
.cart_step2 .cartLogin .left img{ vertical-align:bottom;}
*html .cart_step2 .cartLogin .left img{ vertical-align:text-bottom; }
.cart_step2 .cartLogin .right{ float:right; height:26px;}
*html .cart_step2 .cartLogin .right{ float:right; height:26px;padding-top:10px; }
*html .cart_step2 .cartLogin .right img{ vertical-align:middle; }
.cart_step2 .cartLogin .right img{vertical-align:middle;}
.cart_step2 .staffService{ float:left; background:#FDE8E3; border:solid 1px #F1D9D8; width:456px; padding:10px 20px; }
.cart_step2 .staffService h3{ float:left; width:271px; font-weight:normal; font-size:14px; color:#666;}
.cart_step2 .staffService h4{ float:left; width:185px; text-align:right;font-weight:normal; margin-top:3px;}
.cart_step2 .staffService .lightStar{ background:url(../../ww3/cart/cartpj_r1_c1_s1.jpg) no-repeat; width:21px; height:22px; margin-right:2px; float:left;}
.cart_step2 .staffService .darkStar{ background:url(../../ww3/cart/cartpj_r1_c3_s1.jpg) no-repeat;width:21px; height:22px; margin-right:2px; float:left;}
.cart_step2 .staffService .assess{ float:left; padding-top:5px; font-size:14px; color:#666;}
.cart_step2 .submitbutton{ background:url(../../ww3/cart/cart_r5_c4.jpg) no-repeat;height:37px;width:119px;cursor:pointer;}

.order_pay { text-align:left;}
.order_pay .tit{ text-align:center; padding:20px 0;}
.order_pay .cont{ width:978px; border:solid 1px #BEC5C9; margin:0 auto;}
.order_pay .tips01{ margin-bottom:10px; padding:15px;}
.order_pay .tips01 h3{ font-weight:normal; font-size:16px; color:#666; background:url(../../ww3/cart/payment_r4_c19_s1.jpg) no-repeat; padding-left:30px; line-height:26px; margin-left:0px; margin-bottom:15px; }
.order_pay .tips01 h4{ font-weight:normal; text-align:left; font-size:14px; color:#666; margin-bottom:15px;}
.order_pay .tips01 h5{ font-weight:bold; font-size:14px; color:#666; line-height:25px;}
.order_pay .tips01 h6{ line-height:40px; padding:7px 0 7px 30px; text-align:center; font-size:16px; font-weight:bold; border:solid 1px #EAE5C8; color:#987976; margin-bottom:10px; background-color:#FEFBD0;  background: url(../../ww3/cart/payment_r25_c2_s1_2.gif) no-repeat #FEFBD0 90px 19px;}
.order_pay .tips01 p{ color:#999; line-height:25px;}
.order_pay .tips01 .commonseach{ color:#987976 }
.order_pay .paymentMode{ background:url(../../ww3/cart/payment_r6_c7_s2_s1.jpg) repeat-x ;; height:27px;}
.order_pay .paymentTab{ float:left; padding-left:10px; }
.order_pay .paymentNotice { padding:10px 0 0 40px; color:#F2776C;background:#FAFAFA; }
*html .order_pay .paymentTab{ float:left; padding-left:10px; width:290px;}
.order_pay .paymentTab li{ float:left; width:89px; margin-left:5px; color:#333;}
.order_pay .paymentTabNormal{ cursor: pointer; background:url(../../ww3/cart/payment_r6_c7_s1.jpg) no-repeat; text-align:center; line-height:27px; width:89px; float:left;}
.order_pay .paymentTabAction{ font-weight:bold; background:url(../../ww3/cart/payment_r6_c3_s1.jpg) no-repeat; text-align:center; line-height:27px; width:89px; float:left;}
.order_pay .paymentTabOnline{  padding:2px 5px; margin-right:10px; border:1px solid #EAE5C8; background:#FEFBD0; color:#987976; float:right; }
.order_pay .paymentTabOnline span { color:#987976; }
.order_pay .paymentGo{ float:left; background:url(../../ww3/cart/payment_r6_c12_s1.jpg) no-repeat; width:100px; height:24px; line-height:24px; margin-left:5px; text-align:center; color:#FFF;}
.order_pay .paymentDetail{ background:#FAFAFA; padding:40px; padding-top:20px;}
.order_pay .paymentDetailTop{ border-bottom:dotted 1px #999; margin-bottom:15px; padding-bottom:10px; color:#666;}
.order_pay .paymentDetailTop .paymentDetailContent { padding:6px 0 6px 110px; background-color:#FDE8E3; font-size:14px; }
.order_pay .paymentChoice{ width:908px;}
.order_pay .paymentChoice li{ float:left; width:908px; margin-bottom:20px;}
.order_pay .paymentChoice li h3{ color:#666; float:left; line-height:33px; font-weight:normal; width:110px;}
.order_pay .paymentChoice li h4{  float:left; padding-right:5px; padding-top:5px;}
.order_pay .paymentChoice li p{ color:#666; float:left;border:solid 1px #AFAFAF; width:120px; height:36px; text-align:center; vertical-align:middle; background:#FFF; margin-right:30px;}

.order_pay .paymentDetail input{ background:none;}
.order_pay .paymentDetail .button01{ background:url(../../ww3/cart/payment_r23_c21_s1.jpg) no-repeat; width:119px; height:37px; text-align:center; line-height:37px; font-size:16px; color:#FFF; margin:0 auto;}
.order_pay .tips02{ width:976px; margin:10px auto; text-align:left;}
.order_pay .tips02 h3{ font-weight:bold;  color:#666; background:url(../../ww3/cart/payment_r25_c2_s1.jpg)  no-repeat 0 5px; padding-left:25px; line-height:26px; margin-bottom:5px; }
.order_pay .tips02 h4{ font-weight:normal; color:#666; margin-bottom:8px;}
.order_pay .lineunder{ width:680px; margin:0 auto;}
.order_pay .lineunder h3{ font-size:14px; font-weight:normal; line-height:25px; color:#666; margin-bottom:5px;}
.order_pay .lineunder table{ border:solid 1px #BEC5C9;}
.order_pay .lineunder td{ padding:15px; color:#333; font-size:14px;}
.order_pay .lineunder .td01{ border-bottom:solid 1px #BEC5C9;border-right:solid 1px #BEC5C9;border-left:solid 1px #FAFAFA;}
.order_pay .lineunder .td02{ border-right:solid 1px #BEC5C9;border-left:solid 1px #FAFAFA;}
.order_pay .lineunder .td03{ border-bottom:solid 1px #BEC5C9;}

.pay_pop{ width:520px; height:385px; text-align:center; background:#FDFDFD;}
.pay_pop h2{ font-size:16px; font-weight:bold; line-height:35px; color:#333; padding-top:25px;}
.pay_pop h3{ font-size:14px; font-weight:normal; line-height:25px; color:#666; margin-bottom:25px;}
.pay_pop .left{ float:left; background:url(http://res.zbird.cn/css/wwwcache/images/tips_r2_c4_s1.jpg) no-repeat right top; width:260px; height:208px; padding-right:20px}
.pay_pop .right{ float:right; width:240px;height:208px;}
.pay_pop .button01{ background:url(../../ww3/cart/payment_r23_c21_s1.jpg) no-repeat; width:119px; height:37px; text-align:center; line-height:37px; font-size:16px; color:#FFF; margin:0 auto;}
.pay_pop .button02{ background:url(../../ww3/cart/payment_r23_c21_s1_2_s1.jpg) no-repeat; width:117px; height:35px; text-align:center; line-height:35px; font-size:16px; color:#FFF; margin:0 auto;}
.pay_pop .cart_back{ width:480px; height:43px; margin:0 auto; background:#F5F5F5; line-height:43px; font-size:14px;}
.pay_pop img{ margin-bottom:15px;}

.cart_status{ width:980px; margin:15px auto; font-family:Arial, Helvetica, sans-serif; text-align:left; margin-top:5px;}
.cart_status .top{ height:32px; background:#E6ECEE; border:solid 1px #D3D9DC; border-bottom:none; padding:0 20px;}
.cart_status .top h2{ font-size:14px; font-weight:normal; float:left; margin-right:40px; line-height:32px; color:#666;}
.cart_status .top h3{ font-size:14px; font-weight:normal; float:left; margin-right:10px; line-height:32px; color:#666;}
.cart_status .top h4{ float:left; padding:5px;}
.cart_status .top p{ float:right; line-height:32px; color:#666; font-size:14px;}
.cart_status .cont{ border:solid 1px #D3D9DC; padding:15px 20px;}
.cart_status .cont .tips{ font-weight:normal; background: url(../../ww3/cart/payment_r25_c2_s1_2.gif) no-repeat #FEFBD0 10px 8px; border:solid 1px #EAE5C8; padding-left:30px; line-height:22px; color:#987976; margin-bottom:15px; padding-top:5px;}
.cart_status .cont .tips2{ height:28px; padding:10px 0 0 0; text-align:center; font-size:16px; font-weight:bold; color:#666666; }
.cart_status .cont .tips3{ padding:5px 0 10px 35px; background: url(../../ww3/cart/payment_r25_c2_s1_3.gif) no-repeat; }
.cart_status .cont .tips4{ padding:15px 0 30px 0; text-align:center; font-size:14px; color:#666666; }
.cart_status .Infors{ border-bottom:dotted 1px #999; margin-bottom:20px; width:934px; padding:0 2px; padding-bottom:20px;}
.cart_status .Infors h2{ font-size:14px; font-weight:bold; line-height:30px;width:934px; color:#000;}
.cart_status .Infors h3{ float:left; width:70px; line-height:28px; font-weight:normal; color:#000;}
.cart_status .Infors p{ float:left; width:864px;line-height:28px; color:#666;}
.cart_status .Infors h4{ float:left; width:834px;line-height:28px; color:#666; background:#FAFAFA; padding:5px 15px; font-weight:normal;} 

.cart_status .goodsList{ width:938px; margin-bottom:15px;  color:#666;}
.cart_status .goodsList .goodsListTop{ border-bottom:#D3D9DC solid 1px; padding-bottom:10px;}
.cart_status .goodsList .goodsListTop h2{font-size:14px; font-weight:bold; float:left;}
.cart_status .goodsList .goodsListTop p{ float:right; background:url(../../ww3/cart/cart_r2_c2.jpg) no-repeat; padding-left:25px;}
.cart_status .goodsList .goodsListDetail{ background:url(../../ww3/cart/cartbg.jpg) repeat-x top;  color:#666;}
.cart_status .goodsList .goodsListDetail table{border-left:#D3D9DC solid 1px;}
.cart_status .goodsList .goodsListDetail td{ padding:5px 0px; height:20px; border-bottom:#D3D9DC solid 1px; border-right:#D3D9DC solid 1px;line-height:20px;}
.cart_status .goodsList .goodsListDetail .tdRight{ border-right:none;}
.cart_status .checkOut{ margin-bottom:5px; }
.cart_status .checkOut li{ text-align:right; font-weight:normal; line-height:25px; display:block; color:#666;}
.cart_status .backlist{ height:32px; background:#E6ECEE; border:solid 1px #D3D9DC; border-top:none; padding:0 20px; text-align:right; line-height:32px;}
.cart_status .goodstyle{ color:#666; margin-left:10px; width:250px;}
.cart_status .goodstyle img{border:solid 1px #CF897E; margin:10px 10px 10px 5px; float:left;}
.cart_status .goodstyle p{ float:right; width:180px; text-align:left; line-height:20px; padding-top:15px;}

.cart_myOrder{ text-align:left; width:980px; margin:15px auto; margin-top:5px;}
.cart_myOrder .left{ float:left; width:215px;}
.cart_myOrder .right{ float:right; width:752px; }
.cart_myOrder .myOrderDetail{border-left:#D3D9DC solid 1px;border-top:#D3D9DC solid 1px; color:#666;}
.cart_myOrder .myOrderDetail td{border-right:#D3D9DC solid 1px;border-bottom:#D3D9DC solid 1px; line-height:20px; }
.cart_myOrder .myOrderDetail .top{ height:32px; line-height:32px; font-size:14px; color:#333; padding:0 15px; font-weight:bold; background:#F9FBFC;text-align:left;}
.cart_myOrder .myOrderDetail .title{ height:25px; line-height:25px; color:#999;padding:0 15px; background:#F9FBFC;}
.cart_myOrder .myOrderDetail .tdRight{ border-right:none;}
.cart_myOrder .myOrderDetail .tdBottom{ border-bottom:none;}
.cart_myOrder .goodstyle{ color:#666; border-bottom:dotted 1px #D3D9DC; margin-left:10px; width:250px;}
.cart_myOrder .goodstyle img{border:solid 1px #CF897E; margin:10px 10px 10px 5px; float:left;}
.cart_myOrder .goodstyle p{ float:right; width:180px; text-align:left; line-height:20px; padding-top:15px;}

/*以下为3月9号修改*/
.cart_step1{ text-align:left; width:980px; margin:0 auto;}
.cart_step1 .tit{ background:url(../../ww3/cart/tit.jpg) no-repeat 0px 0px; margin:20px 0; width:660px; height:30px; text-align:center;}
.cart_step1 .tit h2{ float:left; width:220px; line-height:30px; font-weight:bold; font-size:14px; color:#FFF;}
.cart_step1 .tit p{ float:left; width:220px; line-height:30px; font-size:14px;}
.cart_step2{ text-align:left; width:980px; margin:0 auto;font-family:Arial, Helvetica, sans-serif;}
.cart_step2 .tit{ background:url(../../ww3/cart/tit.jpg) no-repeat 0px -40px; margin:20px 0; width:660px; height:30px; text-align:center;}
.cart_step2 .tit h2{ float:left; width:220px; line-height:30px; font-weight:bold; font-size:14px; color:#FFF;}
.cart_step2 .tit p{ float:left; width:220px; line-height:30px; font-size:14px;}
.cart_step3{ text-align:left; width:980px; margin:0 auto;font-family:Arial, Helvetica, sans-serif;}
.cart_step3 .tit{ background:url(../../ww3/cart/tit.jpg) no-repeat 0px -80px; margin:20px 0; width:660px; height:30px; text-align:center;}
.cart_step3 .tit h2{ float:left; width:220px; line-height:30px; font-weight:bold; font-size:14px; color:#FFF;}
.cart_step3 .tit p{ float:left; width:220px; line-height:30px; font-size:14px;}
/*以上为3月9号修改*/

/*以下为3.11修改*/
.cart_step2 .cont .goodsList .goodsListDetail{ border-left:#D3D9DC solid 1px; border-right:#D3D9DC solid 1px;}
.cart_step2 .cont .goodsList .goodsListDetail .top{ background:#DCE5E7;}
.cart_step2 .cartLogin{ width:980px; margin:0 auto;  color:#666; background:#E6ECEE; line-height:40px;}
.cart_step2 .cartLogin .left{ float:left; padding-left:10px;}
.cart_step2 .cartLogin .left img{ vertical-align:bottom;}
*html .cart_step2 .cartLogin .left img{ vertical-align:text-bottom; }
.cart_step2 .cartLogin .right{ float:right; height:26px; padding-right:10px;}
/*以上为3.11修改*/

.exchange { width:960px; height:313px; margin:11px auto 0 auto; padding:6px 11px 6px 9px; background-color:#FDE8E3; overflow:hidden; }
.exchange dt { height:23px; }
.exchange dt span { width:114px; height:23px; line-height:23px; padding-left:24px; text-align:left; color:#666; font-size:14px; font-weight:bold; background-color:#FFF; float:left; }
.exchange dt em{padding:0 50px 0 0; text-align:right; font-style:normal;float:right; color:#999999; line-height:20px; }
.exchange dd { width:960px; height:290px; background-color:#FFF; }
.exchange dd ul {width:190px; height:290px;text-align:left; float:left; }
.exchange dd ul p { margin:0; padding:3px 0 0 28px; }
.exchange dd ul h2 { padding:7px 0 0 28px; color:#666; }
.exchange dd ul span { padding:9px 0 6px 28px; color:#F3776E; font-weight:bold; float:left; }
.exchange dd ul li span a:link{color:#F3776E; text-decoration:none;}
.exchange dd ul li span a:hover {color:#F3776E; text-decoration:none;}
.exchange dd ul li span a:active {color:#F3776E; text-decoration:none;}
.exchange dd ul li span a:visited {color:#F3776E; text-decoration:none;}
.exchange dd ul span { padding:9px 0 0 28px; color:#F3776E; font-weight:bold; float:left;}
.exchange dd ul em{font-style: normal;border: 1px solid #C8C9CD;cursor: pointer;float: left; height: 22px; line-height: 22px; margin: 5px 4px 0 30px; text-align: center; width:80px;}
/*.exchange dd ul li img {
	background: none repeat scroll 0 0 #FFE8F3;
	margin-top:30px;
	border-top: 1px solid #FFE8F3;
	border-left: 1px solid #FFE8F3;
    border-bottom: 2px solid #F2F2F2;
	border-right: 2px solid #F2F2F2;
	
}*/
.exchange dd ul li img {
	margin-top:30px;
	border: 1px solid #FFE8F3;
}

/*216-03-04 新增微信支付扫码页面*/
.f_wchat_wp{width:1180px;margin:0 auto 110px; display: none;}
.u_wchat_code{text-align: center;padding-top: 130px;padding-bottom: 20px;}
.u_wchat_tips{background:url(../../ww3/cart/wchat_tips.jpg) center no-repeat;width: 336px;height: 123px;margin:0 auto;}
.u_oder_chek{text-align: center;padding-top: 30px;}
.u_oder_chek span{color:#666;font-size: 12px;font-family:Arial,"宋体";padding:0 5px;}
.u_oder_chek span i{font-family:"微软雅黑";font-style: normal;}
/*end*/
