input{ 
	margin: 0;
	padding: 0;
	border:none; 
}
#layout{
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #f1f0f1;
}
.comlayout{
	width: 1180px;
	height: auto;
	margin: 0 auto;
	background: #fff;
	border-top: 2px solid #515151;
	border-bottom: 1px solid #dedede;
	overflow: hidden;
}
.navTit {
  width: 1180px;
  height: 45px;
  line-height: 45px;
  margin: 0 auto;
}
.floatL {
  float: left;
  margin: auto;
}
.contactCollect {
  width: 306px;
  margin-top: 20px;
}
.comInputBg{
	background:url('../../ww3/commonorder/comInputBg.jpg') center center no-repeat;
}
.comLeft{
	width: 542px;
	height: 392px;
	float: left;
	background:url('../../ww3/commonorder/comLine.jpg') right 110px no-repeat;
}
.comRight{
	width: 630px;
	height: 392px;
	float: left;
}
.comLeft ul{ 
	width: 300px;
	height: auto;
	overflow: hidden;
	margin-top: 105px;
	margin-left: 123px; 
}
.comLeft ul li{
	width: 300px;
	height: auto;
	float: left;
	overflow: hidden;
}
.order {
	width: 50px;
	height: 36px;
	padding-left: 12px;
	text-align: left;
	line-height: 36px;
	display: inline-block;
	font-family: Arial,"宋体";
	float: left;
	font-size: 12px;
}
.phone{
	width: 50px;
	height: 36px;
	padding-left: 12px;
	text-align: left;
	line-height: 36px;
	display: inline-block;
	font-family: Arial,"宋体";
	float: left;
	font-size: 12px;
}
.comInput {
	width: 237px;
	font-size: 12px;
	color: #999999;
	height: 36px;
	line-height: normal;
	line-height: 36px\9;
	float: left;
	text-align: left;
	background: transparent;
	overflow: hidden;
	font-family: Arial,"宋体";
}
.comLeft ul li div.comMessage{
	width: 100%;
	/*padding-left: 12px;*/
	height: 25px;
	line-height: 25px;
	text-align: left;
	color: #b90303;
}
.comLeft ul li input.comBtn{
	width: 298px;
	height: 37px;
	cursor: pointer;
	background:url('../../ww3/commonorder/comBtn.jpg') left top no-repeat;
}
.comLeft ul li input.comBtn:hover{
	background:url('../../ww3/commonorder/comBtn.jpg') right top no-repeat;
}
.comRight dl{
	width: 500px;
	height: auto;
	margin-top: 110px;
	margin-left: 88px;
	overflow: hidden;
}
.comRight dl dt{
	color: #333333;
	text-align: left;
	padding-bottom: 15px;
	font-family: Arial,"宋体"; 
	padding-left: 15px;
	font-size: 13px;
}
.comRight dl dd{
	color: #666666;
	text-align: left;
	line-height: 23px;
	font-family: Arial,"宋体"; 
	padding-left: 15px; 
	font-size: 12px;
	background:url('../../ww3/commonorder/comDisc.png') left 8px no-repeat;
}
.pab{
	padding-bottom: 15px;
}
.mgb{
	margin-bottom: 50px; 
}

/************20150908改版***************/
.conul{
	margin-top: 30px;
	margin-bottom: 50px;
}
.conul li{
	line-height: 30px;
	text-align: left;
	font-size: 12px;
	font-family: Arial,"宋体";
	color: #666666;
	
	/*background:url('http://img.zbird.cn/ww3/commonorder/disc.png') left 15px no-repeat;*/
}

.contArial{
	font-family: Arial, Helvetica, sans-serif;
}
.relative_div{
	position:relative;
	height:1px;
	line-height:1px; 
}
a{
	 hide-focus: expression(this.hideFocus=true);  /* for ie 5+ */
     outline: none;  /* for firefox 1.5 + */
}
input{
	 hide-focus: expression(this.hideFocus=true);  /* for ie 5+ */
     outline: none;  /* for firefox 1.5 + */
}
input::-ms-clear{display:none;}
.clearHight{
	width:100%;
	height:125px;
	overflow:hidden;
	clear:both;
}
/*Slide Start幻灯片位置开始*/

.left_daline{background:url("../../ww3/store/left_daline.jpg") center no-repeat;width:1px;height:228px;float: left; margin-right: 15px;}
.btm_daline{background:url("../../ww3/store/btm_daline.jpg") no-repeat center;width:100%;height:1px;clear: both;}
#yuyue_content_C_1 a span{font-family: "微软雅黑";font-size:18px; color: #121212;vertical-align: middle;}
#yuyue_content_C_1{text-align: left;padding-left: 31px;line-height: 28px;padding-top: 1px;}
ul{ list-style:none; }
.float{ float:left;}
img{ border:0px;  }
.top_line{border-top:2px solid #525252;height: 1px; background: #eeedeb;border-bottom: 1px solid #999;width: 1180px;}
.hand{ cursor:pointer; _cursor:hand}

.banner{ position:relative; height:468px; width:1180px; margin:0 auto; text-align:center;background: url("../../ww3/store/1.jpg") no-repeat left top; }
.bannerWrap{ width:120px; height:30px; overflow:hidden;position:absolute; left:1030px;; top:430px; z-index:100}
.bannerWrap ul.showList{ margin:0 auto; float:right  }
.bannerWrap ul.showList li{ width:12px; height:12px;background: url("../../ww3/store/pagination.png") no-repeat left top; margin-left:5px; margin-right:5px;  float:left; color:#fff;  text-align:center;  }
.bannerWrap ul.showList li.special{ background: url("../../ww3/store/pagination.png") no-repeat -12px top; color:#048fd5}
.focus_wp{position:relative; height:433px; width:1180px; margin:10px auto 0 auto; z-index:0; background: url("../../ww3/store/fucus_shadow.jpg") no-repeat center bottom;padding-bottom:20px;}

/*Slide Start幻灯片位置开始(预约)*/

ul{ list-style:none; }
.float{ float:left}
img{ border:0px;  }
.hand{ cursor:pointer; _cursor:hand}

.yuyue_banner{ position:relative; height:433px; width:715px; float:left; text-align:center;}
.bannerWrap{ width:120px; height:30px; overflow:hidden;position:absolute; left:1030px;; top:395px; z-index:100}
.bannerWrap ul.showList{ margin:0 auto; float:right  }
.bannerWrap ul.showList li{ width:12px; height:12px;background: url("../../ww3/store/pagination.png") no-repeat left top; margin-left:5px; margin-right:5px;  float:left; color:#fff;  text-align:center;  }
.bannerWrap ul.showList li.special{ background: url("../../ww3/store/pagination.png") no-repeat -12px top; color:#048fd5}
.all_border{
	width:100%;
	height:100%;
	overflow:hidden;
	background:#efedec;	
}
.taste_border{
	width:1180px;
	height:auto;
	margin:0 auto;
	border-top:1px solid #cdcbcb;
	background-color:#FFF;
}
.taste_layout{
	width:1050px;
	height:auto;
	overflow:hidden;
	position:relative;
	margin:0 auto;
}
.taste_layout_border{
	width:300px;
	height:80px;
	float:left;
	margin-top:55px;
	margin-left:70px;
	overflow:hidden;
}
.taste_img{
	float:left;
}
.taste_phone{
	height:20px;
	width:280px;
	text-align:left;
	float:left;
	font-size:12px;
	font-family:Arial,"宋体";
	color:#666666;
	margin-top:15px;
	
}
.taste_phone span{

}
.taste_address{
	height:20px;
	width:auto;
	text-align:left;
	float:left;
	font-family:"宋体";
	font-size:12px;
	color:#666666;
	margin-top:5px;
}
.taste_address span{
	
}
.taste_pic_s{
	width:13px;
	height:14px;
	float:left;
	margin-left:5px;
	margin-top:4px;
	display:block;
	background: url("../../ww3/store/taste_pic_s.jpg") no-repeat left top;
	cursor:pointer;
}
.taste_pic_s:hover{
	background: url("../../ww3/store/taste_pic_s.jpg") no-repeat -13px top;
}
.product_detail_img{
	width:1180px;
	height:22px;
	position:absolute;
	left:0px;
	top:-11px;
	background: url("../../ww3/store/product_detail_img.png")  no-repeat center top;
}
.taste_big_img{
	width:1180px;
	height:auto;
	overflow:hidden;
	border-bottom:1px solid #cdcbcb;
}
.taste_reserve{
	width:183px;
	height:59px;
	display:block;
	margin:30px auto 45px auto;
	background: url("../../ww3/store/taste_reserve.jpg")  no-repeat left top;
}
.taste_reserve:hover{
	background: url("../../ww3/store/taste_reserve.jpg")  no-repeat -183px top;
}

/***预约***/
.yuyue_select{
	width:465px;
	height:433px;
	float:left;
	position:relative;
	background: url("../../ww3/store/yuyue_select.png")  no-repeat left top;
}
#content_1{background:#ffffff;}
#content_1 p:nth-child(even){color:#ccc;}
/*light-2--begin*/
/* vertical scrollbar */
.mCSB_container{
	width:auto;
	overflow:hidden;
}
.mCSB_container.mCS_no_scrollbar{
	margin-right:0;
}
.mCS_disabled>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar{
	margin-right:30px;
}
.mCustomScrollBox>.mCSB_scrollTools{
	width:16px;
	height:100%;
	top:0;
	right:0;
}
.mCSB_scrollTools .mCSB_draggerContainer{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0; 
	height:auto;
}
.mCSB_scrollTools a+.mCSB_draggerContainer{
	margin:20px 0;
}
.mCSB_scrollTools .mCSB_draggerRail{
	width:2px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_scrollTools .mCSB_dragger{
	cursor:pointer;
	width:100%;
	height:30px;
	left:0px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	text-align:center;
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown{
	display:block;
	position:relative;
	height:20px;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
}
.mCSB_scrollTools .mCSB_buttonDown{
	top:100%;
	margin-top:-40px;
}
/* horizontal scrollbar */
.mCSB_horizontal>.mCSB_container{
	height:auto;
	margin-right:0;
	margin-bottom:30px;
	overflow:hidden;
}
.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{
	margin-bottom:0;
}
.mCS_disabled>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{
	margin-right:0;
	margin-bottom:30px;
}
.mCSB_horizontal.mCustomScrollBox>.mCSB_scrollTools{
	width:100%;
	height:16px;
	top:auto;
	right:auto;
	bottom:0;
	left:0;
	overflow:hidden;
}
.mCSB_horizontal>.mCSB_scrollTools a+.mCSB_draggerContainer{
	margin:0 20px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:2px;
	margin:7px 0;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger{
	width:30px;
	height:100%;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:4px;
	margin:6px auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{
	display:block;
	position:relative;
	width:20px;
	height:100%;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
	float:left;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{
	margin-left:-40px;
	float:right;
}
.mCustomScrollBox{
	
}

/* default scrollbar colors and backgrounds (default theme) */
.mCustomScrollBox>.mCSB_scrollTools{

}
.mCustomScrollBox:hover>.mCSB_scrollTools{
	
	
}
.mCSB_scrollTools .mCSB_draggerRail{
	/*background:#000;*/ /* rgba fallback */
/*	background:rgba(0,0,0,0.4);*/
	
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	/*background:#fff;*/ /* rgba fallback */
	
	
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	
	
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	
	
}

.mCSB_scrollTools .mCSB_buttonUp{
	background-position:0 0;
	/* 
	sprites locations are 0 0/-16px 0/-32px 0/-48px 0 (light) and -80px 0/-96px 0/-112px 0/-128px 0 (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonDown{
	background-position:0 -20px;
	/* 
	sprites locations are 0 -20px/-16px -20px/-32px -20px/-48px -20px (light) and -80px -20px/-96px -20px/-112px -20px/-128px -20px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:0 -40px;
	/* 
	sprites locations are 0 -40px/-20px -40px/-40px -40px/-60px -40px (light) and -80px -40px/-100px -40px/-120px -40px/-140px -40px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonRight{
	background-position:0 -56px;
	/* 
	sprites locations are 0 -56px/-20px -56px/-40px -56px/-60px -56px (light) and -80px -56px/-100px -56px/-120px -56px/-140px -56px (dark) 
	*/
}

.mCS-light-2>.mCSB_scrollTools .mCSB_draggerRail{
	width:4px;
	/*background:#fff;*/ /* rgba fallback */
	/*background:rgba(255,255,255,0.1);*/
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
	background:#e2e2e2; /* rgba fallback */
	background:rgba(226,226,226,1);
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
.mCS-light-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:4px;
	margin:6px 0;
}
.mCS-light-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:4px;
	margin:6px auto;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(226,226,226,1);
}
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(226,226,226,1);
}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-32px 0;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-32px -20px;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-40px -40px;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-40px -56px;
}
.yuyue_select_border{
	width:267px; 
	height:155px; 
	overflow:auto; 
	/*-webkit-border-radius:3px; 
	-moz-border-radius:3px; 
	border-radius:3px; */
	opacity:0;
	filter:alpha(opacity=0);
	position:absolute;
	top:275px;
	left:100px;
	z-index:1;
}
/*light-2--end*/
.footer_box_select_ul{
	width:202px;
	height:auto;
	overflow:hidden;
	float:left;
	z-index:1;
}
.footer_box_select_li{
	width:192px;
	height:30px;
	background-color:#FFF;
	line-height:25px;
	padding-left:18px;
	float:left;
}
.footer_box_select_a{
	width:100%;
	height:100%;
	text-align:left;
	color:#999999;
	overflow:hidden;
	display:block;	
}
.yuyue_select_div{
	width:250px; 
	height:50px; 
	overflow:auto;
	overflow:hidden;
	position:absolute;
	top:232px;
	left:100px;
	color:#999999;
	text-align:left;
	padding-left:18px;
	line-height:50px;
	cursor:pointer;
	z-index:6;
}
.yuyue_select_input{
	width:210px; 
	height:20px; 
	overflow:hidden;
	position:absolute;
	top:300px;
	border:none;
	left:100px;
	color:#999999;
	line-height:20px;
	text-align:left;
	padding-left:18px;
	z-index:3;
}
.yuyue_select_input_yanzheng{
	font-family:"宋体";
	color:#990000;
	font-size:12px;
}
.yuyue_select_a{
	width:201px; 
	height:58px; 
	overflow:auto;
	overflow:hidden;
	position:absolute;
	top:311px;
	border:none;
	left:139px;
	background: url("../../ww3/store/yuyue_select_a.jpg")  no-repeat left top;
	z-index:3;
}
.yuyue_select_a:hover{
	background: url("../../ww3/store/yuyue_select_a.jpg")  no-repeat right top;
}
.yuyue_select_a_big{
	width:310px; 
	height:54px; 
	overflow:auto;
	overflow:hidden;
	position:absolute;
	top:311px;
	border:none;
	left:75px;
	background: url("../../ww3/store/yuyue_select_btn_a_big.jpg")  no-repeat left top;
	z-index:3;
}
.yuyue_select_a_big:hover{
	background: url("../../ww3/store/yuyue_select_btn_a_big.jpg")  no-repeat right top;
}
.yuyue_content_title{
	width:1050px;
	height:	22px;
	margin: 36px auto 0;
}
.yuyue_content_title_hd,.yuyue_content_title_hb,.yuyue_content_title_hn,.yuyue_content_title_hz,.yuyue_content_title_xn{
	width:90px;
	height:	22px;
	float:left;}
.yuyue_content_title_hd{	
	background: url("../../ww3/store/yuyue_content_title_1.jpg")  no-repeat left top;
}
.yuyue_content_title_hb{
	background: url("../../ww3/store/yuyue_content_title_2.jpg")  no-repeat left top;
}
.yuyue_content_title_hn{
	background: url("../../ww3/store/yuyue_content_title_3.jpg")  no-repeat left top;
}
.yuyue_content_title_hz{
	background: url("../../ww3/store/yuyue_content_title_4.jpg")  no-repeat left top;
}
.yuyue_content_title_xn{
	background: url("../../ww3/store/yuyue_content_title_5.jpg")  no-repeat left top;
}
.yuyue_content_border{
	padding:29px 0 29px 48px;
	float:left;
	
}
.yuyue_content_img{
	width:170px;
	height:170px;
	margin-top:2px;
	float:left;	
}
.yuyue_content_C{
	width:348px;
	height:150px;
	float:left;
	position:relative;
}
.yuyue_content_C_img{
	width:105px;
	height:18px;
	margin-left:31px;
	margin-top:2px;
	float:left;	
}
.yuyue_select_a_s{
	width:53px;
	height:28px;
	vertical-align: middle;
	margin-left:5px;
	display:inline-block;
	background: url("../../ww3/store/yuyue_select_a_s.jpg")  no-repeat left top;
}
.yuyue_select_a_s:hover{
	background-position: right center;
}
.yuyue_send_phone{
	width: 97px;
	height: 13px;
	float:left;
	display: block;
	*+display:inline-block;
	margin-top:4px;
	margin-left: 15px;
	background: url("../../ww3/store/send_phone.jpg") no-repeat left top;
}
.yuyue_send_phone:hover{
	background: url("../../ww3/store/send_phone.jpg") no-repeat -97px top;
}
.yuyue_taste_address{
	width: 220px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align:left;
	float:left;
	font-family:Arial,"宋体";
	font-size:12px;
	color:#666666;
	margin-left:31px;
}
.yuyue_taste_pic_s{
	width:19px;
	height:18px;
	float:left;
	margin-left:8px;
	display:block;
	background: url("../../ww3/store/yuyue_taste_pic_s.jpg") no-repeat left top;
	cursor:pointer;
}
.yuyue_taste_pic_s:hover{
	background: url("../../ww3/store/yuyue_taste_pic_s.jpg") no-repeat -19px top;
}
.yuyue_taste_phone{
	
	
	text-align:left;
	float:left;
	font-size:12px;
	font-family:Arial,"宋体";
	color:#666666;
	margin-left:31px;
	margin-top:4px;
}
.yuyue_fuwu_border{
	width:52px;
	height:52px;
	float:left;
	position:relative;
	margin-top:20px;
	
	overflow:hidden;
}
.yuyue_fuwu_1{
	width:52px;
	height:52px;
	display:block;
	margin-left:0px;
	
	left:0px;
	top:0px;
	background: url("../../ww3/store/yuyue_fuwu_1.jpg") no-repeat left top;
}
.yuyue_fuwu_1:hover,.yuyue_fuwu_2:hover{background-position:right center;}
.yuyue_fuwu_2{
	width:52px;
	height:52px;
	display:block;
	margin-left:0px;
	left:0px;
	top:0px;
	background: url("../../ww3/store/yuyue_fuwu_2.jpg") no-repeat left top;
}
.yuyue_fuwu_3{
	width:52px;
	height:52px;
	display:block;
	margin-left:0px;
	left:0px;
	top:0px;
	background: url("../../ww3/store/new_store.jpg") no-repeat left top;
}
.yuyue_taichuceng{
	width:270px;
	height:180px;
	position:absolute;
	left:100px;
	top:280px;
	z-index:2;	
}
.yuyue_chenggong{
	width:302px;
	height:138px;
	position:absolute;
	left:80px;
	top:185px;
	display:none;
	background: url("../../ww3/store/yuyue_chenggong.png") no-repeat left top;
	z-index:10;
}
element.style {
}
.input_mobile {
	color: #999999;
	width: 190px;
	height: 20px;
	line-height:20px;
	margin: 52px 0px 0px 17px;
	padding-left: 18px;
	background-color: transparent;
	font-family: Arial, "宋体";
	border:none;
}
#sendSmsDiv .btn_send{
	margin-top:10px;
}
#sendSmsDiv .btn_cancel{
	margin-top:10px;
}


/***大广告开始***/
.big_adv_b{
	width:1180px;
	height:0px;
	margin:17px auto 0px auto;
	cursor:pointer;
	position:relative;
	z-index:0;
	clear:both;
	background: url("../../ww3/store/big_adv_b.jpg") no-repeat left top;
}
.big_adv_s{
	width:1180px;
	height:80px;
	cursor:pointer;
	position:absolute;
	display: block;
	left:0px;
	top:0px;
	z-index:5;
	display:none;
	background: url("../../ww3/store/big_adv_s.jpg") no-repeat left top;
}
.big_adv_c{
	width:21px;
	height:21px;
	cursor:pointer;
	position:absolute;
	right:10px;
	top:10px;
	z-index:6;
}
.big_adv_big_open{
	width:21px;
	height:21px;
	cursor:pointer;
	position:absolute;
	display: none;
	right:10px;
	top:10px;
	z-index:6;
}
.big_adv_big_close {
	width:21px;
	height:21px;
	cursor:pointer;
	position:absolute;
	right:10px;
	top:10px;
	z-index:6;
}
.big_adv_b_link{
	width:1180px;
	height:400px;
	cursor:pointer;
	display: block;
	position:absolute;
	background: #000;
	opacity: 0;
	filter:alpha(opacity=0);
	z-index:3;
}
/***大广告结束***/
/***短信发送后的弹出框***/
.yycg{
    width:243px;height:124px;background:url('../../ww3/store/yycg.png') no-repeat;
}
.yysb{
    width:243px;height:124px;background:url('../../ww3/store/yysb.png') no-repeat;
}
/**2015-07-24新版预约进店**/


.f_gray_bg{background: #ffffff;width: 100%;overflow: hidden;}
em,b,i{ font-style:normal;}
.clearfix{ display:inline-block;} 
.clearfix{ display:block;}
* html .clearfix{ display:block;}
html[xmlns] .clearfix{ display:block;}
.clearfix:after{ clear:both; visibility:hidden; display:block; height:0; font-size:0;}

.block{width:1180px;padding:18px 0;color:#666;}
.block a{color:#666;}
.block a:hover{color:#F2776C;}
.g_hder_wp{width:1180px; margin:0 auto; background: #f8f8f8;overflow: hidden;}
.lft_pic{width:752px; float:left;}
.g_rig_wp{width: 428px;float:left;padding-top: 96px;position: relative;z-index: 0;}
.g_reg_txt{margin-bottom: 55px;}
.g_reg_txt strong{display: block;font-size: 36px;font-family: "宋体";color:#000;font-weight: normal;}

.g_reg_txt span{color:#333;font-family:Arial,"宋体";display:inline-block;text-align: center;padding:0 12px 0;margin-top: 10px;}

.ipt_tel{color:#999;font-size:12px;font-family:Arial,"宋体";padding:12px 15px;width: 272px;display: block;margin:0 auto;border:none;height: 14px;line-height: 14px;}
.f_exp{width:315px; margin:0 auto 10px;text-align:left;margin-top: 2px;position: relative;z-index: 2;}
.f_exp dt{padding:12px 20px;width: 275px;background: #f5f4f4 ; cursor:pointer;color:#333;height: 14px;line-height: 14px;}
.f_exp dd{position: absolute;top:38px;left: 0;background:#f5f4f4;width: 303px;margin-top:1px;color:#666;font-size:13px;font-family:"宋体";padding:10px 0 10px 13px;cursor:pointer;}
.f_exp dd span{padding: 0 9px;display: inline-block;white-space: nowrap;line-height:22px;text-align:center;cursor:pointer;}
.f_exp dd span:hover{color:#ff8a81;}
.f_cont_serv_txt{text-align: left;padding:55px 45px 95px;border-top:1px solid #000000;margin-top:45px;}
.f_cont_serv_txt dt{background: url("../../ww3/detail150815/icon_arrow.jpg")  no-repeat left center;padding-left: 20px; 
                    font-size:12px;color:#000;font-family:Arial,"宋体";margin-bottom: 20px;margin-left: 5px;}
.f_cont_serv_txt dd{line-height:30px;color:#666;font-family:Arial,"宋体";font-size:12px;padding-left: 5px;}
.f_cont_serv_txt dd i{display:inline-block;padding-right: 10px;}







.btn_enter{background:#ff8a81;color:#fff;width: 204px; height: 34px; display: block;margin: 0 auto;text-align: center;line-height: 34px;}
.btn_enter:hover{color:#fff;}
.ipt_tips{color:#d00000;line-height:25px;height:25px;width:270px;text-align:left;margin:0 auto;padding-bottom:30px;}


.g_lst_lnk{background:url(../../ww3/store/p2.jpg) no-repeat; width:1180px;height:526px;margin:0 auto 30px;}
.g_lst_lnk a{display:inline-block;width:290px;height:526px;}



.g_exp_wp{width:1180px; margin:0 auto 0px;padding:0px 0 0;background:#FFF;}
.g_exp_tlt{text-align: left; border-top: 1px solid #000000;padding:20px 0 30px 1px;font-size:20px;font-family:Arial,"宋体";color:#000000;}
.g_exp_tlt i{font-size:9px;vertical-align: middle;}
.g_store_lst_ov{width:1380px;overflow:hidden;clear:both;}

.g_store_lst{width:590px;margin-bottom:70px;color:#000;float:left;position:relative;z-index:0;}
.g_store_lst_tlt{font-size:21px; display:block;text-align:left;font-weight:normal;line-height:30px;}
.g_store_lst_add{line-height:34px;font-size:12px;display:block;text-align:left;}
.g_store_lst_tme{line-height:22px;display:block;text-align:left;margin-top: 13px;}

.g_store_lst_pic{width:197px;height:197px;float:left;margin-right:20px;}
.g_store_lst dt{float:left;}

.store_lnk{color:#000;position:absolute;z-index:1;top:0;left:0;display:block;width:100%;height:100%;}
.store_lnk i{position:absolute;z-index:1;bottom:10px;left:217px;}
/*显示轮播*/
.g_exp_wp_right .animateTShell{width: 700px;height:527px;margin: 0;}
.g_exp_wp_right .animateTShell .animate{width: 700px;height: 527px;position:relative;overflow: hidden;}
.g_exp_wp_right .animateTShell .animate .ani_ul{width: 480px;height: 324px;float: left;}
.g_exp_wp_right .animateTShell .animate .ani_ul .ani_li{width: 700px;height: 527px;float:left;position: relative;z-index:0;}
.g_exp_wp_right  .disc_border{width: 700px;height:20px;position:absolute;display:block;overflow:hidden;left:0;bottom:10px;text-align:center;z-index:1;}

.g_exp_wp_right  .disc,.g_exp_wp_right .disc_hover{width:9px;height:9px;margin:0 3px;display:inline-block;cursor:pointer;}
.g_exp_wp_right .disc{background:url('../../ww3/160804newindex/superslide_btn.png') no-repeat center;}
.g_exp_wp_right .disc_hover{background:url('../../ww3/160804newindex/superslide_btn2.png') no-repeat center;}

.g_exp_all{
	width: 430px;
	height: 396px;
	overflow: hidden; 
}
#lanrenzhijia{ width:500px; height:300px; margin:10px auto; padding-right:12px; overflow:hidden;}
#lanrenzhijia p{color:#999; font-size:12px; line-height:220%; text-align:left; text-indent:2em;}
.g_exp_lst{
	width: 422px;
	height: auto;
	overflow: hidden;
}
.g_exp_lst li{font-family:Arial,"宋体";width: 100%;height: 132px;display: table;background: #fff;}

.g_exp_lst li:nth-of-type(odd){
	background: #fafafa;
}
.g_exp_lst li:nth-of-type(even){
	background: #fff;
}
.g_exp_lst_bor{
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}
.g_exp_lst li strong{display: inline-block;font-size:12px;color:#000;line-height: 26px;font-weight: normal;margin-left: 50px;}
.g_exp_lst li strong a{color:#000;display: inline-block;font-size:20px;font-family:Arial,"宋体";}
.g_exp_lst li span{color:#666;display: inline-block;margin-left: 50px;}

.g_exp_lst li em{display: inline-block;font-size:12px;color:#666;line-height: 27px;font-family:Arial,"宋体";margin-left: 50px;margin-top: 5px;}
.g_exp_lst li em a{color:#333;display: inline-block;font-family:Arial,"宋体";font-size: 12px;}
.g_exp_lst li em a:hover{text-decoration: underline;}
.g_exp_lst li i{color:#333;display: inline-block;line-height: 22px;font-family:Arial,"宋体";font-size: 12px;}
.pic_sta{width:1045px; height: 541px;margin:20px auto 0;padding-bottom:67px;}

.g_st_tit{
	width: 1180px; 
	overflow: hidden;
	margin: 0 auto; 
	background: #000000;
    display: block;
    margin-top: 37px;
    height: 2px;
}
.g_st_titcon{
	width: 1180px;
	height: 384px;
	overflow: hidden;
	margin: 30px auto 7px; 
    display: block;
    cursor:pointer;
    background:url(../../ww3/store/g_st_titcon.jpg) no-repeat left center; 
}
.manhua{
	width: 1180px;
	height: 391px;
	overflow: hidden;
	margin: 0 auto 30px; 
    display: block;
   
    background:url(../../ww3/store/manhua.jpg) no-repeat left center; 
}
.g_st_titcon span{
	padding-left: 15px;
	padding-right: 15px;
	font-family:"宋体";
	color: #666;
}
.g_st_tit2{
	width: 1180px; 
	overflow: hidden;
	margin: 0 auto; 
	background: #000000;
    display: block;
    height: 1px;
}
.g_st_con{
	width: 1180px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	background: #fff;
}
.g_st_borleft{
	width: 498px;
	height: auto;
	overflow: hidden;
	margin-top: 25px;
	float: left;
}
.g_st_borright{
	width: 498px;
	height: auto;
	overflow: hidden;
	margin-top: 25px;
	float: right;
}
.g_st_txt{
	font-size: 12px;
	line-height: 65px;
	font-family:Arial,"宋体";
	color: #000;
	text-align: left;
}
.hide_coups_close{
	width: 39px;
	height: 39px;
	cursor: pointer;
	background:url("../../ww3/store/choujiang/close.jpg") no-repeat left top;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 5;
}
.hide_coups{
	
	width: 500px;
	display:none;
	text-align: center;
	background: #fff;	
	position: fixed;
	left: 50%;
	margin-left: -250px;
	margin-top: -220px;
	top: 50%;
	z-index: 202;
}
.hide_coups .hide_coups_cnt{
	padding-top:75px;
}

.hide_coups_warr{height:28px;line-height:28px;width:315px;text-align: left;margin:0 auto;color:#f78279;}
.hide_coups_btn{
    display: inline-block;
    width: 315px;
    height: 38px;
    line-height: 38px; 
    background: #f78279;
    color: #fff;
    font-family: Arial,"宋体";
    font-size: 12px;
    text-align: center;
    border-radius: 0;
}
.hide_coups_ipt{
	background:#f5f4f4;width: 275px;padding:15px 20px;
	color:#333;font-size:12px;font-family:Arial,"宋体";display: block;margin:0 auto;border:none;height: 14px;line-height: 14px;
}
.hide_coups_btn:hover{
	color:#fff!important;
	opacity:0.85;
	filter:alpha(opacity=85);
}
.hide_coups_txt{
	color:#999;
	line-height:24px;
	padding:35px 0;
}
.hide_coups_txt i{display:block;line-height:40px;text-align:center;}

.hide_coups_tips,.hide_coups_tips2{display:none; width: 500px;height:260px; text-align: center;background: #fff;	position: fixed;left: 50%;margin-left: -250px;margin-top: -130px;top: 50%;z-index: 202;}
.hide_zx_btn{display: inline-block;
    width: 186px;
    height: 38px;
    line-height: 38px; 
    background: #f78279;
    color: #fff;
    font-family: Arial,"宋体";
    font-size: 12px;
    text-align: center;
    border-radius: 0;}
.hide_zx_btn:hover{color:#fff;}
.coup_txt{line-height:30px;margin-top: 15px;margin-bottom:15px;}

.hide_coups_tips .hide_coups_cnt{
	padding-top:40px;
}

.hide_coups_tips2 .hide_coups_cnt{
	padding-top:62px;
}
/**2015-01-30 增加抽奖预约进店   暂时**/

/**************************************qixi_header_2_choujiang***************************************/

.qixi_header_2_choujiang{float:left;text-align:left;background:#fcf1eb;padding:57px 0 70px 65px;}

.qixi_choujiang{width:263px;height:129px;display:block;background:url("../../ww3/store/choujiang/btn.jpg") no-repeat left top}
.choujiang:hover{background:url("../../ww3/store/choujiang/btn_hover.jpg") no-repeat right top}

.qixi_header_2_choujiang_text_2{width:650px;height:20px;margin-top:3px;color:#7a5aa9;line-height:20px;font-family:"微软雅黑";font-size:15px;text-align:center;clear:both}
.qixi_header_2_choujiang_text_2 a{color:#c0a4eb;text-decoration:underline;}
.qixi_header_2_choujiang_text_2 a:hover{text-decoration:underline}
.qixi_header_2_yonghu{width:326px;height:400px;float:left;margin-left:18px;margin-top:120px;background:url("http://res.zbird.cn/css/images/qixi_header_2_yonghu.png") no-repeat center top}
.qixi_header_2_yonghu_border{width:275px;height:160px;margin:210px auto 0 auto;overflow:hidden;}
.qixi_header_2_yonghu_border p{font-family:"微软雅黑";font-size:15px;line-height:25px;}

.qixi_header_2_choujiang_t td{padding:2px;}

.f_lottery_txt{float:left;width:580px;padding-top: 58px;}
.f_lottery_txt .g_reg_txt strong{font-size:33px;}

.u_lottery_txt{text-align:left;padding-left: 70px;}
.u_lottery_txt li{background:url('../../ww3/store/choujiang/point.jpg') left 8px no-repeat;line-height: 22px;padding-left: 18px;margin-bottom: 12px;color:#666;}

.cj_lnk{background:url('../../ww3/store/choujiang/cj_lnk.jpg') left center no-repeat;width:422px;height: 128px;margin-left: 70px;}
.cj_lnk a{width:116px;height: 128px;display:inline-block;}
.opa640{
	opacity: 0.8;
	filter:alpha(opacity=80);
	display: none;
	width: 100%;
	height: 100%;
	cursor: wait;
	background: #000;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 200;
}

.show500{
	display: none;
	width: 500px;
	height: 318px;
	text-align: left;
	background: #fff;	
	position: fixed;
	left: 50%;
	margin-left: -250px;
	margin-top: -159px;
	top: 50%;
	z-index: 202;
}
.close{
	width: 39px;
	height: 39px;
	cursor: pointer;
	background:url("../../ww3/store/choujiang/close.jpg") no-repeat left top;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 5;
}

.smsSend{
	width: 463px;
	height: 64px;
	line-height: 64px;
	font-family: Arial,"华文细黑","微软雅黑";
	color: #ffffff;
	font-size: 24px;
	display: inline-block;
	background: #ff8a81;
	margin-top: 30px;
	border-radius:5px;
	color: #fff;
	text-align: center;
}
.show500img{
	display:inline-block;
	margin-top: 29px;
	margin-left:98px;
	vertical-align:middle;
}
.show500lf{
	
	margin-top: 70px;
	margin-left: 38px;
	display:inline-block;
	vertical-align:middle;
}
.show500lftit{
	width: 100%;
	
	text-align: left;
	color: #000;
	font-size: 20px;
	font-family: Arial,"华文细黑","微软雅黑";
}
.show500lfcon{
	width: 100%;
	
	text-align: left;
	margin-top: 6px;
	color: #000;
	font-size: 20px;
	font-family: Arial,"华文细黑","微软雅黑";
}
.choujiang_again{
	background:url('../../ww3/store/choujiang/choujiang_again.jpg') no-repeat;
	width:350px;
	height: 45px;
	display:block;
	margin:10px auto 0;


}
.choujiang_begin{
	background:url('../../ww3/store/choujiang/choujiang_begin.jpg') no-repeat;
	width:350px;
	height: 45px;
	display:block;
	margin:16px auto 0;
}

.queding{
	background:url('../../ww3/store/choujiang/queding.jpg') no-repeat;
	width:350px;
	height: 45px;
	display:block;
	margin:10px auto 0;
}
.jiangpin .show500img,.choujiang_end .show500img{margin-left: 108px;}
.jiangpin .show500lf,.choujiang_end .show500lf{margin-top:51px;}




.cj_ipt_wp{padding-top: 74px;}
.cj_ipt_wp .ipt_tel{background:#f5f4f4;width: 275px;padding:15px 20px;}
.cj_ipt_wp .f_exp_dt{background:#f5f4f4;margin-top: 0; margin-bottom: 3px;}
.cj_ipt_wp .f_exp{width: 316px;}
.cj_ipt_wp .f_exp dt{width: 279px;padding:15px 18px;}
.cj_ipt_wp .f_exp dd{width: 302px;}

.cj_ipt_wp .ipt_tips{width:324px;}


/**2016-10-08新版预约进店抽奖**/

.cj16108bor{
	width: 1180px;
	height: 527px;
	overflow: hidden;
	background:url('../../ww3/store/cj16108/cj16108bor.jpg') no-repeat left top;
	position: relative;
}
.cj16108bor .selectcity{
	display: block;
	width: 205px;
	height: 33px;
	line-height: 33px;
	position: absolute;
	left: 416px;
    top: 178px;
	background: #f78279;
	color: #fff;
	font-family: Arial,"宋体";
	text-align: center;
	z-index: 15;
}
.cj16108bor .selectcity:hover{
	opacity:0.85;
	filter:alpha(opacity=85);
}
.cj16108bor .cj16108guize{
	display: block;
	width: 125px;
	height: 33px;
	line-height: 33px;
	position: absolute;
	left: 635px;
    top: 178px;
	background: #dad8d7;
	color: #fff;
	font-family: Arial,"宋体";
	text-align: center;
	z-index: 15;
}
.cj16108bor .cj16108guize:hover{
	opacity:0.85;
	filter:alpha(opacity=85);
}
.cjanimate{
	width: 930px;
	height: 250px;
	overflow: hidden;
	position: absolute;
	left: 120px;
	bottom: 88px;
	z-index: 5;
}
.cjanimateul{
	width: 25000px;
	height: 178px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 5;
}
.cjanimateul li{
	width: 186px;
	height: 178px;
	float: left;
}
.cjanimateul li a{
	display: block;
}
.jpoverlay{
	display: none;
	text-align: center;
	width: 474px;
	height: 447px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -237px;
	margin-top: -223.5px;
	background: #fbf3f2;
	z-index: 201;
}
.jpoverlaycolse{
	cursor: pointer;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 0;
	top: 0;
	background:url('../../ww3/store/cj16108/jpoverlaycolse.jpg') no-repeat left top;
	z-index: 5;
}
.jpoverlaytxt1{
	margin-top: 62px;
	font-size: 24px;
	color: #000;
	font-family: Arial,"宋体";
}
.jpoverlaytxt2{
	margin-top: 8px;
	font-size: 18px;
	color: #000;
	font-family: Arial,"宋体";
}
.jpoverlay img{
	margin-top: 20px;
	display: inline-block;
}
.jpoverlay .cj16108begin{
	margin-top: 23px;
	display: inline-block;
	width: 205px;
	height: 33px;
	line-height: 33px;
	background: #f78279;
	color: #fff;
	font-family: Arial,"宋体";
	text-align: center;
}
.jpoverlay .cj16108begin:hover{
	opacity:0.85;
	filter:alpha(opacity=85);
}
.cj_ipt_wp .cj16108begin{
    margin-top: 10px;
    display: inline-block;
    width: 350px;
    height: 38px;
    line-height: 38px; 
    background: #f78279;
    color: #fff;
    font-family: Arial,"宋体";
    font-size: 12px;
    text-align: center;
    border-radius: 0;
}
.cj_ipt_wp .cj16108begin:hover{
	opacity:0.85;
	filter:alpha(opacity=85);
}
.cj16108guizeshow{
	display: none;
	width: 583px;
	height: 405px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -291.5px;
	margin-top: -202.5px;
	background: #fff;
	z-index: 202;
}
.guizecolse{
	cursor: pointer;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 0px;
	top: 0px;
	background:url('../../ww3/store/cj16108/zuizecolse.jpg') no-repeat left top;
	z-index: 5;
}
.guizetxt1{
	margin-top: 62px;
	margin-bottom: 30px;
	color: #000;
    font-family: Arial,"宋体";
    font-size: 22px;
}
.guizetxt2{
	line-height: 26px;
    margin-top: 13px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: left;
    color: #000;
    font-family: Arial,"宋体";
    font-size: 12px;
}

.m_seo {
    text-align: left;
    font-size: 12px;
    color: #fefefe;
    line-height: 24px;
    clear: both;
    padding-top: 10px;
}
.m_seo h1{font-weight:normal;}