
em,b,i{ font-style:normal;}
fieldset,img{ border:none;}
ul{list-style-type:none}
input,textarea {outline:none;}
.clearfix{ display:inline-block;}
.clearfix{ display:block;}
* html .clearfix{ display:block;}
html[xmlns] .clearfix{ display:block;}
.clearfix:after,.g_brand:after,.m_brand_ad:after,.m_brand_shw:after,.g_list_brand ul:after,.g_brd_detl_wp:after
,.f_news:after,.g_store_lst:after
{ clear:both; visibility:hidden; display:block; height:0; font-size:0;}
pre{
    white-space: pre-wrap; 
    word-wrap: break-word;
}

.bor_gray{border-bottom:1px solid #dedede;}

.block{width: 1180px;line-height: 48px;}
.bg_gray{background: #ffffff; width: 100%;overflow:hidden; padding-bottom: 50px;}
.m_main{width: 1180px; margin: 0 auto;background:#fff;}
.top_line{background: #000000; display: block; height: 1px;}
.line_hr{border-bottom:5px solid #333;border-top: 1px solid #333; background:#fff; height: 3px;display: block;margin: 30px 21px 15px;}

.g_brd_detl_wp{background:#fff;overflow:hidden; position: relative;}
.g_wdm_rig{width:830px;float:left;padding:0px; margin-top: 35px;}
.g_wdm_lft{width: 308px;float:right;text-align:center;}


/*list*/
.title_text01{background:#fdf2ec;text-align:center;color:#666;line-height:24px;padding:0 20px 30px;}
.title_text01 strong{font-size:20px; font-weight:normal;display: block;text-align:center;padding:30px 0 30px;color:#000;font-family: "宋体" ,Arial; }
.title_text01 i{border-bottom:1px solid #000;width:48px; display:inline-block;font-size: 0; height: 0;margin-bottom: 20px;}
.title_text01 p{text-align:left;}
/*分页*/
.prev_page ,.next_page{width: 33px!important; height: 33px!important;border:none!important;}
.prev_page em,.next_page em{vertical-align: middle; display:inline-block;height: 33px; line-height:33px; width: 33px; }
.prev_page em{background:url(../../ww3/diamclass/page_boder_a_left.jpg) left center no-repeat;}
.next_page em{background:url(../../ww3/diamclass/page_boder_a_right.jpg) left center no-repeat;}
.prev_page:hover em,.prev_page em.current{background-position:right center;}
.next_page:hover em{background-position:right center;}
.list_page{ text-align:right;background: #fff;}
.list_page a{display: inline-block;border:1px solid #ccc;overflow:hidden;margin-left:4px;font-family:Arial; background: #fff;height: 31px; line-height:31px;
 width:31px; text-align:center;color: #666;font-size: 13px;}
.list_page a:hover,.list_page a.current{color:#ff8a81;font-weight: bold;}
.page_more{border:none!important;background: none!important;font-weight: bold;}
.page_more:hover{color:#666!important;}




/*details*/


.g_brd_detl_title{font-size:22px;font-family: Arial,"宋体"; color: #000;padding-top: 15px;font-weight:normal;}
.g_brd_detl_sbt{text-align:center; color:#999;font-family: Arial,"宋体";font-size:12px;padding: 15px 0 40px 0;}
.g_brd_detl_sbt span{padding-right: 15px;}

#share_news{display:inline-block;vertical-align:middle;width:85px;}
.bdsharebuttonbox{display: inline-block;vertical-align:middle;}

.tsina,.tqq,.renren{display:inline-block;width:16px!important;height:16px!important;padding:0!important;float:none!important;margin:0 0 0 1px!important;}
.tsina{background:url('../../ww3/detail150815/share_icon.jpg') 0 0  no-repeat!important;}
.tqq{background:url('../../ww3/detail150815/share_icon.jpg') -22px 0 no-repeat!important;}
.renren{background:url('../../ww3/detail150815/share_icon.jpg') -44px 0  no-repeat!important;}

.g_brd_detl_tps{background: #fdf2ec;padding: 22px 25px; color:#333; line-height: 24px;font-family: Arial,"宋体"; font-size: 12px;text-align:left;text-indent: 2em;margin-bottom: 15px;}
.g_brd_detl_cntnt{text-align:left; font-size: 14px;font-family: Arial,"宋体";color:#666;line-height: 27px;text-align: justify;padding: 0 10px 25px;}
.g_brd_detl_cntnt img{max-width: 844px;display:block;margin: 15px auto 10px;}
.g_brd_detl_cntnt i{display: block;text-align: center;font-weight: bold;}
.g_brd_detl_cntnt p{margin-top: 10px;font-size: 14px;}



#fixed_top{width:309px; height: 420px;text-align: right; margin-top: 10px;}
#fixed_top img{padding-bottom: 10px;}
.f_ad_fix{text-align: right;}
.f_ad_fix img{padding-bottom: 10px;}
.f_line_title{padding-top: 15px;text-align:left;}
.f_line_title span{border-bottom:4px solid #333;border-top: 1px solid #333; background:#fff; height: 3px;display:inline-block;width: 100px;vertical-align:middle;}
.f_line_title em{padding: 0 15px; font-size:18px; color:#000;vertical-align:middle;}



.m_ad_lft{padding-top: 15px;}
.m_ad_lft li{ margin-bottom: 10px;}

.br_ad_pic{width: 780px;height: 90px;margin-bottom: 25px;}

.m_ulike{padding-top: 9px;}
.m_ulike ul{overflow:hidden;}
.m_ulike li{width:290px; font-family: Arial,"宋体";margin:0 auto 10px;}
.m_ulike li span{display:block;text-align:center;font-family: Arial,"宋体";font-size: 12px;}
.m_ulike li a:hover .ulike_pro{color:#ff8a81;}
.uliked_price{
	font-family: Arial,"微软雅黑";color:#999;padding-top:10px;
}
.uliked_price s{
	color: #848383;
	font-family: Arial,"微软雅黑";
	margin-left: 5px;
}
.uliked_price b{
	color: #f6827a;
	font-family: Arial,"微软雅黑";padding-right:15px;
}
.uliked_price b i{
	color: #f6827a;
	font-family: Arial,"微软雅黑";
}
.uliked_price em{color:#666;}
.uliked_pro{color:#666;margin-top:-10px;}

.ulike_pro{padding-top: 5px;padding-bottom: 7px;}
.ulike_price{font-family: Arial,"微软雅黑";padding-bottom: 6px;}
.ulike_price b{color:#f55549;font-size: 18px;font-family: Arial,"微软雅黑";padding-right: 10px;}
.ulike_price b i{font-size:14px;font-weight:normal;}
.ulike_price s{color:#999;font-family: Arial,"微软雅黑";}

.article_key{text-align:left; color:#666;padding: 20px 0 23px;}
.article_key a{padding-right: 10px; color:#666;}
.g_wdm_rig .article_key {padding:0;}

.m_recom{border-top:1px solid #000;padding-top:15px;}
.m_recom:after{ clear:both; visibility:hidden; display:block; height:0; font-size:0;}

.m_recom .news_list{padding: 15px 0 0;width:420px;float: left;}
.m_recom .news_list li{background:url('../../ww3/diamclass/icon_point.jpg') left center no-repeat; line-height:26px;padding-left: 10px; width:400px;
white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;text-align:left;}

/*.g_wdm_lft .news_list{padding: 13px 20px 0;}
.g_wdm_lft .news_list li{background:url('../../ww3/diamclass/icon_point.jpg') left center no-repeat; line-height:26px;padding-left: 10px; width:235px;
white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;text-align:left;}
*/
.zbnews_lst{margin:  0px 0 15px;}
.zbnews_lst dt{font-size: 12px; color:#000;background:#525252;text-align:left;padding-left:15px;}
.zbnews_lst dt em{display:block;  line-height: 32px;color:#fff;}
.zbnews_lst dd {}

.zbnews_lst .intr_news{padding: 15px 20px;background:#fdf2ec;}

.intr_news_lst{padding-bottom:5px;}
.intr_news_lst  a{font-size: 12px;color:#333; line-height: 30px; display:block;  width:264px;
white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;text-align:left;
background:url('../../ww3/news/icon_list.png') left center no-repeat; padding-left: 20px;}
.intr_news_lst  a:hover{color:#f6827a;}

.zbnews_lst .hot_tips{text-align:left;padding-bottom:15px;}
.zbnews_lst .hot_tips div{width:327px;}
.zbnews_lst .hot_tips span{display:inline-block;margin-right:10px;margin-top:15px;}
.zbnews_lst .hot_tips a{font-size: 12px;color:#333;   display:inline-block; padding:5px 15px;background:#efefef;line-height: 20px;
white-space:nowrap;word-break:keep-all;}
.zbnews_lst .hot_tips a:hover{color:#ff8a81;}
.f_title_recomm{padding:0 0 0 0px;height:76px;text-align:left;position:relative;z-index: 0;font-family: Arial,"宋体";}
.f_title_recomm i{display:block;border-bottom:1px solid #ccc;font-size: 0; vertical-align:middle;width:100%;position:absolute;top:42px; left:0px;z-index:0;}
.f_title_recomm em{font-size:12px; display:inline-block;padding: 0 12px;font-size:18px;}
.f_title_recomm span{position: absolute;z-index: 1;background:#fff;top:33px; left:0px;font-size:18px;font-family: Arial,"宋体";padding-left: 0px;}


.f_diamcls_lst{text-align:left;padding-left: 0px;}
.f_diamcls_lst li{border-bottom:1px solid #f1f0f1;padding-bottom: 33px; margin-bottom: 33px;position: relative;}
.f_diamcls_lst strong{border-left: 2px solid #ff8a81;padding-left: 12px;font-size: 18px;line-height: 15px;font-weight: normal;height:12px;display: block;margin:0 0 12px;}
.f_diamcls_lst strong a{color: #000;display:block;font-size: 12px;}
.f_diamcls_lst p a{color:#666;display: block;line-height: 26px;width:100%;font-size: 12px;/* white-space: nowrap;*/
/* text-overflow:ellipsis; -o-text-overflow:ellipsis;*/ overflow:hidden;}
/* .f_diamcls_lst p a:after{content:"";}*/
.f_diamcls_lst .detl_info{overflow:hidden;position: absolute;right: 0px; top:0px;}
.f_diamcls_lst .detl_info span{float: right;color: #999;font-size: 12px;}
.f_diamcls_lst .detl_info em a{color:#666;padding: 0 5px;}

.f_diamcls_lst p a:hover,.f_diamcls_lst strong a:hover,.title_text02 dd p a:hover,.title_text02 dt a:hover,.f_diamcls_lst .detl_info em a:hover{color:#f6827a;}


.title_text02{margin-bottom: 38px;}
.title_text02 dt{font-size:20px; color:#000;text-align:left;padding-left: 20px;padding-bottom: 13px;}

.title_text02 dd{text-align:left;padding:25px 20px 25px;background:#fdf2ec;}
.title_text02 dd img{vertical-align:middle;}
.title_text02 dd strong{font-size: 18px;font-weight: normal;vertical-align:middle;padding:0 0 15px;display:block;}
.title_text02 dd strong a{color: #000;display:inline-block;padding-left:20px;}
.title_text02 dd p a{color:#666;display: block;line-height: 26px;width:810px;
 text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;height:52px;}
.title_text02 dd p a:after{content:"...";}
.title_text02 dd .detl_info{overflow:hidden;padding-top: 10px;}
.title_text02 dd .detl_info span{float: right;color: #999;font-size: 12px;}
.title_text02 dd .detl_info em a{color:#666;padding: 0 5px;}
.title_text02 dd .detl_info em a:hover,.title_text02 dd strong a:hover{color: #ff8a81;}
/*index*/
.m_tag_lst{padding:15px 0px;border-bottom:1px solid #e6e5e5;text-align:left;}
.m_tag_lst span{display:inline-block;}
.m_tag_lst span a{display:inline-block;white-space:nowrap;background:#fdf2ec;color:#666;padding: 0 20px; line-height:24px;margin-right: 8px;}
.m_tag_lst span a:hover{color: #ff8a81;}

.g_hder_wp{padding:25px 0px 0 0px;overflow: hidden;}
.g_hder_wp:after{ clear:both; visibility:hidden; display:block; height:0; font-size:0;}
/*index focus*/
/*动画*/
.m_hder_focus{width:510px; height:273px; float:left;}
.animateTShell{width:510px;height:273px;margin:0 auto;overflow:hidden;position:relative;}
.animateTShell div{width:510px;height:273px;margin:0 auto;position:relative;overflow:hidden;z-index:0;}
.animateTShell div ul{width:7000px;height:273px;position:absolute;left:0;top:0;z-index:1}
.animateTShell div ul li{width:510px;height:273px;float:left;overflow:hidden;position:relative;}
.animateTShell div ul li span{background:url('../../ww3/diamclass/repeat_x.png') repeat-x;width: 490px; height: 27px;padding:10px 10px 0; 
line-height: 27px; bottom:0px; left: 0;display: block; z-index: 2; text-align:left;position: absolute;color:#fff;}

.animateTShell .arrowLeft{width:28px;height:46px;position:absolute;left:20px;top:118px;cursor:pointer;display:block;z-index:10;background:url('../../ww3/diamclass/arrowLeft.png') left top no-repeat}
.animateTShell .arrowLeft:hover{background:url('../../ww3/diamclass/arrowLeft.png') right top no-repeat}
.animateTShell .arrowRight{width:28px;height:46px;position:absolute;right:20px;top:118px;cursor:pointer;display:block;background:url('../../ww3/diamclass/arrowRight.png') left top no-repeat;z-index:10}
.animateTShell .arrowRight:hover{background:url('../../ww3/diamclass/arrowRight.png') right top no-repeat}
.totle_num{width:100%;height:20px;position:absolute;display:block;overflow:hidden;left:0;bottom:30px;text-align:center;z-index:10;color:#333;font-family:Arial;font-size: 14px;}

.m_hder_newlst{float:right;width:598px;text-align:left;}
.m_hder_newlst li{border-bottom:1px solid #e6e5e5;padding:23px 0 24px;}
.m_hder_newlst strong{display: block;border-left:3px solid #ff8a81;font-size:18px; font-family:Arial,"宋体"; color:#000;font-weight:normal;padding-left: 18px;line-height: 16px;}
.m_hder_newlst span{display: block;padding-top:13px;width: 588px;text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
.m_hder_newlst a:hover strong{color: #ff8a81;}

/**/
.f_edu_title{overflow:hidden;text-align:left;padding:0 0px;margin-top: 15px;height: 42px;}
.f_edu_title strong{color:#000; font-size:18px; font-weight: normal; font-family:Arial,"宋体";height: 38px;display:inline-block;}
.f_edu_title strong img{padding-top: 7px;}
.f_edu_title strong a{color: #000000;font-family:Arial,"宋体";line-height: 37px}
.f_edu_title strong a:hover{color: #ff8a81;}
.f_edu_title span{float:right;line-height: 38px;}
.f_edu_title span a{color:#333; padding-left:15px;}
.f_edu_title span a:hover{color: #ff8a81;}
.f_edu_title i{display:block;border-top:1px solid #000000; border-bottom: 1px solid #cccccc; height:2px; background:#fff;}

.m_cnt_wp{padding: 20px 0px 0;overflow:hidden;}
.m_cnt_wp:after{ clear:both; visibility:hidden; display:block; height:0; font-size:0;}

.m_cnt_lft{overflow:hidden;border:1px solid #d8d8d8;padding:12px 12px 5px;width: 264px;float:left;}
.f_ad_link{ position:relative;width:264px;height:176px;display:block;margin-bottom:7px;}
.f_ad_link span{background:url(../../ww3/diamclass/repeat_x.png) repeat-x; width: 249px; height: 27px;line-height: 20px;padding-left:15px;padding-top: 10px; color: #fff;position:absolute; bottom:0; left:0;text-align:left;}

.m_cnt_rig{float:left;padding-left:8px;}

.m_cnt_dl{width:189px;float:left;padding-left: 31px;}
.m_cnt_dl dt{margin-bottom:15px; position: relative;z-index:0;}
.m_cnt_dl dt .icon_arrow{background:url('../../ww3/diamclass/icon_arrow.png') left center no-repeat;display:block;
width:10px;height: 19px;position:absolute;z-index:1;top:162px;right:30px;opacity:0;}
.m_cnt_dl dd {border-bottom:1px dotted #8d8d8d;}
.m_cnt_dl dd  a{font-size: 12px;color:#333; line-height: 28px; display:block; width:176px;
white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;text-align:left;background:url('../../ww3/diamclass/icon_point02.jpg') left center no-repeat; 
padding-left: 10px;}
.m_cnt_dl dd  a:hover{color:#f6827a;}

.m_cnt_picwp{width:190px;float:left;padding-left: 31px;}
.m_cnt_picwp  a {position: relative;display:block;z-index:0;}
.m_cnt_picwp  a span{font-size: 12px;
white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;
background:url('../../ww3/diamclass/repeat_x.png') repeat-x;width: 170px; height: 27px;padding:10px 10px 0; 
line-height: 27px; bottom:0px; left: 0;display: block; z-index: 2; text-align:left;position: absolute;color:#fff;}

.m_forum_lst{border:#e8e8e2 solid 5px;width: 280px;float:left;}
.m_forum_lst dt{font-size: 18px; color:#000;border-top:1px solid #d2d2ca;border-left:1px solid #d2d2ca;border-right:1px solid #d2d2ca;}
.m_forum_lst dt em{display:block; margin: 0 10px; border-bottom:1px solid #8e8482;line-height: 50px;}
.m_forum_lst dd {border-bottom:1px solid #d2d2ca;border-left:1px solid #d2d2ca;border-right:1px solid #d2d2ca;padding: 20px 12px;}
.m_forum_lst dd  a{font-size: 12px;color:#333;border-bottom:1px dotted #8d8d8d; line-height: 28px; display:block; width:243px;
white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;text-align:left;background:url('../../ww3/diamclass/icon_point02.jpg') left center no-repeat; padding-left: 10px;}
.m_forum_lst dd  a:hover{color:#f6827a;}
.m_forum_lst dd a img{vertical-align:middle;padding-left: 10px;}

.m_show_lst{border:1px solid #d8d8d8;float:left;margin-left: 30px;}
.m_show_lst dt{font-size:18px; color:#000;font-family:Arial,"宋体";text-align:center; padding:20px 0;}
.m_show_lst dt a{color:#000;}
.m_show_lst dt a:hover{color: #ff8a81;}

.m_show_lst dd{padding-bottom: 12px;overflow:hidden;padding-left: 27px;}
.m_show_lst dd a{display:block;width:252px;margin-right: 14px;text-align:center;float:left;}
.m_show_lst dd a img{display: block;}
.m_show_lst dd a span{line-height:32px;display:block;}
.m_show_lst dd ul li{ float: left; margin-right: 27px;}
.m_show_lst dd ul li p a{ display: block;padding-top: 12px}
.m_uliked{padding-bottom: 40px;padding-top: 20px;}
.m_uliked ul{overflow:hidden;padding:0 23px;}
.m_uliked strong{display:block;font-weight:normal;font-size:12px; color:#333;text-align: left; line-height: 35px;}
.m_uliked li{width:208px; float: left;padding:0 9px;font-family: Arial,"宋体";}
.m_uliked li span{display:block;text-align:center;font-family: Arial,"宋体";font-size: 12px;}
.m_uliked li a:hover .ulike_pro{color:#666;}
.m_uliked .uliked_pro{padding-top: 12px;padding-bottom: 7px; width:207px;margin:0 auto;
white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
 .m_uliked .uliked_price{font-family: Arial,"微软雅黑";padding-bottom: 6px;color:#999;}
 .m_uliked .uliked_price b{color:#f55549;font-size: 14px;font-family: Arial,"微软雅黑";padding-right: 10px;}
 .m_uliked .uliked_price b i{font-size:12px;font-weight:normal;}
.m_uliked .uliked_price s{color:#999;font-family: Arial,"微软雅黑";font-size:13px;}

/*min focus*/

.mi_focus{padding-bottom: 10px;}
.animateTShel2{width:308px;height:230px;margin:15px auto 0;overflow:hidden;position:relative;z-index:0;}

.animateTShel2  ul{width:3000px;height:210px;position:absolute;left:0;top:0;z-index:5}
.animateTShel2  ul li{width:308px;height:210px;float:left;overflow:hidden;position:relative;z-index: 0;text-align:center;}


.animateTShel2 li a{display: block;width:308px;height:210px;text-align: center;}
.animateTShel2 li a:hover .ulike_pro{color:#666;}
.animateTShel2  li a .ulike_pro{position: absolute;z-index: 1;top:166px;left: 0;width:308px;}
.animateTShel2 .likelist_nick{padding-bottom: 2px; width:207px;margin:0 auto;text-align:center;font-family: Arial,"宋体";font-size: 12px;
white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;display: block;}
 .animateTShel2 .uliked_price{font-family: Arial,"微软雅黑";display: block;text-align: center;font-family: Arial,"宋体";font-size: 12px;}
 .animateTShel2 .uliked_price b{color:#f55549;font-size: 14px;font-family: Arial,"微软雅黑";padding-right: 10px;}
 .animateTShel2 .uliked_price b i{font-size:12px;font-weight:normal;}
.animateTShel2 .uliked_price s{color:#999;font-family: Arial,"微软雅黑";font-size:13px;}


.animateTShel2 .disc_border{width:100%;height:20px;position:absolute;display:block;overflow:hidden;left:0;bottom:-7px;text-align:center;z-index:10}
.animateTShel2 .disc{width:9px;height:9px;margin-left:3px;margin-right:3px;display:inline-block;cursor:pointer;background:url('../../ww3/diamclass/donghua_disc.png') left top no-repeat}
.animateTShel2 .disc_hover{width:9px;height:9px;margin-left:3px;margin-right:3px;display:inline-block;cursor:pointer;background:url('../../ww3/diamclass/donghua_disc.png') right top no-repeat;}

.animateTShel2 .arrowLeft{width:16px;height:32px;position:absolute;left:20px;top:92px;cursor:pointer;display:block;z-index:10;
	background:url('../../ww3/diamclass/arrowLeft32x30.jpg') left top no-repeat}
.animateTShel2 .arrowLeft:hover{background:url('../../ww3/diamclass/arrowLeft32x30.jpg') right top no-repeat}
.animateTShel2 .arrowRight{width:16px;height:32px;position:absolute;right:20px;top:92px;cursor:pointer;display:block;
	background:url('../../ww3/diamclass/arrowRight32x30.jpg') left top no-repeat;z-index:10}
.animateTShel2 .arrowRight:hover{background:url('../../ww3/diamclass/arrowRight32x30.jpg') right top no-repeat}

/*新闻详情页新增seo相关 2017-12-13*/
.g_txt_adlnk{text-align:center;line-height:30px;font-size:12px;color:#666;margin-bottom:8px;}
.g_txt_adlnk a{background:url('../../ww3/news/seo_icon.jpg') left center no-repeat;
				padding-left:15px;display:inline-block;font-size:12px;color:#666;margin-right:20px;}
.new_adpic_tlt{line-height:62px;text-align:left;padding-left:25px;font-size:14px;color:#000;background:#f8f7f7;}
.new_adpic_lst{background:#f8f7f7;overflow:hidden;text-align:left;}
.new_adpic_lst div{width:900px;}
.new_adpic_lst a{width:244px;display:inline-block;text-align:center;margin-right:46px;padding-bottom:30px;color:#333;}
.new_adpic_lst a img{display:block;margin-bottom:15px;}
.txt_sh1{color:#000;line-height:70px;text-align:left;}
.txt_sh1 a{text-decoration:underline !important;color:#000;}
.g_txt_tiplnk{text-align:left;line-height:21px;font-size:12px;color:#000;}
.g_txt_tiplnk a{color:#333;background:#efefef;padding:0 18px;display:inline-block;margin-left:14px;}
.f_news_wp{border-top:1px solid #000;border-bottom:1px solid #000;overflow:hidden;padding:15px 0 39px;margin-top:35px;}
.f_news_tlt{color:#000;font-size:12px;text-align:left;padding-left:18px;padding-top:33px;padding-bottom:19px;}
.f_news{padding-left:18px;}
.f_news ul{width:270px;float:left;}
.f_news li{text-align:left;}
.f_news li a{line-height:28px;text-align:left;white-space:nowrap; text-overflow:ellipsis; 
	-o-text-overflow:ellipsis;overflow: hidden;width:240px;color:#333;}
.f_news li  a:hover{color:#f6827a;}
.g_store_bg{background:url('../../ww3/news/bg.jpg') #261f36 top center no-repeat;padding:47px 47px 0;margin-top:40px;}
.g_store_wp{border-top:1px #fee6e3 solid;border-left:1px #fee6e3 solid;border-right:1px #fee6e3 solid;padding:9px 9px 0;}
.g_store_cnt{background:#ffeae7;overflow:hidden;}
.g_store_tlt{color:#000;font-size:36px;padding:42px 0 8px; }

.tp_line_tlt{display:inline-block; text-align:center;font-weight: normal;padding:2px 0 20px;line-height: 22px;background:#ffeae7;vertical-align: middle;
	}
.tp_line_tlt span{display:inline-block;color:#000;padding:0 22px;font-size:20px;vertical-align: middle;}

.tp_line_tlt i{border-bottom:1px solid #cecece;display: inline-block;width: 40px;vertical-align: middle;}
.tp_line_tlt em{border-bottom:1px solid #cecece;display: inline-block;width: 40px;vertical-align: middle;}

.g_store_lst{color:#000;position:relative;z-index:0;padding-left:70px;display:table;vertical-align:middle;margin-bottom:10px;}
.g_store_lst_tlt{font-size:18px; display:block;text-align:left;font-weight:normal;line-height:30px;color:#000;
				background:url('../../ww3/news/local.jpg') left center no-repeat;padding-left:20px;	}
.g_store_lst_add{line-height:34px;font-size:12px;display:block;text-align:left;color:#000;padding-left:22px;}
.g_store_lst_tme{line-height:22px;display:block;text-align:left;margin-top: 13px;}

.g_store_lst_pic{width:127px;height:126px;display:table-cell;padding-right:35px;padding-top:1px;
text-align:center;position:relative;z-index:0;vertical-align:middle;}
.g_store_lst_pic i{background:url('../../ww3/news/img_bg.png') center no-repeat;
display:block;width:127px;height:127px;position:absolute;z-index:2;top:9px;left:0px;}
.g_store_lst dt{display:table-cell;text-align:left;vertical-align:middle;}
.store_lnk{background:#f6827a;width:90px;height:20px;line-height:20px;color:#fff!important;
	font-size:12px;display:inline-block;text-align:center;margin-left:22px;margin-top:5px;}
.store_hide{display:none;}
.store_btns{padding-top:25px;text-align:center;padding-bottom:53px;}
.store_btns01,.store_btns02{display:inline-block;width:236px;height:37px;line-height:37px;color:#fff!important;}
.store_btns01{background:#ffaba0;margin-right:25px;}
.store_btns02{background:#f6827a;}
.store_lnk:hover,.store_btns01:hover,.store_btns02:hover
{opacity: 0.85;filter:alpha(opacity=85);}

.news_pagelnk{text-align:left;padding:36px 0;color:#000;}
.news_pagelnk span{text-align:left;width:49%;display:inline-block;vertical-align:middle;}
.news_pagelnk em{text-align:right;width:50%;display:inline-block;vertical-align:middle;}
.news_pagelnk span a,.news_pagelnk em a{color:#000;text-decoration:underline;}


.hide_tipsbg{position:fixed;top:0;left:0;width:100%;height:100%;background:#000;z-index:10;opacity:0.75;filter:alpha(opacity=75);display:none;}


.hide_tips_cnt{position:fixed;top:50%;left:50%;width:396px;height:396px;margin:-198px 0 0 -198px;
 z-index:51;background:#fff;display:none;}
.hide_tips_close{
  width: 54px;
  height: 54px;
  display:block;
  position: absolute;
  background:url(../../ww3/news/close.jpg) center no-repeat;
  top: 0;
  right: 0px;
  z-index: 53;
  cursor:pointer;
}
.ipt_tel_tlt{font-size:30px;color:#000;text-align:center;padding:52px 0 13px;}
.ipt_tel_div,.ipt_code_div{background:#f7f8f8;width:328px; height:45px;color:#999;line-height:45px;
	margin:30px auto 0;text-align:left;padding-left:18px;}
.ipt_tel,.ipt_code{margin:0;border:none;background:none;padding:15px 20px;color:#999;font-family: Arial,"宋体";}
.ipt_tel{width:200px;}
.ipt_code{width:140px;}
.ipt_code_a{width:106px;text-align:center; line-height:45px;display:inline-block;color:#f6827a!important;}
.warr_txt{line-height:25px;height:25px;width:328px;margin:0 auto;text-align:left;color:#ff8a81;}
.ipt_tel_btn{text-align:center;padding-top:15px;}
.ipt_tel_enter{display:inline-block;width:203px;height:33px;line-height:33px;color:#fff!important;background:#f6827a;}

.ipt_suss_enter,.ipt_suss_enter2{display:inline-block;width:148px;height:33px;line-height:33px;color:#fff!important;}
.ipt_suss_enter{background:#ccc;margin-right:15px;}
.ipt_suss_enter2{background:#f6827a;}
.ipt_tel_enter:hover,.ipt_suss_enter:hover,.ipt_suss_enter2:hover
{opacity: 0.85;filter:alpha(opacity=85);}

.ipt_suss_wp{padding-top:45px;text-align:center;}
.ipt_suss_txt{color:#333;font-size:30px;padding:15px 0 30px;}
.ipt_suss_txt em{color:#999;font-size:12px;display:block;text-align:center;padding-top:15px;}
/*新闻详情页新增seo相关 2017-12-13 end*/