img,dd,dl,dt { padding:0; margin:0; border:0; }
ul,li { padding:0; margin:0; list-style:none; }
.clearHeight{
	width: 100%;
	height: auto;
	clear: both;
	overflow: hidden;
}
.block_div {
	width: 100%;
	height: auto;
	background: #ffffff;
}
.detail_header {
	width: 1180px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	border-top: none;
	background-color: transparent;
}
.cooperateHeader{
	width: 1180px;
	height: 50px;
	overflow: hidden;
	position: relative;
}
.cooperateHeaderLine{
	width: 1180px;
	height: 2px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	position: relative;
}
.cooperateStep{
	width: 1180px;
	height: 23px;
	margin-top: 50px;
	overflow: hidden;
	position: relative;
	background:url(../../ww3/cooperate/cooperateStep.jpg) center top no-repeat;
}
.cooperateStepText{
	width: 1180px;
	height: auto;
	margin-top: 20px;
	margin-bottom: 70px;
	overflow: hidden;
	position: relative;
}
.cooperateStepText ul li {
	line-height: 30px;
}
.cooperateStepText ul li a{
	color: #666666;
}
.huadongBorder1{
	width: 178px;
	height: 55px;
	font-size: 12px;
	color: #000;
	text-align: right;
	line-height: 55px;
	font-family: "宋体";
	cursor: pointer;
	position: absolute;
	left: 400px;
  	top: 10px;
	z-index: 5;
}
.huadongBorderline{
	width: 5px;
	height: 55px;
	font-size: 12px;
	color: #999;
	text-align: center;
	line-height: 55px;
	font-family: Arial;
	cursor: pointer;
	position: absolute;
	left: 592px;
  	top: 10px;
	z-index: 15;
}
.huadongBorder2{
	width: 178px;
	height: 55px;
	font-size: 12px;
	color: #000;
	text-align: left;
	line-height: 55px;
	font-family: "宋体";
	cursor: pointer;
	position: absolute;
	left: 609px;
  	top: 10px;
	z-index: 5;
}
.huadongon{
	color: #f6827a;
}
.cooperateContent1{ 
	width: 1180px;
	height: auto;
	overflow: hidden;
	position: relative;
}
.cooperateContent2{
	width: 1180px;
	height: auto;
	overflow: hidden;
	position: relative;
}
.cooperateContent1ul{
	margin-left: 70px;
	margin-top: 25px;
	overflow: hidden;
}
.cooperateContent1ul li{
	width: 220px;
	height: 32px;
	float: left;
	text-align: left;
}
.cooperateContent1ul li a:hover{
	color: #f6827a;
	text-decoration: none;
}
.cooperateContent2 ul {
	overflow: hidden;
}
.cooperateContent2 ul li {
	width: 140px;
	height: 44px;
	float: left;
	margin-top: 30px;
	margin-left: 49px;
	margin-right: 45px;
}
.cooperateLink{
	width: 1180px;
	height: 23px;
	margin-top: 50px;
	overflow: hidden;
	position: relative;
	background:url(../../ww3/cooperate/cooperateLink.jpg) center top no-repeat;
}