@charset "utf-8";


/*
c_body
	rate_header
	rate_product_row
		rate_product_one
			rate_category
				h2
			rate_product_tag
			rate_product_comment
			rate_product_star
		rate_product_one
			。。。
	rate_saler
		h2
		rate_saler_tag
		rate_saler_comment
		rate_product_star
	rate_footer
*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,hr,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}

body,table,td,select,input,button,textarea {
	font-size:12px;
	font-family:Arial, "宋体";
	color:#666666;
}

ol,ul {
	list-style:none;
}

textarea {
	resize:none;
}

body {
	/* background:url('http://img.zbird.cn/rate/rate_bg.jpg') no-repeat fixed top center #FFF; */
}

body#rate_index_for_test {
	background:#F2F1F1;
}

hr {
	border:0;
	width:902px;
	margin:21px auto;
	float:left;
	height:1px;
	background:#CCCACA; 
}

.bgimg{
	width:100%;
	height:100%;
	position:fixed;
	z-index:-10;
	text-align:center;
}

.bgimg img{
	height:100%;
}

.bglogo{
	width:146px;
	height:43px;
	position:fixed;	/* 固定在可见窗口的一个位置 */
	/* position:relative; */		/* 跟随浏览器滚动 */
	z-index:-8;
	margin:20px 0 0 25px;
}

.bglogo img{
	/**/
}

.bgback{
	width:100%;
	height:37px;
	position:fixed;
	text-align:right;
}

#c_body {
	width:980px;
	height:auto;
	position:relative;
	/*line-height:915px;
	background:url('http://img.zbird.cn/rate/rate_bg.jpg') repeat-y #FFF;	
	background:url('http://img.zbird.cn/rate/rate_bg.jpg') no-repeat center top #FFF; */
	position:relative;
	margin:0 auto;
	padding:0;
	border:0;
}

#c_above {
	width:auto;
	height:0px;
}

.rate_vip {
	width:auto;
	height:18px;
	line-height:18px;
	padding-left:17px;
	padding-top:10px;
	float:left;
}

.rate_vip h1 {
	margin-top:2px;
	font-size:14px;
	font-family:Arial, "宋体";
	color:#666666;
	font-weight:normal;
}

#rate_vip_name {
	background:url('../../rate/rate_vip.png') no-repeat bottom left; 
}

#rate_vip_mobile {
	margin:0 18px;
	background:url('../../rate/rate_mobile.png') no-repeat bottom left; 
}

.rate_vip_order_name {
	height:20px;
	line-height:20px;
	color:#666666;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	margin-top:17px;
	float:left;
}

.rate_vip_order_id{
	height:20px;
	line-height:20px;
	color:#666666;
	font-size:18px;
	font-family:宋体;
	font-weight:bold;
	margin-top:16px;
	float:left;
}

.rate_product_row {
	margin:7px 0;
	padding:24px 17px 21px 15px;	/*上右下左*/
	width:870px;	/*902 -17-15*/
	height:166px;	/*211 -24-21*/
	float:left;
	background:url('../../rate/bg_product.png') no-repeat top left; 
}

.rate_product_one {
	padding:0 26px;
	width:383px;	/*870/2 - 26*2*/	/* 384就会浮动到下一层 */
	margin:0;
	float:left;
}

.rate_saler {
	margin:7px 0;
	width:902px;
	height:152px;
	float:left;
	background:url('../../rate/bg_saler.png') no-repeat top left; 
}

.rate_saler h2{
	/* padding-top:2px; */
	float:left;
	margin-left:155px;
	margin-top:33px;
	font-size:12px;
	font-family:Arial, "宋体";
	color:#666666;
	font-weight:normal;
}

.rate_saler_tag{
	float:right;
	margin:23px 188px 0 0;
}

.rate_saler_comment{
	float:left;
	margin:14px 0 0 42px;
}

.rate_saler_comment textarea{
	float:left;
	border:#E1E0E0;
	width:637px;	/* 650-13 */
	height:38px;
	color:#999999; 
	padding:12px 15px; 
	border:1px solid #E1E0E0;
}

.rate_saler_star{
	margin:16px 0 0 36px;
	float:left;
}

.rate_saler_star span {
	width:20px;
	height:20px;
	padding:0 1px;
	background:url('../../rate/star_on.jpg') no-repeat center;
	float:left;
	cursor:pointer;
}

.rate_header {
	width:auto;
	height:219px;
	background:url('../../rate/col-repeat.png') repeat left; 
	margin:0 auto;
	padding:0 39px;
	border:0;
}

.rate_header .rate_input {
	padding:0;
	margin:0 auto;
	width:902px;
	height:210px;
	background:url('../../rate/text_bg.png') no-repeat center;
	overflow:hidden;
}

.rate_header .rate_success {
	padding:0;
	margin:0 auto;
	width:902px;
	height:210px;
	background:url('../../rate/text_success_bg.png') no-repeat center;
	overflow:hidden;
}

.rate_clear_float {
	clear:both;
}

.rate_category{
	width:auto;
	height:18px;
	line-height:18px;
	/* background:url('http://img.zbird.cn/rate/category/http://img.zbird.cn/.jpg') no-repeat center; */
	/* background:url('http://img.zbird.cn/rate/category/diamond.jpg') no-repeat bottom left; */
	/* background:url('http://img.zbird.cn/rate/category/.jpg') no-repeat bottom left; */
	float:left;
}

.rate_category h2.two_letters{
	padding-left:61px;
	/* padding-top:2px; */
	float:left;
	margin-top:4px;
	font-size:12px;
	font-family:Arial, "宋体";
	color:#666666;
	font-weight:normal;
}

.rate_category h2.three_letters{
	padding-left:82px;	/* +21像素 */
	/* padding-top:2px; */
	float:left;
	margin-top:4px;
	font-size:12px;
	font-family:Arial, "宋体";
	color:#666666;
	font-weight:normal;
}

.rate_category h2.four_letters{
	padding-left:103px;	/* +21像素 */
	/* padding-top:2px; */
	float:left;
	margin-top:4px;
	font-size:12px;
	font-family:Arial, "宋体";
	color:#666666;
	font-weight:normal;
}

.rate_product_tag{
	margin:10px 0;
	float:left;
}

.rate_product_comment{
	float:left;
}

.rate_product_comment textarea{
	float:left;
	border:#E1E0E0;
	width:351px;	/*383-16*2*/
	height:44px;
	color:#999999; 
	padding:12px 15px; 
	border:1px solid #E1E0E0;
}

.rate_product_star{
	margin:14px 0;
	float:left;
}

.rate_product_star span {
	width:20px;
	height:20px;
	padding:0 1px;
	background:url('../../rate/star_on.jpg') no-repeat center;
	float:left;
	cursor:pointer;
}

.rate_order_btn {
	margin-left:8px; 
	float:left;
	background:url('../../rate/btnRate.jpg') 0 0 no-repeat;
	width:90px;
	height:39px;
	border:0;
	cursor:pointer;
}

.rate_order_btn:hover,.rate_order_btn:active {
	background-position:-90px 0;
}

.rate_submit_btn {
	margin:0 8px;
	text-align:center;
	background:url('../../rate/btnSubmit.jpg') 0 0 no-repeat;
	width:121px;
	height:48px;
	border:0;
	cursor:pointer;
}

.rate_submit_btn:hover,.rate_submit_btn:active {
	background-position:-121px 0;
}

.rate_cancel_btn {
	margin:0 8px;
	text-align:center;
	background:url('../../rate/btnCancel.jpg') 0 0 no-repeat;
	width:121px;
	height:48px;
	border:0;
	cursor:pointer;
}

.rate_cancel_btn:hover,.rate_cancel_btn:active {
	background-position:-121px 0;
}

.rate_back_btn {
	margin:21px 19px 0 0;
	text-align:center;
	background:url('../../rate/btnBack.jpg') 0 0 no-repeat;
	width:35px;
	height:16px;
	border:0;
	cursor:pointer;
}

.rate_back_btn:hover,.rate_back_btn:active {
	background-position:-35px 0;
}

.rate_body {
	float:left;
	width:902px;
	height:auto;
	padding:20px 39px 22px 39px;
	/* background:#FFC;  */
}

.rate_content {
	padding-left:80px;
	background:#FCC;
	/* border:#F00; */
	word-break: break-all;
	display:block;
	float:left;
}
/*
body
	rate_index
		rate_title
		rate_page
*/

.rate_index {
	width:856px;	/* 916-30-30 */
	width:837px;	/* 比原来减少19个px */
	margin:0px auto;
	padding:22px 30px 15px 30px;
	border-top:1px solid #CDCBCC;
	border-bottom:1px solid #CDCBCC;
	background:white;
	word-break: break-all;
	display:block;
	min-height:100px;
}

.rate_title {
	width:74px;
	height:16px;
	margin:0 0 8px 8px;
	background:url('../../rate/order_product.jpg') no-repeat center;
}

.rate_page {
	margin:7px 0 0 0;
	float:right;
}

.rate_page p {
	height:25px;
	line-height:25px;
	margin:0 12px 0 0;
	padding:0;
	display:inline-block;
	border:0;
}

.rate_page span.rate_page_count{
	height:23px;
	line-height:23px;
	margin:0;
	padding:0 1px;
	font-weight:bold;
	color:#990000;
	text-align:center;
	display:inline-block;
	border:0;
}

.rate_page span.rate_page_num{
	height:23px;
	line-height:23px;
	margin:0;
	padding:0 1px;
	font-weight:bold;
	text-align:center;
	display:inline-block;
	border:0;
}

.rate_page span.rate_page_delimiter{
	width:1px;
	height:16px;
	line-height:16px;
	margin:5px 20px 4px 23px;
	padding:0;
	font-weight:normal;
	text-align:center;
	display:inline-block;
	background:#E9E6E6;
	border:0;
}

.navi_prev {
	margin:0 1px 0 3px;
	display:inline-block;
	background:url('../../rate/navi_prev.jpg') 0 0 no-repeat;
	width:26px;
	height:25px;
	line-height:25px;
	border:0;
	cursor:pointer;
}

.navi_prev:hover,.navi_prev:active {
	background-position:-26px 0;
}

.navi_next {
	margin:0 1px 0 3px;
	display:inline-block;
	background:url('../../rate/navi_next.jpg') 0 0 no-repeat;
	width:51px;
	height:25px;
	line-height:25px;
	border:0;
	cursor:pointer;
}

.navi_next:hover,.navi_next:active {
	background-position:-51px 0;
}

.rate_page span.rate_page_navi:hover {
	height:23px;
	line-height:23px;
	margin:0 1px 0 3px;
	min-width:10px;	/*24-2*7*/
	padding:0 7px;
	cursor:pointer;
	text-align:center;
	display:inline-block;
	border:1px solid #DCDDDE;
	color:#FE898F;
}

.rate_page span.rate_page_navi {
	height:23px;
	line-height:23px;
	margin:0 1px 0 3px;
	min-width:10px;	/*24-2*7*/
	padding:0 7px;
	cursor:pointer;
	text-align:center;
	display:inline-block;
	border:1px solid #DCDDDE;
}

.rate_list {
	margin:8px 0 10px 12px;	/*76-64*/
	width:761px;	/*856-76*/
	height:auto; 
	line-height:24px;
	vertical-align:middle;
	font-size:12px;
	font-family:Arial, "宋体";
	font-weight:normal;
	color:#999999;
	float:left;
}

.rate_list img{
	margin:0;
	border:0;
	padding:0;
}

.rate_list span.rate_page_point{
	width:2px;
	height:2px;
	line-height:2px;
	margin:0 9px;
	padding:0;
	font-weight:normal;
	text-align:center;
	display:inline-block;
	background:#999999;
	border:0;
}

.rate_show_star{
	margin:0;
	float:right;
}

.rate_show_content{
	margin:10px 0 0 0;
	color:#666666;
	float:left;
}

.rate_show_star span[name="blank"]{
	width:9px;
	height:1px;
	border:0px;
	float:left;
}

.rate_show_star span[name="star"]{
	width:14px;
	height:20px;
	padding:2px 1px;
	background:url('../../rate/star_show.jpg') no-repeat center;
	float:left;
}

hr.show_list{
	border:0;
	width:100%;
	margin:8px 0 9px 0;
	float:left;
	height:1px;
	background:#E9E6E6; 
}

.rate_footer {
	width:902px;
	/*height:30px;*/
	margin:21px auto;
	clear:both;
	border:0;
	float:left;
	text-align:center;
	
	background:url('../../rate/btnSubmit.jpg') 0 0 no-repeat center #FFD;
	/* width:90px;
	height:39px; */
}

.tag_span{
	padding:0 12px;
	margin:0 3px 0 0; 
	min-width:26px; /*26+12*2 = 50px*/
	width:auto;
	height:22px;
	border:1px solid #CCCCCC;
	background:#FFF;
	color:#999999;
	float:left;
	text-align: center;
	line-height:22px;
	cursor:pointer;
}

.tag_span_select {
	border:1px solid #FAA89C;
	background:#FAA89C;
	color:#FFFFFF;
}

.tag_span_show {
	border:1px solid #FEF4F2;
	background:#FEF4F2;
	color:#999999;
	cursor:default;
}