@charset "utf-8";


em,b,i{ font-style:normal;}
.clearfix{ display:inline-block;}
.clearfix{ display:block;}
* html .clearfix{ display:block;}
html[xmlns] .clearfix{ display:block;}
.clearfix:after,.g_cityreg_wp:after{ clear:both; visibility:hidden; display:block; height:0; font-size:0;}

 h1,h2,h3,h4,h5{margin: 0;padding: 0;font-size:100%;}
 dl,dd,dt,ul,li,ol{margin: 0;padding: 0;list-style: none;}



.f_gray_bg{background: #ffffff;width: 100%;overflow: hidden;}

.block{width:1180px;padding:18px 0;color:#666;}
.block a{color:#666;}
.block a:hover{color:#F2776C;}
.g_hder_wp{width:1180px; margin:0 auto;height:528px; background:url(../../ww3/store/180330/banner.jpg) center no-repeat ;overflow: hidden;}
.g_txta_wp{width:1180px; margin:0 auto;height:249px; background:url(../../ww3/store/180330/bg1.jpg) center no-repeat ;overflow: hidden;
			text-align:right;}
.g_txta_wp em{display:inline-block;width:290px;height:249px;cursor:pointer;}

.g_txt2_wp{width:1180px; margin:0 auto;height:72px; background:url(../../ww3/store/180330/bg2.jpg) center no-repeat ;overflow: hidden;}

.g_pic_focus{width: 1180px;margin:0 auto;}
.g_pic_focus.animateTShell{width: 1180px;height:323px;position:relative;z-index:0;}
.g_pic_focus.animateTShell .animate{width: 1180px;height: 323px;position:relative;overflow: hidden;}
.g_pic_focus.animateTShell .animate .ani_ul{width: 1180px;height: 323px;float: left;}
.g_pic_focus.animateTShell .animate .ani_ul .ani_li{width: 1180px;height: 323px;float:left;position: relative;z-index:0;}
.g_pic_focus .disc_border{width: 1180px;height:20px;position:absolute;display:block;overflow:hidden;left:0;bottom:10px;text-align:center;z-index:1;}

.g_pic_focus .disc,.g_pic_focus .disc_hover{width:12px;height:12px;margin:0 3px;display:inline-block;cursor:pointer;}
.g_pic_focus .disc{background:url('../../ww3/store/180330/f_dis.png') left center no-repeat ;}
.g_pic_focus .disc_hover{background:url('../../ww3/store/180330/f_dis.png') right center no-repeat ;}


.g_pic_focus .arrowLeft,.g_pic_focus .arrowRight{width:41px;height:41px;display:inline-block;cursor:pointer;position:absolute;top:140px;}
.g_pic_focus .arrowLeft{background:url('../../ww3/store/180330/f_lft.png') left center no-repeat ;left:25px;}
.g_pic_focus .arrowRight{background:url('../../ww3/store/180330/f_rig.png') left center no-repeat ;right:25px;}

.g_pic_focus .arrowLeft:hover{background:url('../../ww3/store/180330/f_lft.png') right center no-repeat ;}
.g_pic_focus .arrowRight:hover{background:url('../../ww3/store/180330/f_rig.png') right center no-repeat ;}

.g_txtfocus_wp{width: 1180px;margin:35px auto;text-align:left;}
.g_txtfocus_wp_ov{width:1200px;overflow:hidden;}

.g_txtfocus1,.g_txtfocus2,.g_txtfocus3,.g_txtfocus4{width:285px;height:527px;display:inline-block;margin-right:10px;
	position: relative;z-index:0;text-align:center;overflow:hidden;}
.g_txtfocus1{background:url('../../ww3/store/180330/t1.jpg') right center no-repeat;}
.g_txtfocus2{background:url('../../ww3/store/180330/t2.jpg') right center no-repeat;}
.g_txtfocus3{background:url('../../ww3/store/180330/t3.jpg') right center no-repeat;}
.g_txtfocus4{background:url('../../ww3/store/180330/t4.jpg') right center no-repeat;}
.g_txtfocus1 a,.g_txtfocus2 a,.g_txtfocus3 a,.g_txtfocus4 a{display:block;width:100%;height:100%;
		position:absolute;z-index:5;}


.g_txtfs_tlt{color:#000;font-size:20px;display:inline-block;padding-top:108px;letter-spacing:1px;}

.g_txtfocus_hide{position: absolute;top:0;left:0;z-index:1; display: none;width:285px;height:527px;}
.g_txtfocus_hide em{display: block;width:100%; height: 100%;background:#000;opacity: 0.5;filter:alpha(opacity=50); position: absolute;z-index:1;}
.g_txtfocus_hide span{display:block;text-align:center; z-index: 2;position: absolute;color: #fff;font-family: Arial,"宋体";width:100%; padding-top: 163px;}
.g_txtfocus_hide span b{font-size: 20px;font-weight: normal;}
.g_txtfocus_hide span i{display: block;border-bottom: 1px solid #fff;height:0; width:55px;margin:17px auto;}
.g_txtfocus_hide span strong{color: #fff;font-size: 12px;padding: 0 8px;font-weight: normal;display:inline-block;width:203px;
							line-height:22px;}

.g_cityreg_wp{width: 1180px;margin:0 auto 50px;text-align:left;overflow:hidden;}
.g_cityreg_lft{width:585px;border-top:1px solid #000;margin-right:10px;height:524px;float:left;position:relative;z-index:0;}
.g_cityreg_rig{width:584px;float:left;}

.city_btm_lne{position:absolute;z-index:4;bottom:0;left:0;width:585px;height:1px; background:#000;}

.f_search_city{text-align:center;margin:23px 0;position:relative;z-index:0;}
.search_city_ipt{width:270px;background:#f8f8f8;line-height:14px;padding:15px 15px;display:inline-block;vertical-align:middle;margin:0;border:0;
					margin-right:11px;overflow:hidden;}
.search_city_btn{width:125px;height:50px;line-height:50px;text-align:center;display:inline-block;vertical-align:middle;background:#febbae;
				color:#000;}
.search_city_btn:hover{color:#000;}
.f_search_city_close{background:url('../../ww3/store/180330/ipt_close.png')  center no-repeat;
		display:none;height:44px;width:30px;position:absolute;z-index:0;top:3px;right:212px;cursor:pointer;}

.f_city_lst{height:390px;overflow:hidden;width:580px;}
.f_city_cnt{width:500px;padding:24px 0 33px 53px;}

.f_city_cnt strong{color:#000;font-size:20px;font-weight:normal;line-height:45px;}
.f_city_cnt .btn_yy{background:url('../../ww3/store/180330/lnk1.png') left center no-repeat;width:73px;height:22px;
			display:inline-block;margin-top:6px;margin-right:20px;}
.f_city_cnt .btn_yy:hover{background-position:right center;}
.f_city_cnt span{color:#000;font-size:12px;display:block;line-height:22px;}

.f_city_cnt:nth-child(odd)
{
background:#fafafa;
}
.f_city_cnt:nth-child(even)
{
background:#fff;
}
.f_city_cnt .hov_city_map{background:url('../../ww3/store/180330/lnk2.png') left center no-repeat;
						width:62px;height:22px;display:inline-block;margin-top:6px;}
.f_city_cnt .hov_city_map:hover{background-position:right center;}

.tips_none {text-align:center;margin-bottom:24px;display:none;}
.tips_none span{background:url('../../ww3/store/180330/icon_none.jpg') left center no-repeat;
				display:inline-block;padding-left:25px; line-height:25px;color:#999;font-size:12px;}


.op_layer{background:#000;opacity:0.7;position:fixed;top:0;left:0;z-index:10;width:100%;height:100%;display:none;}

/*预约填写*/
.yystore_hide{width:504px;background:#fff;top:50%;left:50%;z-index:11;position:absolute;margin:-275px 0 0 -252px;display:none;}

.yystore_hide_cnt{position:relative;z-index:12;}
.yy_hide_close{background:url('../../ww3/store/180330/close.png')  center no-repeat;width:50px;height:50px;
			top:0px;right:0px;position:absolute;z-index:13;cursor:pointer;}
.yy_hide_tlt{text-align:center;color:#000;font-size:26px;padding:40px 0 25px;}




.yy_province,.yy_ipt,.yy_city,.yy_store{background:#f8f8f8;width:310px;height:40px;margin:0 auto 10px;text-align:left;}
.yy_date,.yy_time,.yy_province,.yy_city{width:150px;height:40px;display:inline-block;background:#f8f8f8;vertical-align:middle;}
.yy_date{margin-right:7px;position:relative;z-index:1;}
.yy_province,.yy_city,.yy_time,.yy_store{line-height:40px;position:relative;}
.yy_sel_province,.yy_sel_city{width:145px;border:0;padding:13px 15px 13px 12px;line-height:12px;background:none;margin:0;cursor:pointer;}
.yy_sel_ty{width:301px;border:0;padding:13px 15px 13px 12px;line-height:12px;background:none;margin:0;cursor:pointer;}
.yy_province{margin-right: 7px;}
.yy_time em{display:block;background:url(../../ww3/store/180330/icon_dwn.png)  right center no-repeat;
		margin-right:14px;text-align:left;margin-left:14px;cursor:pointer;}
.yy_time .yy_sel_op{width:150px;height:80px;}
.yy_sel_op{position:absolute;z-index:1;top:41px;left:0;
			background:#f8f8f8;overflow-y:scroll;display:none;}

.yy_sel_op i{display:block;line-height:24px;color:#666;padding:0 14px;text-align:left;cursor:pointer;}

.yy_ipt_name,.yy_ipt_tel,.yy_ipt_date{border:0;margin:0;color:#999;font-size:12px;display:inline-block;}
.yy_ipt_name,.yy_ipt_tel{padding:13px 15px;width:280px;line-height:12px;background:none;}
.yy_ipt_name.on,.yy_ipt_tel.on,.yy_ipt_date.on,.yy_ipt_date.on{color:#000;}
.yy_ipt_date{padding:13px 15px;width:100px;line-height:12px;margin-right:14px;color:#000;cursor:pointer;
				background:url(../../ww3/store/180330/icon_dwn.png)  right center no-repeat;}

.yy_targ{margin-top:10px;}
.yy_targ div{text-align:left;color:#999;line-height:36px;width:310px;margin:0 auto;}
.yy_targ em{background:#f8f8f8;font-size:12px;color:#999;width:95px;height:30px;line-height:30px;border:1px solid #f8f8f8;
			text-align:center;display:inline-block;margin:0 4px;border-radius:4px;cursor:pointer;}

.yy_targ em.on{background:#fdeaea;color:#f6827a;border:1px solid #f6827a;}

.yy_warr_txt{width:310px;height:30px;line-height:30px;margin:0 auto;text-align:left;color:#f6827a;}
.yy_hide_btn{background:#fdb2a4;width:310px;height:40px;line-height:40px;text-align:center;color:#fff;display:block;margin:0 auto;}

.yy_hide_tips{line-height:24px;margin: 20px auto 40px;color:#666;}
.yy_hide_tips a{background:#fdb2a4;display:inline-block;padding:0 4px;color:#666;}
.yy_hide_tips a:hover,.yy_hide_btn:hover{color:#fff;}
/*预约填写end*/
/*预约成功*/
.yysucess_hide{width:504px;background:#fff;top:50%;left:50%;z-index:11;height:476px;position:absolute;margin:-238px 0 0 -4px;display:none;}
.yy_sus_tlt{color:#000;font-size:26px;padding:60px 0 20px;}
.yy_sus_txt{color:#000;font-size:12px;margin-bottom:40px;}
.yy_sus_info{padding:0 65px;text-align:left;display:table;margin-top:25px;}
.yy_sus_info em{color:#666;display:table-cell;width:110px;}
.yy_sus_info span{color:#000;display:table-cell;line-height:20px;}
.yy_sus_info span b{color:#666;font-weight:normal;}
.yy_sus_info span i{display:block;margin:10px 0 10px;color:#666;}

.yy_suss_btn{background:#f6827a;width:310px;height:40px;line-height:40px;text-align:center;color:#fff;display:block;margin:35px auto 40px;}
.yy_suss_btn:hover{color:#fff;}
.yy_suss_ad{position:absolute;left:-504px;top:0;z-index:1;}
/*预约成功end*/
.jedatebox{}