.top_line {
    background: #ffffff;
    border-top: 1px solid #000000;
    border-bottom: none; 
    display: block;
    height: 0px;
}
.m_brand_pic{
	width: 505px;
}
.m_brand_pic img{
	float: right; 
}
.m_brand_text{
	width: 426px;
}
.m_brand_text dl{
    padding-bottom: 90px;
}
.m_brand_text dt{
	font-size: 20px;
	padding-top: 95px;
	padding-left: 30px;
	padding-bottom: 30px;
}
.m_brand_text dt a:hover{
	color: #000;
}
.m_brand_text dd span{
	padding-left: 30px;
	text-align: justify;
}
.m_brand_text dd em{
	padding-left: 25px;
	padding-top: 50px;
}
.line41{
	width: 41px;
	height: 1px;
	overflow: hidden;
	background: #000;
	margin: 30px auto 0 auto;
}
.line21{
	width: 21px;
	height: 1px;
	overflow: hidden;
	background: #000;
	margin: 30px auto 0 auto;
}
.gaybg{
	background: #fafafa;
}
.oneline{
	width: 1000px;
}
.oneline dl{
	width: 475px;
	float: left;
	border: none;
}
.oneline img{
	float: left;
}
.oneline dl dt{
	padding-left: 0px;
	padding-top: 100px;
	text-align: center;
}
.oneline dl dt a{
	font-size: 22px;
}
.oneline dl dd{
	text-align: center;
}
.oneline dd span {
    padding-left: 46px;
    padding-right: 46px;
}
.oneline dd em{
	padding-left: 0px; 
	padding-top: 15px;
}
.m_brand_text .dlnoline{
	border:none;
}
.apink{
	display: block;
	width: 483px;
	height: 160px;
	background: #feb8ae;
	float: left;
	text-align: center;
}
.apinktxt1{
    font-size: 20px;
    color: #000;
    font-family: Arial,"宋体";
    padding-top: 45px;
    letter-spacing: 2px;
}
.apinktxt2{
	font-size: 12px;
    color: #000;
    font-family: Arial,"宋体";
    padding-top: 15px;
}
.left_menu dt, .left_menu dd strong, .left_menu dd:first-child {
    color: #000;
    line-height: 26px;
    font-size: 12px;
    font-family: Arial,"宋体";
    letter-spacing: 1px;
    margin-top: 20px;
}
.left_menu dt a, .left_menu dd:first-child a {
    color: #666;
    font-family: "宋体";
}

/************手寸**************/

#modalwindow11{
	position: relative;
	overflow: hidden;
	background: #fff;
    width: 980px;
    height: auto;
    margin: 0 auto;
    text-align: left;
}
#modalwindow11 img{
	float: left;
}
#modalwindow td{
	color: #666;
}
#modalwindowsz td{
	color: #666;
}
#modalwindowsz span{
	color: #999;
}
#modalwindowsz em{
	color: #000;
}
.ml10{
	margin-left: 10px;
}
.modalwindowszone{
	text-align: left;
	padding-left: 50px;
}
#modalwindowsz11{
	position: relative;
	overflow: hidden;
	background: #fff;
    width: 980px;
    height: auto;
    margin: 0 auto;
    text-align: left;
}
#modalwindowsz11 img{
	float: left;
}
.modalwindowpic{
	position: absolute;
    left: 0px;
    top: 40px;
    z-index: 5;
}
.modalwindowt1{
	vertical-align: top;
	width: 211px;
	line-height: 19px;
	text-align: left;
	font-size: 12px;
	font-family: Arial,"宋体";
	color: #666;
	display: inline-block;
	margin-top: 12px;
	position: static;
    left: 0px;
    top: 0px;
    z-index: 5;
}
.modalwindowt2{
	vertical-align: top;
	width: 211px;
	line-height: 19px;
	font-size: 12px;
	text-align: left;
	font-family: Arial,"宋体";
	color: #666;
	display: inline-block;
	margin-left: 120px;
	margin-top: 12px;
	position: static;
    left: 0px;
    top: 0px;
    z-index: 5;
}
.modalwindowt3{
	vertical-align: top;
	width: 216px;
	line-height: 19px;
	font-size: 12px;
	text-align: left;
	font-family: Arial,"宋体";
	color: #666;
	display: inline-block;
	margin-left: 112px;
	margin-top: 12px;
	position: static;
    left: 0px;
    top: 0px;
    z-index: 5;
}
.modalwindowcon{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 40px;
}
.modalwindowtable{
	width: 480px;
	text-align: center;
	float: left;
}
.modalwindowheader{
	height: 40px;
	background: #fff;
}
.modalwindowwhite{
	height: 29px;
	line-height: 29px;
	background: #fff;
}
.modalwindowpink{
	height: 29px;
	line-height: 29px;
	background: #fef4f3;
}
.modalwindowtd{
	text-align:right;
	padding-right:40px;
}
.modalwindowthree{
	width: 100%;
	float: left;
}
.modalwindowpink td,.modalwindowwhite td{
	color: #666;
}
.modalwindowright{
	width: 450px;
	height: auto;
	overflow: hidden;
	float: right;
}
.modalwindowrighttit{
	width: 100%;
	height: 40px;
	line-height: 38px;
	font-size: 12px;
	font-family: Arial,"宋体";
	color: #333;
	text-align: left;
	position: relative;
	border-bottom: 1px solid #e5e5e5;
}
.modalwindowrighttit em{
	width: 90px;
	height: 100%;
	float: left;
	line-height: 38px;
	font-size: 12px;
	font-family: Arial,"宋体";
	color: #333;
	background: #fff;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 6;
}
.modalwindowthreeline{
	width: 100%;
	height: 1px;
	background: #e5e5e5;
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 18px;
	z-index: 5;
}
.modalwindowrightcon{
	width: 100%;
	height: 31.5px;
	line-height: 31.5px;
	font-size: 12px;
	font-family: Arial,"宋体";
	color: #666;
	text-align: left;
}
.modalwindowTit{
	font-family: Arial,"宋体";
	color: #000;
	font-size: 20px;
	text-align: left;
	text-indent: 32px;
	padding-top: 90px;
	padding-bottom: 35px;
	letter-spacing: 2px;
}
.line426{
	width: 426px;
	height: 1px;
	background: #000;
}


/*-------知识页面--其他参数子页----------*/
.f_tb_txt_wp{display: table;}
.f_tb_txt_wp.bf_gray{background:#fafafa;}
.f_tb_txt_r,.f_tb_txt_l,.f_tb_txt_lne,.f_tb_img,.f_tb_img_padng{display:table-cell;vertical-align: middle;}
.f_tb_img_padng{padding-left: 55px;}
.f_tb_txt_l{text-align:left;padding:0 70px 0 35px;}
.f_tb_txt_r{text-align:center;padding:0 35px;}
.f_tb_txt_lne{border-bottom:1px solid #000;text-align:left;padding:0 15px 0 35px;}
.f_tb_txt_lne strong,.f_tb_txt_blk strong{color:#010101;font-size:20px; font-family:Arial, "宋体";font-weight:normal;padding-bottom: 30px;display:block;}
.f_tb_txt_r strong,.f_tb_txt_l strong{color:#010101;font-size:20px; font-family:Arial, "宋体";font-weight:normal;padding-bottom: 35px;display:block;}
.f_tb_txt_r p,.f_tb_txt_l p,.f_tb_txt_lne p,.f_tb_txt_blk p{line-height:22px;color:#000;}


.f_tb_txt_bg{background:url(../../ww3/zhishi/information/pic_10.jpg) center no-repeat;width:980px; height:800px;margin-bottom: 35px;}
.f_tb_txt_blk{padding-top: 85px;padding-left: 35px;width: 380px;text-align: left;}
/* end */



/*-------知识页面--4C----------*/
.zsborder{
	text-align: left;
	width: 100%;
	height: auto;
	overflow: hidden;
    padding-bottom: 50px;
    position: relative;
}
.cTextLeft{
	width: 395px;
	height: auto;
	padding-left: 35px;
	overflow: hidden;
	float: left;
}
#cPicRight{
	width: 495px;
	height: 429px;
	overflow: hidden;
	float: left;
	margin-left: 55px;
	position: relative;
	z-index: 5;
}
.cTextLeft .title,.ctpbor .title{
	font-size: 20px;
	font-family:"宋体"; 
	color:#010101;
}
.cTextLeft .contxt,.ctpbor .contxt{
	font-size: 12px;
	font-family:"宋体"; 
	color:#000;
	line-height: 23px;
}
.cTextLeft .contxt span{
	width: 10px;
	height: 10px;
	vertical-align: middle;
	padding-left: 6px;
	display: inline-block;
	background:url(../../ww3/zhishi/4C/arrow.jpg) right top no-repeat;
}
.clickCt{
	width: 100%;
	height: 60px;
	position: absolute;
	left: 0px;
	bottom: 18px;
	z-index: 10;
}
.smLeft{
	text-align: left;
	margin-left: 35px;
	width: 65px;
	float: left;
}
.smRight{
	text-align: left;
	margin-left: 35px;
	width: 800px;
	float: left;
}
.smtxtLeft{
	width: 100%;
	font-size: 12px;
	font-family:"宋体"; 
	color:#000;
	line-height: 15px;
	margin-bottom: 27px;
}
.colorLine{
	float: left;
}
.clickCt030{width: 123px;height: 60px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/ct/ct030.jpg) left top no-repeat;}
.clickCt050{width: 123px;height: 60px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/ct/ct050.jpg) left top no-repeat;}
.clickCt070{width: 123px;height: 60px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/ct/ct070.jpg) left top no-repeat;}
.clickCt100{width: 123px;height: 60px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/ct/ct100.jpg) left top no-repeat;}
.clickCt150{width: 122px;height: 60px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/ct/ct150.jpg) left top no-repeat;}
.clickCt200{width: 122px;height: 60px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/ct/ct200.jpg) left top no-repeat;}
.clickCt300{width: 122px;height: 60px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/ct/ct300.jpg) left top no-repeat;}
.clickCt400{width: 122px;height: 60px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/ct/ct400.jpg) left top no-repeat;}
.clickCt div:hover,.clickCt div.on{background-position: right top;}

.ct030{background:url(../../ww3/zhishi/4C/ct.jpg) center top no-repeat;}
.ct050{background:url(../../ww3/zhishi/4C/ct.jpg) center -429px no-repeat;}
.ct070{background:url(../../ww3/zhishi/4C/ct.jpg) center -858px no-repeat;}
.ct100{background:url(../../ww3/zhishi/4C/ct.jpg) center -1287px no-repeat;}
.ct150{background:url(../../ww3/zhishi/4C/ct.jpg) center -1716px no-repeat;}
.ct200{background:url(../../ww3/zhishi/4C/ct.jpg) center -2145px no-repeat;}
.ct300{background:url(../../ww3/zhishi/4C/ct.jpg) center -2574px no-repeat;}
.ct400{background:url(../../ww3/zhishi/4C/ct.jpg) center -3003px no-repeat;}

.ctp1{
	width: 980px;
	height: 540px;
	background:url(../../ww3/zhishi/4C/ct/p1.jpg) center center no-repeat;
}
.ctpbor{
    width: 515px;
    height: auto;
    text-align: left;
    overflow: hidden;
    float: right;
    margin-right: 20px;
}
#cPicColor{
	width: 300px;
    height: 268px;
    overflow: hidden;
	float: left;
	margin-left: 105px;
	margin-top: 50px;
	position: relative;
	background-image:url(../../ww3/zhishi/4C/color.jpg);
	background-repeat: no-repeat;
	z-index: 5;
}
.clickColor{
	width: 100%;
	height: 60px;
	position: absolute;
	left: 0px;
	bottom: 18px;
	z-index: 10;
}
#cPicColor.color-d{background-position:0 -1340px}
#cPicColor.color-e{background-position:0 -5628px}
#cPicColor.color-f{background-position:0 -268px}
#cPicColor.color-g{background-position:0 -2144px}
#cPicColor.color-h{background-position:0 -1876px}
#cPicColor.color-i{background-position:0 -5360px}
#cPicColor.color-j{background-position:0 -4556px}
#cPicColor.color-k{background-position:0 -4824px}
#cPicColor.color-l{background-position:0 -2680px}
#cPicColor.color-m{background-position:0 -1608px}
#cPicColor.color-n{background-position:0 -2412px}
#cPicColor.color-o{background-position:0 -3484px}
#cPicColor.color-p{background-position:0 -4288px}
#cPicColor.color-q{background-position:0 -3216px}
#cPicColor.color-r{background-position:0 -3752px}
#cPicColor.color-s{background-position:0 -5092px}
#cPicColor.color-t{background-position:0 -2948px}
#cPicColor.color-u{background-position:0 -1072px}
#cPicColor.color-v{background-position:0 -5896px}
#cPicColor.color-w{background-position:0 -4020px}
#cPicColor.color-x{background-position:0 0}
#cPicColor.color-y{background-position:0 -804px}
#cPicColor.color-z{background-position:0 -536px}
.clickColor div:hover,.clickColor div.on{background-position: right top;}
.color-d-tag{width: 75px;height: 55px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/color/D.jpg) left top no-repeat;}
.color-e-tag{width: 75px;height: 55px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/color/E.jpg) left top no-repeat;}
.color-f-tag{width: 75px;height: 55px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/color/F.jpg) left top no-repeat;}
.color-g-tag{width: 75px;height: 55px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/color/G.jpg) left top no-repeat;}
.color-h-tag{width: 75px;height: 55px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/color/H.jpg) left top no-repeat;}
.color-i-tag{width: 75px;height: 55px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/color/I.jpg) left top no-repeat;}
.color-j-tag{width: 75px;height: 55px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/color/J.jpg) left top no-repeat;}
.color-k-tag{width: 75px;height: 55px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/color/K.jpg) left top no-repeat;}
.color-l-tag{width: 76px;height: 55px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/color/L.jpg) left top no-repeat;}
.color-m-tag{width: 76px;height: 55px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/color/M.jpg) left top no-repeat;}
.color-n-tag{width: 76px;height: 55px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/color/N.jpg) left top no-repeat;}
.color-o-tag{width: 76px;height: 55px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/color/O.jpg) left top no-repeat;}
.color-p-tag{width: 76px;height: 55px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/color/P.jpg) left top no-repeat;}
.textGray{
	text-align: left;
	width: 980px;
	height: auto;
	overflow: hidden;
	background: #f4f5f8;
}
.textGray .title{
	font-size: 20px;
	font-family:"宋体"; 
	color:#010101;
	margin-left: 35px;
	margin-top: 35px;
}
.textGray .contxt{
	font-size: 12px;
	font-family:"宋体"; 
	color:#000;
	line-height: 23px;
	margin-left: 35px;
	margin-right: 35px;
	margin-top: 30px;
	margin-bottom: 35px;
	text-align: justify;
}
#clarityPicColor{
	width: 306px;
    height: 306px;
    overflow: hidden;
	float: left;
	margin-left: 105px;
	margin-top: 50px;
	position: relative;
	background-image:url(../../ww3/zhishi/4C/clarity.jpg);
	background-repeat: no-repeat;
	z-index: 5;
}
#clarityPicColor.clarity-FL{background-position:0 -2448px}
#clarityPicColor.clarity-IF{background-position:0 -2448px}
#clarityPicColor.clarity-VVS2{background-position:0 -2753.99px}
#clarityPicColor.clarity-VS2{background-position:0 -1224px}
#clarityPicColor.clarity-SI2{background-position:0 -918px}
#clarityPicColor.clarity-I3{background-position:0 0}
.clickClarity div:hover,.clickClarity div.on{background-position: right top;}
.clarity-FL-tag{width: 89px;height: 59px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/clarity/FL.jpg) left top no-repeat;}
.clarity-IF-tag{width: 89px;height: 59px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/clarity/IF.jpg) left top no-repeat;}
.clarity-VVS2-tag{width: 184px;height: 59px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/clarity/VVS2.jpg) left top no-repeat;}
.clarity-VS2-tag{width: 184px;height: 59px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/clarity/VS2.jpg) left top no-repeat;}
.clarity-SI2-tag{width: 184px;height: 59px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/clarity/SI2.jpg) left top no-repeat;}
.clarity-I3-tag{width: 250px;height: 59px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/clarity/I3.jpg) left top no-repeat;}
.clickClarity{
	width: 100%;
	height: 60px;
	position: absolute;
	left: 0px; 
	bottom: 18px;
	z-index: 10;
}
#cutPicColor{
	width: 316px;
    height: 313px;
    overflow: hidden;
	position: absolute;
	right: 100px;
	top: 30px;
	background-image:url(../../ww3/zhishi/4C/cut.jpg);
	background-repeat: no-repeat;
	z-index: 5;
}
#cutPicColor.cut-IDEAL{width:316px;height:317px;background-position:0 -688px}
#cutPicColor.cut-EX{width:317px;height:317px;background-position:0 -1345px}
#cutPicColor.cut-VG{width:317px;height:317px;background-position:0 -1032px}
#cutPicColor.cut-GD{width:317px;height:317px;background-position:0 -361px}
#cutPicColor.cut-FAIR{width:317px;height:328px;background-position:0px 0px}

.cut-IDEAL-tag{width: 196px;height: 57px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/cut/IDEAL.jpg) left top no-repeat;}
.cut-EX-tag{width: 196px;height: 57px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/cut/EX.jpg) left top no-repeat;}
.cut-VG-tag{width: 196px;height: 57px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/cut/VG.jpg) left top no-repeat;}
.cut-GD-tag{width: 196px;height: 57px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/cut/GD.jpg) left top no-repeat;}
.cut-FAIR-tag{width: 196px;height: 57px;float: left;cursor: pointer;background:url(../../ww3/zhishi/4C/cut/FAIR.jpg) left top no-repeat;}

.clickCut{
	width: 100%;
	height: 60px;
	position: absolute;
	left: 0px;
	bottom: 18px;
	z-index: 10;
}
.clickCut div:hover,.clickCut div.on{background-position: right top;}
/* end */

/*钻石证书*/
.diatit20{
	line-height: 30px;
	font-size: 20px;
    color: #000;
    font-family: Arial,"宋体";
}
.diatit13{
	line-height: 22px;
	font-size: 13px;
    color: #000;
    font-family: Arial,"宋体";
}
.f_sys_tab {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #333;
    height: 38px;
    padding-top: 10px;
}
#hide_tab {
    width: 100%;
    margin: 0 auto;
}
.f_sys_tab a.on {
    color: #ff8a81;
}
.f_sys_tab a {
    display: inline-block;
    color: #000;
    text-align: center;
    padding: 10px 22px;
    font-family: Arial,"宋体";
    overflow: hidden;
    vertical-align: middle;
}
em, i {
    font-style: normal;
}
.hide_bor{
	width: 100%;
	height: 506px;
	position: relative;
}
.hi_bor1{background:url(../../ww3/zhishi/diamondcert/GIA.jpg) left top no-repeat;}
.hi_bor2{background:url(../../ww3/zhishi/diamondcert/AGS.jpg) left top no-repeat;}
.hi_bor3{background:url(../../ww3/zhishi/diamondcert/GEMEx.jpg) left top no-repeat;}
.hide_bor dl {
	text-align: left;
    width: 317px;
    float: left;
    border: none;
    padding-top: 150px;
    padding-left: 34px;
    padding-bottom: 30px;
    font-size: 26px;
    color: #000;
    font-family: Arial,"宋体";
}
.hide_bor dl dt a {
    font-size: 22px;
}
.hide_bor dd {
    padding-top: 25px;
}
.hide_bor dd span {
    text-align: justify;
    display: block;
    line-height: 23px;
    color: #333;
    padding-bottom: 40px;
}
.hide_bor .line41 {
    width: 41px;
    height: 1px;
    overflow: hidden;
    background: #000;
    margin: 0;
}
.hide_bor em {
	display: inline-block;
    padding-top: 20px;
}
.clickBtn{
	cursor: pointer;
	width: 22px;
	height: 23px;
	position: absolute;
	background:url(../../ww3/zhishi/diamondcert/clickBtn.png) left top no-repeat;
	z-index: 5;
}
.clickBtn:hover{
	background:url(../../ww3/zhishi/diamondcert/clickBtn.png) right top no-repeat;
}
.clickBtnG1{
	left: 480px;
    top: 142px;
}
.clickBtnG2{
	left: 460px;
    top: 222px;
}
.clickBtnG3{
	left: 440px;
    top: 286px;
}
.clickBtnG4{
	left: 750px;
    top: 152px;
}
.clickBtnG5{
	left: 800px;
    top: 242px;
}
.clickBtnG6{
	left: 868px;
    top: 370px;
}
.clickBtnA1{
	left: 572px;
    top: 55px;
}
.clickBtnA2{
	left: 572px;
    top: 115px;
}
.clickBtnA3{
	left: 572px;
    top: 165px;
}
.clickBtnA4{
	left: 572px;
    top: 235px;
}
.clickBtnA5{
	left: 822px;
    top: 115px;
}
.clickBtnA6{
	left: 822px;
    top: 195px;
}
.clickBtnA7{
	left: 822px;
    top: 355px;
}
.clickBtnGE1{
	left: 808px;
    top: 125px;
}
.clickBtnGE2{
	left: 608px;
    top: 225px;
}
.clickBtnGE3{
	left: 558px;
    top: 405px;
}
.clickRight{
	display: none;
	line-height: 18px;
	text-align: left;
	color: #fff;
	position: absolute;
	right: -153px;
    top: -2px;
	opacity: 0.7;
	filter:alpha(opacity=70);
	background: #000;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 2px;
	padding-bottom: 5px;
	z-index: 5;
}
.clickLeft{
	display: none;
	line-height: 18px;
	text-align: right;
	color: #fff;
	position: absolute;
	left: -153px;
    top: -2px;
	opacity: 0.7;
	filter:alpha(opacity=70);
	background: #000;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 2px;
	padding-bottom: 5px;
	z-index: 5;
}