.banner_text1,.banner_text2{padding-left:18px;text-align:left}  
#bg_01{background:url(../../ww3/mono/pc/2015mingxing/bg_01.jpg) top center no-repeat;width:100%;height:480px;position: relative;z-index: 0;}
#bg_02{background:url(../../ww3/mono/pc/2015mingxing/bg_02.jpg) top center no-repeat;width:100%;height:134px;position: relative;z-index: 0;}
#bg_03,#bg_04,#bg_10,#bg_11,#bg_12,#bg_13{width:100%;height:480px;position: relative;z-index: 0;}
#bg_03{background:url(../../ww3/mono/pc/2015mingxing/bg_03.jpg) top center no-repeat;position: relative;z-index: 0;}
#bg_04{background:url(../../ww3/mono/pc/2015mingxing/bg_04.jpg) top center no-repeat;position: relative;z-index: 0;}
#bg_05{background:url(../../ww3/mono/pc/2015mingxing/bg_05.jpg) top center no-repeat;width:100%;height:231px;position: relative;z-index: 0;}
#bg_06{background:url(../../ww3/mono/pc/2015mingxing/bg_06.jpg) top center no-repeat;width:100%;height:532px;position: relative;z-index: 0;}
#bg_07{background:url(../../ww3/mono/pc/2015mingxing/bg_07.jpg) top center no-repeat;width:100%;height:713px;position: relative;z-index: 0;}
#bg_10{background:url(../../ww3/mono/pc/2015mingxing/bg_04.jpg) top center no-repeat;position: relative;z-index: 0;}
#bg_11{background:url(../../ww3/mono/pc/2015mingxing/bg_03.jpg) top center no-repeat;position: relative;z-index: 0;}
#bg_12{background:url(../../ww3/mono/pc/2015mingxing/bg_04.jpg) top center no-repeat;position: relative;z-index: 0;}
#bg_13{background:url(../../ww3/mono/pc/2015mingxing/bg_03.jpg) top center no-repeat;position: relative;z-index: 0;}
#more{
	background:url(../../ww3/mono/pc/2015mingxing/more.jpg) top center no-repeat;width:100%;height:99px;cursor: pointer;
}
.border{width:1180px;height:100%;margin:0 auto;position:relative}
.shuiyin{width:255px;height:34px;background:url(../../ww3/mono/pc/2015mingxing/shuiyin.png) left top no-repeat; position: absolute; right: 155px;bottom: 12px;z-index: 100;}

.banner{width:517px;height:348px;position:absolute;background:url(../../ww3/mono/pc/2015mingxing/banner.jpg) top center no-repeat;z-index:15}
.banner1{left:520px;top:60px;}
.banner_btn,.borderleft,.borderright{position:absolute;z-index:7}
.tt,.ss{position:absolute;z-index:5}
.banner_img{margin-top:18px}
.banner_text1{padding-top:10px;color:#000;font-size:16px;font-family:Arial,"宋体";font-weight: bold;}
.banner_text2{padding-right:18px;padding-top:8px;line-height:18px;color:#999;font-size:12px;font-family:Arial,"宋体"}
.banner_btn{width:144px;height:48px;left:-15px;top:320px;display:block;background:url(../../ww3/mono/pc/2015mingxing/btn.png) left top no-repeat}
.t_btn,.ts_name{display:none}
.banner_btn:hover{background:url(../../ww3/mono/pc/2015mingxing/btn.png) right top no-repeat}
.borderleft{width:150px;height:380px;left:0;top:50px}
.tt{width:572px;height:539px;left:70px;bottom:0}
.t_btn,.tsbor{height:58px;cursor:pointer}
.tsbor{width:100%;margin-top:5px;position:relative}
.t_btn{width:64px;position:absolute;left:0;top:0;background:url(../../ww3/mono/pc/2015mingxing/tt/t_btn.png) left top no-repeat;z-index:10}
.t1s_name,.t2s_name,.t3s_name,.t4s_name,.t5s_name,.t6s_name{width:71px;height:47px;position:absolute;right:0;top:5px;z-index:10}
.t1s_name{background:url(../../ww3/mono/pc/2015mingxing/tt/t1s_name.png) left top no-repeat}
.t2s_name{background:url(../../ww3/mono/pc/2015mingxing/tt/t2s_name.png) left top no-repeat}
.t3s_name{background:url(../../ww3/mono/pc/2015mingxing/tt/t3s_name.png) left top no-repeat}
.t4s_name{background:url(../../ww3/mono/pc/2015mingxing/tt/t4s_name.png) left top no-repeat}
.t5s_name{background:url(../../ww3/mono/pc/2015mingxing/tt/t5s_name.png) left top no-repeat}
.t6s_name{background:url(../../ww3/mono/pc/2015mingxing/tt/t6s_name.png) left top no-repeat}
.t1s,.t2s,.t3s,.t4s,.t5s,.t6s{width:59px;height:58px;position:absolute;left:0;top:0;cursor:pointer;z-index:5}
.t1s{background:url(../../ww3/mono/pc/2015mingxing/tt/t1s.png) left top no-repeat}
.t2s{background:url(../../ww3/mono/pc/2015mingxing/tt/t2s.png) left top no-repeat}
.t3s{background:url(../../ww3/mono/pc/2015mingxing/tt/t3s.png) left top no-repeat}
.t4s{background:url(../../ww3/mono/pc/2015mingxing/tt/t4s.png) left top no-repeat}
.t5s{background:url(../../ww3/mono/pc/2015mingxing/tt/t5s.png) left top no-repeat}
.t6s{background:url(../../ww3/mono/pc/2015mingxing/tt/t6s.png) left top no-repeat}
.t1{background:url(../../ww3/mono/pc/2015mingxing/tt/t1.png) left top no-repeat}
.t2{background:url(../../ww3/mono/pc/2015mingxing/tt/t2.png) left top no-repeat}
.t3{background:url(../../ww3/mono/pc/2015mingxing/tt/t3.png) left top no-repeat}
.t4{background:url(../../ww3/mono/pc/2015mingxing/tt/t4.png) left top no-repeat}
.t5{background:url(../../ww3/mono/pc/2015mingxing/tt/t5.png) left top no-repeat}
.t6{left:130px;background:url(../../ww3/mono/pc/2015mingxing/tt/t6.png) left top no-repeat}

.banner2{left:150px;top:60px;}
.s_btn,.ss_name{display:none}
.borderright{width:150px;height:380px;right:0;top:50px}
.ss{width:640px;height:527px;left:510px;bottom:0px;}
.s_btn,.ssbor{height:58px;cursor:pointer}
.s_btn{width:64px;position:absolute;right:0;top:0;background:url(../../ww3/mono/pc/2015mingxing/ss/s_btn.png) left top no-repeat;z-index:10}
.s1s_name,.s2s_name,.s3s_name,.s4s_name,.s5s_name,.s6s_name{width:71px;height:47px;position:absolute;left:10;top:20px;z-index:10}
.s1s_name{background:url(../../ww3/mono/pc/2015mingxing/ss/s1s_name.png) center top no-repeat}
.s2s_name{background:url(../../ww3/mono/pc/2015mingxing/ss/s2s_name.png) center top no-repeat}
.s3s_name{background:url(../../ww3/mono/pc/2015mingxing/ss/s3s_name.png) center top no-repeat}
.s4s_name{background:url(../../ww3/mono/pc/2015mingxing/ss/s4s_name.png) center top no-repeat}
.s5s_name{background:url(../../ww3/mono/pc/2015mingxing/ss/s5s_name.png) center top no-repeat}
.s6s_name{background:url(../../ww3/mono/pc/2015mingxing/ss/s6s_name.png) center top no-repeat}
.ssbor{width:100%;margin-top:5px;position:relative}
.s1s,.s2s,.s3s,.s4s,.s5s,.s6s{width:59px;height:58px;position:absolute;right:0;top:0;cursor:pointer;z-index:5}
.s1s{background:url(../../ww3/mono/pc/2015mingxing/ss/s1s.png) left top no-repeat}
.s2s{background:url(../../ww3/mono/pc/2015mingxing/ss/s2s.png) left top no-repeat}
.s3s{background:url(../../ww3/mono/pc/2015mingxing/ss/s3s.png) left top no-repeat}
.s4s{background:url(../../ww3/mono/pc/2015mingxing/ss/s4s.png) left top no-repeat}
.s5s{background:url(../../ww3/mono/pc/2015mingxing/ss/s5s.png) left top no-repeat}
.s6s{background:url(../../ww3/mono/pc/2015mingxing/ss/s6s.png) left top no-repeat}
.s1{background:url(../../ww3/mono/pc/2015mingxing/ss/s1.png) left top no-repeat}
.s2{background:url(../../ww3/mono/pc/2015mingxing/ss/s2.png) left top no-repeat}
.s3{background:url(../../ww3/mono/pc/2015mingxing/ss/s3.png) left top no-repeat}
.s4{background:url(../../ww3/mono/pc/2015mingxing/ss/s4.png) left top no-repeat}
.s5{background:url(../../ww3/mono/pc/2015mingxing/ss/s5.png) left top no-repeat}
.s6{background:url(../../ww3/mono/pc/2015mingxing/ss/s6.png) left top no-repeat}


.d_btn,.dd_name{display:none}
.dd{width:784px;height:582px;position: absolute;left:430px;bottom:0px;}
.borderrightdd{width:265px;height:450px;right:0;top:50px;position:absolute;z-index:7;}
.d_btn,.ddbor{height:58px;cursor:pointer}
.d_btn{width:64px;position:absolute;top:1px;background:url(../../ww3/mono/pc/2015mingxing/ss/s_btn.png) left top no-repeat;z-index:10}
.d_btn1{
	left:145px;
}
.d_btn2{
	right:23px;
}
.d_btn3{
	left:145px;
}
.d_btn4{
	right:23px;
}
.d_btn5{
	left:145px;
}
.d_btn6{
	right:23px;
}
.d_btn7{
	left:145px;
}
.d_btn8{
	right:23px;
}
.d_btn9{
	left:145px;
}
.d_btn10{
	right:23px;
}
.d_btn11{
	left:145px;
}
.d1s_name,.d2s_name,.d3s_name,.d4s_name,.d5s_name,.d6s_name,.d7s_name,.d8s_name,.d9s_name,.d10s_name,.d11s_name{width:127px;height:47px;position:absolute;left:20px;top:20px;z-index:10}
.d1s_name{background:url(../../ww3/mono/pc/2015mingxing/dd/d1s_name.png) right top no-repeat}
.d2s_name{background:url(../../ww3/mono/pc/2015mingxing/dd/d2s_name.png) right top no-repeat}
.d3s_name{background:url(../../ww3/mono/pc/2015mingxing/dd/d3s_name.png) right top no-repeat}
.d4s_name{background:url(../../ww3/mono/pc/2015mingxing/dd/d4s_name.png) right top no-repeat}
.d5s_name{background:url(../../ww3/mono/pc/2015mingxing/dd/d5s_name.png) right top no-repeat}
.d6s_name{background:url(../../ww3/mono/pc/2015mingxing/dd/d6s_name.png) right top no-repeat}
.d7s_name{background:url(../../ww3/mono/pc/2015mingxing/dd/d7s_name.png) right top no-repeat}
.d8s_name{background:url(../../ww3/mono/pc/2015mingxing/dd/d8s_name.png) right top no-repeat}
.d9s_name{background:url(../../ww3/mono/pc/2015mingxing/dd/d9s_name.png) right top no-repeat}
.d10s_name{background:url(../../ww3/mono/pc/2015mingxing/dd/d10s_name.png) right top no-repeat}
.d11s_name{background:url(../../ww3/mono/pc/2015mingxing/dd/d11s_name.png) right top no-repeat}

.ddbor{width:100%;margin-top:5px;position:absolute;left:30px;}
.ddbor1{top:20px;z-index:5}
.ddbor2{top:55px;z-index:6}
.ddbor3{top:90px;z-index:5}
.ddbor4{top:125px;z-index:6}
.ddbor5{top:160px;z-index:5}
.ddbor6{top:195px;z-index:6}
.ddbor7{top:230px;z-index:5}
.ddbor8{top:195px;z-index:6}
.ddbor9{top:230px;z-index:5}
.ddbor10{top:265px;z-index:6}
.ddbor11{top:300px;z-index:5}
.d1s,.d2s,.d3s,.d4s,.d5s,.d6s,.d7s,.d8s,.d9s,.d10s,.d11s{width:59px;height:59px;position:absolute;cursor:pointer;}
.d1s{background:url(../../ww3/mono/pc/2015mingxing/dd/d1s.png) left top no-repeat;left:150px;top:0;z-index:5}
.d2s{background:url(../../ww3/mono/pc/2015mingxing/dd/d2s.png) left top no-repeat;right:23px;top:0;z-index:6}
.d3s{background:url(../../ww3/mono/pc/2015mingxing/dd/d3s.png) left top no-repeat;left:150px;top:0;z-index:5}
.d4s{background:url(../../ww3/mono/pc/2015mingxing/dd/d4s.png) left top no-repeat;right:23px;top:0;z-index:6}
.d5s{background:url(../../ww3/mono/pc/2015mingxing/dd/d5s.png) left top no-repeat;left:150px;top:0;z-index:5}
.d6s{background:url(../../ww3/mono/pc/2015mingxing/dd/d6s.png) left top no-repeat;right:23px;top:0;z-index:6}
.d7s{background:url(../../ww3/mono/pc/2015mingxing/dd/d7s.png) left top no-repeat;left:150px;top:0;z-index:5}
.d8s{background:url(../../ww3/mono/pc/2015mingxing/dd/d8s.png) left top no-repeat;right:23px;top:0;z-index:6}
.d9s{background:url(../../ww3/mono/pc/2015mingxing/dd/d9s.png) left top no-repeat;left:150px;top:0;z-index:5}
.d10s{background:url(../../ww3/mono/pc/2015mingxing/dd/d10s.png) left top no-repeat;right:23px;top:0;z-index:6}
.d11s{background:url(../../ww3/mono/pc/2015mingxing/dd/d11s.png) left top no-repeat;left:150px;top:0;z-index:5}
.d1{background:url(../../ww3/mono/pc/2015mingxing/dd/d1.png) left top no-repeat}
.d2{background:url(../../ww3/mono/pc/2015mingxing/dd/d2.png) left top no-repeat}
.d3{background:url(../../ww3/mono/pc/2015mingxing/dd/d3.png) left top no-repeat}
.d4{background:url(../../ww3/mono/pc/2015mingxing/dd/d4.png) left top no-repeat}
.d5{background:url(../../ww3/mono/pc/2015mingxing/dd/d5.png) left top no-repeat}
.d6{background:url(../../ww3/mono/pc/2015mingxing/dd/d6.png) left top no-repeat}
.d7{background:url(../../ww3/mono/pc/2015mingxing/dd/d7.png) left top no-repeat}
.d8{background:url(../../ww3/mono/pc/2015mingxing/dd/d8.png) left top no-repeat}
.d9{background:url(../../ww3/mono/pc/2015mingxing/dd/d9.png) left top no-repeat}
.d10{background:url(../../ww3/mono/pc/2015mingxing/dd/d10.png) left top no-repeat}
.d11{background:url(../../ww3/mono/pc/2015mingxing/dd/d11.png) left top no-repeat}


.banner2{left:150px;top:60px;}
.g_btn,.gg_name{display:none}
.borderright{width:150px;height:380px;right:0;top:50px}
.gg{width:721px;height:535px;position: absolute;left:-50px;bottom:0px;}
.g_btn,.ggbor{height:58px;cursor:pointer}
.g_btn{width:64px;position:absolute;left:0;top:0;background:url(../../ww3/mono/pc/2015mingxing/gg/s_btn.png) 

left top no-repeat;z-index:10}
.g1s_name,.g2s_name,.g3s_name,.g4s_name,.g5s_name,.g6s_name{width:71px;height:47px;position:absolute;right:10px;top:20px;z-index:10}
.g1s_name{background:url(../../ww3/mono/pc/2015mingxing/gg/t1s_name.png) center top no-repeat}
.g2s_name{background:url(../../ww3/mono/pc/2015mingxing/gg/t2s_name.png) center top no-repeat}
.g3s_name{background:url(../../ww3/mono/pc/2015mingxing/gg/t3s_name.png) center top no-repeat}
.g4s_name{background:url(../../ww3/mono/pc/2015mingxing/gg/t4s_name.png) center top no-repeat}
.g5s_name{background:url(../../ww3/mono/pc/2015mingxing/gg/t5s_name.png) center top no-repeat}
.g6s_name{background:url(../../ww3/mono/pc/2015mingxing/gg/t6s_name.png) center top no-repeat}
.ggbor{width:100%;margin-top:5px;position:relative}
.g1s,.g2s,.g3s,.g4s,.g5s,.g6s{width:59px;height:58px;position:absolute;left:0;top:0;cursor:pointer;z-index:5}
.g1s{background:url(../../ww3/mono/pc/2015mingxing/gg/t1s.png) left top no-repeat}
.g2s{background:url(../../ww3/mono/pc/2015mingxing/gg/t2s.png) left top no-repeat}
.g3s{background:url(../../ww3/mono/pc/2015mingxing/gg/t3s.png) left top no-repeat}
.g4s{background:url(../../ww3/mono/pc/2015mingxing/gg/t4s.png) left top no-repeat}
.g5s{background:url(../../ww3/mono/pc/2015mingxing/gg/t5s.png) left top no-repeat}
.g6s{background:url(../../ww3/mono/pc/2015mingxing/gg/t6s.png) left top no-repeat}
.g1{background:url(../../ww3/mono/pc/2015mingxing/gg/t1.png) left top no-repeat}
.g2{background:url(../../ww3/mono/pc/2015mingxing/gg/t2.png) left top no-repeat}
.g3{background:url(../../ww3/mono/pc/2015mingxing/gg/t3.png) left top no-repeat}
.g4{background:url(../../ww3/mono/pc/2015mingxing/gg/t4.png) left top no-repeat}
.g5{background:url(../../ww3/mono/pc/2015mingxing/gg/t5.png) left top no-repeat}
.g6{background:url(../../ww3/mono/pc/2015mingxing/gg/t6.png) left top no-repeat}


.asbor {
    width: 100%;
    margin-top: 5px;
    position: relative;
}
.banner2{left:150px;top:60px;}
.a_btn,.as_name{display:none}
.borderright{width:150px;height:380px;right:0;top:50px}
.as{width:640px;height:527px;left:600px;bottom:0px;position: absolute;}
.a_btn,.asbor{height:58px;cursor:pointer}
.a_btn{width:64px;position:absolute;right:0;top:0;background:url(../../ww3/mono/pc/2015mingxing/ss/s_btn.png) left top no-repeat;z-index:10}
.a1s_name,.a2s_name,.a3s_name,.a4s_name,.a5s_name{width:71px;height:47px;position:absolute;left:10px;top:20px;z-index:10}
.a1s_name{background:url(../../ww3/mono/pc/2015mingxing/as/a1s_name.png) center top no-repeat;width: 89px;height: 25px;left: -10px;}
.a2s_name{background:url(../../ww3/mono/pc/2015mingxing/as/a2s_name.png) center top no-repeat;left: 0px;top: 10px; height: 56px;}
.a3s_name{background:url(../../ww3/mono/pc/2015mingxing/as/a3s_name.png) center top no-repeat;left: 10px;top: 0px;height: 55px;}
.a4s_name{background:url(../../ww3/mono/pc/2015mingxing/as/a4s_name.png) center top no-repeat;width: 112px;height: 26px;left: -35px;top: 20px;}
.a5s_name{background:url(../../ww3/mono/pc/2015mingxing/as/a5s_name.png) center top no-repeat;width: 96px;height: 26px;left: -20px;}
.ssbor{width:100%;margin-top:5px;position:relative}
.a1s,.a2s,.a3s,.a4s,.a5s{width:59px;height:58px;position:absolute;right:0;top:0;cursor:pointer;z-index:5}
.a1s{background:url(../../ww3/mono/pc/2015mingxing/as/a1s.png) left top no-repeat}
.a2s{background:url(../../ww3/mono/pc/2015mingxing/as/a2s.png) left top no-repeat}
.a3s{background:url(../../ww3/mono/pc/2015mingxing/as/a3s.png) left top no-repeat}
.a4s{background:url(../../ww3/mono/pc/2015mingxing/as/a4s.png) left top no-repeat}
.a5s{background:url(../../ww3/mono/pc/2015mingxing/as/a5s.png) left top no-repeat}
.a6s{background:url(http://img.zbird.cn/ww3/mono/pc/2015mingxing/as/a6s.png) left top no-repeat}
.a1{background:url(../../ww3/mono/pc/2015mingxing/as/a1.png) left top no-repeat}
.a2{background:url(../../ww3/mono/pc/2015mingxing/as/a2.png) left top no-repeat}
.a3{background:url(../../ww3/mono/pc/2015mingxing/as/a3.png) left top no-repeat}
.a4{background:url(../../ww3/mono/pc/2015mingxing/as/a4.png) left top no-repeat}
.a5{background:url(../../ww3/mono/pc/2015mingxing/as/a5.png) left top no-repeat}

.babi{
	width: 414px;
    height: 516px;
    position: absolute;
    left: 120px;
    bottom: 0px;
	background:url(../../ww3/mono/pc/2015mingxing/babi.png) left top no-repeat
}


/************20170828************/

.bg_201708281{background:url(../../ww3/mono/pc/2015mingxing/20170828/bg_01.png) top center no-repeat;width:100%;height:546px;margin-top: -70px;position: relative;z-index: 0;}
.bg_201708282{background:url(../../ww3/mono/pc/2015mingxing/20170828/bg_02.png) top center no-repeat;width:100%;height:546px;margin-top: -70px;position: relative;z-index: 0;}
.bg_201708283{background:url(../../ww3/mono/pc/2015mingxing/20170828/bg_03.png) top center no-repeat;width:100%;height:546px;margin-top: -70px;position: relative;z-index: 0;}
.bg_201708284{background:url(../../ww3/mono/pc/2015mingxing/20170828/bg_04.png) top center no-repeat;width:100%;height:546px;margin-top: -70px;position: relative;z-index: 0;}
.bg_201708285{background:url(../../ww3/mono/pc/2015mingxing/20170828/bg_05.png) top center no-repeat;width:100%;height:546px;margin-top: -70px;position: relative;z-index: 0;}
.bg_201708286{background:url(../../ww3/mono/pc/2015mingxing/20170828/bg_06.png) top center no-repeat;width:100%;height:546px;margin-top: -70px;position: relative;z-index: 0;}
.bg_201708287{background:url(../../ww3/mono/pc/2015mingxing/20170828/bg_07.png) top center no-repeat;width:100%;height:546px;margin-top: -70px;position: relative;z-index: 0;}
.bg_201708288{background:url(../../ww3/mono/pc/2015mingxing/20170828/bg_08.png) top center no-repeat;width:100%;height:546px;margin-top: -70px;position: relative;z-index: 0;}
.bg_201708289{background:url(../../ww3/mono/pc/2015mingxing/20170828/bg_09.png) top center no-repeat;width:100%;height:546px;margin-top: -70px;position: relative;z-index: 0;}
.bg_20170828bor{
	width: 300px;
	height: 450px;
	position: absolute;
	right: 0px;
    top: 135px;
    z-index: 7;
}
.pic_201708281{
	width: 59px;
	height: 59px;
	cursor: pointer;
	position: absolute;
	right: 39px;
    top: 0px;
    background:url(../../ww3/mono/pc/2015mingxing/20170828/pic_1.png) top right no-repeat;
    z-index: 5;
}
.pic_201708282{
	width: 59px;
	height: 59px;
	cursor: pointer;
	position: absolute;
	right: 0px;
    top: 35px;
    background:url(../../ww3/mono/pc/2015mingxing/20170828/pic_2.png) top right no-repeat;
    z-index: 6;
}
.pic_201708283{
	width: 59px;
	height: 59px;
	cursor: pointer;
	position: absolute;
	right: 39px;
    top: 70px;
    background:url(../../ww3/mono/pc/2015mingxing/20170828/pic_3.png) top right no-repeat;
    z-index: 5;
}
.pic_201708284{
	width: 59px;
	height: 59px;
	cursor: pointer;
	position: absolute;
	right: 0px;
    top: 105px;
    background:url(../../ww3/mono/pc/2015mingxing/20170828/pic_4.png) top right no-repeat;
    z-index: 6;
}
.pic_201708285{
	width: 59px;
	height: 59px;
	cursor: pointer;
	position: absolute;
	right: 39px;
    top: 140px;
    background:url(../../ww3/mono/pc/2015mingxing/20170828/pic_5.png) top right no-repeat;
    z-index: 5;
}
.pic_201708286{
	width: 59px;
	height: 59px;
	cursor: pointer;
	position: absolute;
	right: 0px;
    top: 175px;
    background:url(../../ww3/mono/pc/2015mingxing/20170828/pic_6.png) top right no-repeat;
    z-index: 6;
}
.pic_201708287{
	width: 59px;
	height: 59px;
	cursor: pointer;
	position: absolute;
	right: 39px;
    top: 210px;
    background:url(../../ww3/mono/pc/2015mingxing/20170828/pic_7.png) top right no-repeat;
    z-index: 5;
}
.pic_201708288{
	width: 59px;
	height: 59px;
	cursor: pointer;
	position: absolute;
	right: 0px;
    top: 245px;
    background:url(../../ww3/mono/pc/2015mingxing/20170828/pic_8.png) top right no-repeat;
    z-index: 6;
}
.pic_201708289{
	width: 59px;
	height: 59px;
	cursor: pointer;
	position: absolute;
	right: 39px;
    top: 280px;
    background:url(../../ww3/mono/pc/2015mingxing/20170828/pic_9.png) top right no-repeat;
    z-index: 6;
}
.pic_201708281.hover{
	width: 300px;
    background:url(../../ww3/mono/pc/2015mingxing/20170828/pic_1_hover.png) top right no-repeat;
    z-index: 15;
}
.pic_201708282.hover{
	width: 300px;
    background:url(../../ww3/mono/pc/2015mingxing/20170828/pic_2_hover.png) top right no-repeat;
    z-index: 15;
}
.pic_201708283.hover{
	width: 300px;
    background:url(../../ww3/mono/pc/2015mingxing/20170828/pic_3_hover.png) top right no-repeat;
    z-index: 15;
}
.pic_201708284.hover{
	width: 300px;
    background:url(../../ww3/mono/pc/2015mingxing/20170828/pic_4_hover.png) top right no-repeat;
    z-index: 15;
}
.pic_201708285.hover{
	width: 300px;
    background:url(../../ww3/mono/pc/2015mingxing/20170828/pic_5_hover.png) top right no-repeat;
    z-index: 15;
}
.pic_201708286.hover{
	width: 300px;
    background:url(../../ww3/mono/pc/2015mingxing/20170828/pic_6_hover.png) top right no-repeat;
    z-index: 15;
}
.pic_201708287.hover{
	width: 300px;
    background:url(../../ww3/mono/pc/2015mingxing/20170828/pic_7_hover.png) top right no-repeat;
    z-index: 15;
}
.pic_201708288.hover{
	width: 300px;
    background:url(../../ww3/mono/pc/2015mingxing/20170828/pic_8_hover.png) top right no-repeat;
    z-index: 15;
}
.pic_201708289.hover{
	width: 300px;
    background:url(../../ww3/mono/pc/2015mingxing/20170828/pic_9_hover.png) top right no-repeat;
    z-index: 15;
}
.banner_20170828{
	width: 517px;
    height: 350px;
    position: absolute;
    left: 150px;
    top: 120px;
    z-index: 15;
}
.banner_btn_20170828{width:144px;height:48px;left:-15px;top:338px;display:block;background:url(../../ww3/mono/pc/2015mingxing/btn.png) left top no-repeat;position: absolute;}

/************20180531************/
#bg_20{width:100%;height:503px;margin-top: -23px;position: relative;z-index: 0;}
.bg_20_1{background:url(../../ww3/mono/pc/2015mingxing/bg_20_1.png) top center no-repeat}
.bg_20_2{background:url(../../ww3/mono/pc/2015mingxing/bg_20_2.png) top center no-repeat}
.bg_20_3{background:url(../../ww3/mono/pc/2015mingxing/bg_20_3.png) top center no-repeat}
.bg20a1{
	cursor: pointer;
	width: 60px;
	height: 59px;
	background:url(../../ww3/mono/pc/2015mingxing/bg20a1.png) top center no-repeat;
	position: absolute;
	left: 10px;
	top: 110px;
	z-index: 5;
}
.bg20a1.hover{
	cursor: pointer;
	width: 135px;
	height: 59px;
	background:url(../../ww3/mono/pc/2015mingxing/bg20a1_hover.png) top center no-repeat;
	position: absolute;
	left: 10px;
	top: 110px;
	z-index: 5;
}
.bg20a2{
	cursor: pointer;
	width: 60px;
	height: 59px;
	background:url(../../ww3/mono/pc/2015mingxing/bg20a2.png) top center no-repeat;
	position: absolute;
	left: 10px;
	top: 175px;
	z-index: 5;
}
.bg20a2.hover{
	cursor: pointer;
	width: 135px;
	height: 59px;
	background:url(../../ww3/mono/pc/2015mingxing/bg20a2_hover.png) top center no-repeat;
	position: absolute;
	left: 10px;
	top: 175px;
	z-index: 5;
}
.bg20a3{
	cursor: pointer;
	width: 60px;
	height: 59px;
	background:url(../../ww3/mono/pc/2015mingxing/bg20a3.png) top center no-repeat;
	position: absolute;
	left: 10px;
	top: 239px;
	z-index: 5;
}
.bg20a3.hover{
	cursor: pointer;
	width: 135px;
	height: 59px;
	background:url(../../ww3/mono/pc/2015mingxing/bg20a3_hover.png) top center no-repeat;
	position: absolute;
	left: 10px;
	top: 239px;
	z-index: 5;
}
.bg20aa{display: block;width:517px;height:399px;position:absolute;left:520px;top:60px;z-index:15}