
/*----------------background----------------*/
#bg_01{ background:url(../../ww3/2017heartinheart/bg_01.jpg) top center no-repeat;width: 100%; height:618px;position: relative;z-index: 0;}
#bg_02{ background:url(../../ww3/2017heartinheart/bg_02.jpg) top center no-repeat;width: 100%; height:564px;position: relative;z-index: 0;}
#bg_03{ background:url(../../ww3/2017heartinheart/bg_03.jpg) top center no-repeat;width: 100%; height:657px;position: relative;z-index: 0;}
#bg_04{ background:url(../../ww3/2017heartinheart/bg_04.jpg) top center no-repeat;width: 100%; height:862px;position: relative;z-index: 0;}
#bg_05{ background:url(../../ww3/2017heartinheart/bg_05.jpg) top center no-repeat;width: 100%; height:1097px;position: relative;z-index: 0;}
#bg_06{ background:url(../../ww3/2017heartinheart/bg_06.jpg) top center no-repeat;width: 100%; height:911px;position: relative;z-index: 0;}
#bg_07{ background:url(../../ww3/2017heartinheart/bg_07.jpg) top center no-repeat;width: 100%; height:187px;position: relative;z-index: 0;}
.clearHeight{
    width: 100%;
    height: auto;
    overflow: hidden;
    clear: both;
}
.border{
    display: block;
    width: 1180px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.bg1gif{
    width: 214px;
    height: 110px;
    position: absolute;
    left: 761px;
    top: 276px;
    background:url(../../ww3/2017heartinheart/bg1gif.gif) center center no-repeat;
    z-index: 5;
}
#bg_02 .slider1 .slide .an1{
    width: 1180px;
    height: 382px;
    background:url(../../ww3/2017heartinheart/an/bg2.1.jpg) center center no-repeat;
}
#bg_02 .slider1 .slide .an2{
    width: 1180px;
    height: 382px;
    background:url(../../ww3/2017heartinheart/an/bg2.2.jpg) center center no-repeat;
}
#bg_02 .bx-wrapper .bx-pager.bx-default-pager a{
    width: 9px;
    height: 9px;
    background:url(../../ww3/2017heartinheart/an/gray.png) center center no-repeat;
}
#bg_02 .bx-wrapper .bx-pager.bx-default-pager a.active{
    width: 9px;
    height: 9px;
    background:url(../../ww3/2017heartinheart/an/red.png) center center no-repeat;
}
#bg_02 .bx-wrapper .bx-controls-direction a{
    margin-top: -36px;
}
#bg_02 .bx-wrapper .bx-pager{
    width: 150px;
    height: 20px;
    text-align: right;
    position: absolute;
    right: 30px;
    bottom: 50px;
    z-index: 5;
}
#bg_02 .bx-wrapper{
    background: transparent;
    border:none;
    box-shadow:none;
}
#bg_02 .bx-wrapper .bx-prev{
    width: 20px;
    height: 39px;
    left: 35px;
    background:url(../../ww3/2017heartinheart/an/prev.png) center center no-repeat;
}
#bg_02 .bx-wrapper .bx-next{
    width: 20px;
    height: 39px;
    right: 35px;
    background:url(../../ww3/2017heartinheart/an/next.png) center center no-repeat;
}
.slide div a{
    visibility: hidden;
}
.bg3a{
    width: 500px;
    height: 500px;
    position: absolute;
    left: 350px;
    top: 100px;
    z-index: 5
}
#bg_04 .on .an1 .p1{
    display: block;
    width: 219px;
    height: 160px;
    background:url(../../ww3/2017heartinheart/an/bg4.1-1.png) center center no-repeat;
    position: absolute;
    left: 170px;
    top: 60px;
    z-index: 5;
}
#bg_04 .on .an1 .p2{
    display: block;
    width: 366px;
    height: 319px;
    background:url(../../ww3/2017heartinheart/an/bg4.1-2.png) center center no-repeat;
    position: absolute;
    left: 300px;
    top: 120px;
    z-index: 15;
}
#bg_04 .on .an1 .p3{
    display: block;
    width: 409px;
    height: 429px;
    background:url(../../ww3/2017heartinheart/an/bg4.1-3.png) center center no-repeat;
    position: absolute;
    left: 680px;
    top: 10px;
    z-index: 5;
}
#bg_04 .on .an2 .p1{
    display: block;
    width: 219px;
    height: 160px;
    background:url(../../ww3/2017heartinheart/an/bg4.2-1.png) center center no-repeat;
    position: absolute;
    left: 170px;
    top: 60px;
    z-index: 5;
}
#bg_04 .on .an2 .p2{
    display: block;
    width: 366px;
    height: 319px;
    background:url(../../ww3/2017heartinheart/an/bg4.2-2.png) center center no-repeat;
    position: absolute;
    left: 300px;
    top: 120px;
    z-index: 15;
}
#bg_04 .on .an2 .p3{
    display: block;
    width: 409px;
    height: 429px;
    background:url(../../ww3/2017heartinheart/an/bg4.2-3.png) center center no-repeat;
    position: absolute;
    left: 680px;
    top: 10px;
    z-index: 5;
}
#bg_04 .on .an3 .p1{
    display: block;
    width: 219px;
    height: 160px;
    background:url(../../ww3/2017heartinheart/an/bg4.3-1.png) center center no-repeat;
    position: absolute;
    left: 170px;
    top: 60px;
    z-index: 5;
}
#bg_04 .on .an3 .p2{
    display: block;
    width: 366px;
    height: 319px;
    background:url(../../ww3/2017heartinheart/an/bg4.3-2.png) center center no-repeat;
    position: absolute;
    left: 300px;
    top: 120px;
    z-index: 15;
}
#bg_04 .on .an3 .p3{
    display: block;
    width: 409px;
    height: 429px;
    background:url(../../ww3/2017heartinheart/an/bg4.3-3.png) center center no-repeat;
    position: absolute;
    left: 680px;
    top: 10px;
    z-index: 5;
}
#bg_04 .on .an4 .p1{
    display: block;
    width: 171px;
    height: 160px;
    background:url(../../ww3/2017heartinheart/an/bg4.4-1.png) center center no-repeat;
    position: absolute;
    left: 170px;
    top: 60px;
    z-index: 5;
}
#bg_04 .on .an4 .p2{
    display: block;
    width: 366px;
    height: 319px;
    background:url(../../ww3/2017heartinheart/an/bg4.4-2.png) center center no-repeat;
    position: absolute;
    left: 300px;
    top: 120px;
    z-index: 15;
}
#bg_04 .on .an4 .p3{
    display: block;
    width: 409px;
    height: 429px;
    background:url(../../ww3/2017heartinheart/an/bg4.4-3.png) center center no-repeat;
    position: absolute;
    left: 680px;
    top: 10px;
    z-index: 5;
}
#bg_04 .on .an5 .p1{
    display: block;
    width: 219px;
    height: 160px;
    background:url(../../ww3/2017heartinheart/an/bg4.5-1.png) center center no-repeat;
    position: absolute;
    left: 170px;
    top: 60px;
    z-index: 5;
}
#bg_04 .on .an5 .p2{
    display: block;
    width: 472px;
    height: 658px;
    background:url(../../ww3/2017heartinheart/an/bg4.5-2.png) center center no-repeat;
    position: absolute;
    left: 260px;
    top: -100px;
    z-index: 15;
}
#bg_04 .on .an5 .p3{
    display: block;
    width: 409px;
    height: 429px;
    background:url(../../ww3/2017heartinheart/an/bg4.5-3.png) center center no-repeat;
    position: absolute;
    left: 680px;
    top: 10px;
    z-index: 5;
}
#bg_04 .on .an6 .p1{
    display: block;
    width: 219px;
    height: 160px;
    background:url(../../ww3/2017heartinheart/an/bg4.6-1.png) center center no-repeat;
    position: absolute;
    left: 170px;
    top: 60px;
    z-index: 5;
}
#bg_04 .on .an6 .p2{
    display: block;
    width: 545px;
    height: 541px;
    background:url(../../ww3/2017heartinheart/an/bg4.6-2.png) center center no-repeat;
    position: absolute;
    left: 220px;
    top: -20px;
    z-index: 15;
}
#bg_04 .on .an6 .p3{
    display: block;
    width: 409px;
    height: 429px;
    background:url(../../ww3/2017heartinheart/an/bg4.6-3.png) center center no-repeat;
    position: absolute;
    left: 680px;
    top: 10px;
    z-index: 5;
}
#bg_04 .on .an7 .p1{
    display: block;
    width: 219px;
    height: 160px;
    background:url(../../ww3/2017heartinheart/an/bg4.7-1.png) center center no-repeat;
    position: absolute;
    left: 110px;
    top: 60px;
    z-index: 5;
}
#bg_04 .on .an7 .p2{
    display: block;
    width: 472px;
    height: 658px;
    background:url(../../ww3/2017heartinheart/an/bg4.7-2.png) center center no-repeat;
    position: absolute;
    left: 250px;
    top: -160px;
    z-index: 3;
}
#bg_04 .on .an7 .p3{
    display: block;
    width: 409px;
    height: 429px;
    background:url(../../ww3/2017heartinheart/an/bg4.7-3.png) center center no-repeat;
    position: absolute;
    left: 680px;
    top: 10px;
    z-index: 5;
}
#bg_04 .on .an8 .p1{
    display: block;
    width: 155px;
    height: 160px;
    background:url(../../ww3/2017heartinheart/an/bg4.8-1.png) center center no-repeat;
    position: absolute;
    left: 130px;
    top: 60px;
    z-index: 5;
}
#bg_04 .on .an8 .p2{
    display: block;
    width: 545px;
    height: 541px;
    background:url(../../ww3/2017heartinheart/an/bg4.8-2.png) center center no-repeat;
    position: absolute;
    left: 250px;
    top: -50px;
    z-index: 3;
}
#bg_04 .on .an8 .p3{
    display: block;
    width: 409px;
    height: 429px;
    background:url(../../ww3/2017heartinheart/an/bg4.8-3.png) center center no-repeat;
    position: absolute;
    left: 680px;
    top: 10px;
    z-index: 5;
}
.slider2{
    z-index: 2;
}
.slider2 a{
    display: block;
    width: 1180px;
    height: 650px;
}
#bg_04 .bx-wrapper .bx-controls-direction a{
    width: 46px;
    height: 46px;
}
#bg_04 .bx-wrapper .bx-prev{
    width: 20px;
    height: 39px;
    left: 35px;
    background:url(../../ww3/2017heartinheart/an/prev.png) center center no-repeat;
}
#bg_04 .bx-wrapper .bx-next{
    width: 20px;
    height: 39px;
    right: 35px;
    background:url(../../ww3/2017heartinheart/an/next.png) center center no-repeat;
}
#bg_04 .bx-wrapper .bx-controls-direction a{
    margin-top: -5px;
}
#bg_04 .bx-wrapper .bx-pager{
    width: auto;
    height: 129px;
    text-align: center;
    position: absolute;
    left: 32px;
    bottom: 70px;
    z-index: 5;
}
#bg_04 .bx-wrapper .bx-pager-link1{
    width: 115px;
    height: 105px;
    background:url(../../ww3/2017heartinheart/an/bg4.n1.png) center 37px no-repeat;
}
#bg_04 .bx-wrapper .bx-pager-link2{
    width: 112px;
    height: 105px;
    background:url(../../ww3/2017heartinheart/an/bg4.n2.png) center bottom no-repeat;
}
#bg_04 .bx-wrapper .bx-pager-link3{
    width: 122px;
    height: 105px;
    background:url(../../ww3/2017heartinheart/an/bg4.n3.png) center 37px no-repeat;
} 
#bg_04 .bx-wrapper .bx-pager-link4{
    width: 115px;
    height: 105px;
    background:url(../../ww3/2017heartinheart/an/bg4.n4.png) center 55px no-repeat;
}
#bg_04 .bx-wrapper .bx-pager-link5{
    width: 113px;
    height: 105px;
    background:url(../../ww3/2017heartinheart/an/bg4.n5.png) center 65px no-repeat;
}
#bg_04 .bx-wrapper .bx-pager-link6{
    width: 107px;
    height: 105px;
    background:url(../../ww3/2017heartinheart/an/bg4.n6.png) center bottom no-repeat;
}
#bg_04 .bx-wrapper .bx-pager-link7{
    width: 75px;
    height: 105px;
    background:url(../../ww3/2017heartinheart/an/bg4.n7.png) center center no-repeat;
}
#bg_04 .bx-wrapper .bx-pager-link8{
    width: 77px;
    height: 105px;
    background:url(../../ww3/2017heartinheart/an/bg4.n8.png) -15px -5px no-repeat;
}
#bg_04 .bx-pager-link.active:after{
    content: "after";
    width: 15px;
    height: 8px;
    background:url(../../ww3/2017heartinheart/an/arrow.png) center top no-repeat;
    position: absolute;
    left: 53px;
    top: 120px;
    z-index: 20;
}
#bg_04 .bx-pager-link3.active:after{
    left: 58px;
}
#bg_04 .bx-pager-link6.active:after{
    left: 53px;
}
#bg_04 .bx-pager-link7.active:after{
    left: 36px;
}
#bg_04 .bx-pager-link8.active:after{
    left: 22px;
}
#bg_04 .bx-wrapper .bx-pager-item{
    width: auto;
    height: 129px;
    display: block;
    float: left;
    margin-right: 30px;
    position: relative;
}
#bg_04 .bx-wrapper .bx-pager-item:last-child{
    margin-right: 0px;
}
.bg6bor{
    width: 990px;
    height: 573px;
    display: inline-block;
    margin-top: 220px;
    position: relative;
}
.bg6bor1{
    background:url(../../ww3/2017heartinheart/bg6bor1.jpg) center top no-repeat;
}
.bg6bor2{
    background:url(../../ww3/2017heartinheart/bg6bor2.jpg) center top no-repeat;
}
.bg6_1{
    cursor: pointer;
    display: inline-block;
    width: 330px;
    height: 573px;
}
.bg6_2{
    cursor: pointer;
    display: inline-block;
    width: 330px;
    height: 573px;
}
.bg6_3{
    cursor: pointer;
    display: inline-block;
    width: 330px;
    height: 573px;
}
.bg6p1{
    display: none;
    width: 330px;
    height: 573px;
    background:url(../../ww3/2017heartinheart/bg6p1.jpg) center top no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 5;
}
.bg6p1_txt{
    display: none;
    opacity: 0;
    fliter:alpha(opacity=0);
    width: 660px;
    height: 573px;
    background:url(../../ww3/2017heartinheart/bg6p1_txt.png) center top no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
}
.bg6p2{
    display: none;
    width: 330px;
    height: 573px;
    background:url(../../ww3/2017heartinheart/bg6p2.jpg) center top no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 5;
}
.bg6p2_txt{
    display: none;
    opacity: 0;
    fliter:alpha(opacity=0);
    width: 660px;
    height: 573px;
    background:url(../../ww3/2017heartinheart/bg6p2_txt.png) center top no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
}
.bg6p3{
    display: none;
    width: 330px;
    height: 573px;
    background:url(../../ww3/2017heartinheart/bg6p3.jpg) center top no-repeat;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 5;
}
.bg6p3_txt{
    display: none;
    opacity: 0;
    fliter:alpha(opacity=0);
    width: 660px;
    height: 573px;
    background:url(../../ww3/2017heartinheart/bg6p3_txt.png) center top no-repeat;
    position: absolute;
    left: 660px;
    top: 0px;
    z-index: 2;
}
.slider2 .slide.on a .p1{
    animation: fadeLeft .8s ease both;
    -webkit-animation: fadeLeft 1s ease both;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes fadeLeft {
    0% {transform: translateX(0px);}
    to {transform: translateX(50px);}
}

@-webkit-keyframes fadeLeft {
    0% {-webkit-transform: translateX(0px);}
    to {-webkit-transform: translateX(50px);}
}
.slider2 .slide.on a .p2{
    animation: fadeLeft .8s ease both;
    -webkit-animation: fadeLeft 1s ease both;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.slider2 .slide.on a .p3{
    animation: fadeRight .8s ease both;
    -webkit-animation: fadeRight 1s ease both;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes fadeRight {
    0% {transform: translateX(0px);}
    to {transform: translateX(-65px);}
}

@-webkit-keyframes fadeRight {
    0% {-webkit-transform: translateX(0px);}
    to {-webkit-transform: translateX(-65px);}
}




/*表格样式begin*/
#data_list_wrap{ width:1000px; margin:150px auto 0 auto; height:845px; position:relative;}

/* Table*/
.con_4_table{width:1000px;height:auto; position:absolute; top: 95px;left: 0px;}
.con_4_table_ul{
    margin-top:30px;
    
}
.con_4_table_li{
    width:50px;
    border:1px solid #303030;
    height:19px;
    float:left;
}
.con_4_table_li a{
    color: #fff;
}
.con_4_table_a{
    width:42px;
    height:19px;
    display:block;
    font-size:12px;
    line-height:19px;
    color:#666666;
    padding-right:8px;
}
.con_4_table_a_all{
    width:42px;
    height:19px;
    display:block;
    font-size:12px;
    line-height:19px;
    color:#666666;
}
.con_4_table_a:hover{
    background-color:#282828;
    color:#ffffff;
}
.con_4_table_a_all:hover{
    background-color:#282828;
    color:#ffffff;
}

.con_4_table_a_hover{
    background-color:#282828;
    color:#ffffff;
}

/***表格***/

.line_through{ height:1px; width:980px; background:#f7f7f7; position:absolute; top:27px; left:-830px; display:none;}

.table_layout{
    table-layout:fixed;
    float:left;
    margin-top:28px;
}
.table_layout_td{
    line-height:70px;
    height:70px;
    text-align:center;
    width:130px;
    
}
.table_layout_td{
    cursor:default; 
}
.table_layout_td .gray{
    font-size:14px;
    color:#a4a4a4;
}
.table_layout_td .light_gray{
    font-size:13px;
    color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.table_layout_td .white{
    font-size:13px;
    color:#ffffff;
}
.table_layout_td_line{
    width:100%;
    height:70px;
    position:relative;
    background:url(../../ww3/2014sunyanzi/table_layout_td_line.jpg) no-repeat right 30px;
}
.table_layout_price{
    color:#2e86c6;
    height:22px;
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
}
.table_layout_td_blue{
    background:#174465;
}
.table_layout_td_blue_2{
    background:url(../../ww3/2014sunyanzi/table_layout_td_blue_2.png) #2e86c6 no-repeat 110px 30px;
    
}
.table_layout_td_gray{
    background:#424242;
}
.table_layout_td_gray_2{
    background:url(../../ww3/2014sunyanzi/table_layout_td_gray_2.png) #6e6e6e no-repeat 110px 30px;
    
}
.table_layout_page{
    width:980px;
    height:25px;
    float:left;
    margin-top:25px;
}
.table_layout_page div .prev{
    width: 5px;
    height: 10px;
    float: left;
    background:url(http://img.zbird.cn/ww3/2014sunyanzi/table_layout_page_Larrow.png)  no-repeat left center;
    
}
.table_layout_page div .next{
    width: 5px;
    height: 10px;
    float: left;
    background:url(http://img.zbird.cn/ww3/2014sunyanzi/table_layout_page_Rarrow.png)  no-repeat left center;
    
}

.table_layout_page_span{
    padding-left:20px;
    color:#818181;
    font-size:14px;
    float:left;
}
.table_layout_page div{
    margin-right:15px;
    float:right;
}
.table_layout_page div img{
    margin-top:5px;
    margin-left:3px;
    margin-right:3px;
    float:left;
}
.table_layout_page div span{
    font-family: Arial, Helvetica, sans-serif;
    margin-top:5px;
    padding-left:3px;
    padding-right:3px;
    float:left;
}
.table_layout_page div a{
    font-family: Arial, Helvetica, sans-serif;
    margin-top:5px;
    color:#666666;
    font-size:12px;
    padding-left:2px;
    padding-right:2px;
    float:left;
}
.table_layout_page div .active{
    color: #2E86C6;
}
.table_layout_page_text{
    color:#666666;
    font-size:12px;
    padding-left:2px;
    padding-right:2px;
}
.table_layout_page_border{
    color:#666666;
    border:1px solid #666666;
    padding-top:1px;
    padding-bottom:1px;
    float:left;
    text-align:center;
    width:45px;
    background:#03060c;
    margin-top:1px;
    font-size:12px;
}
.table_layout_page_go{
    margin-left:3px;
    background:#2e86c6;
}
.table_price{
    width:139px;
    height:25px;
    position:absolute;
    left:30px;
    top:-8px;
    font-size:12px;
    color:#FFF;
    line-height:18px;
    background:url(../../ww3/2014sunyanzi/table_price.png) no-repeat left top;
}

/***表格***/
.table_layout{
    table-layout:fixed;
    float:left;
    margin-top:28px;
}
.table_layout_td{
    line-height:70px;
    height:70px;
    text-align:center;
    width:130px;
    
}
.table_layout_td{
    cursor:default; 
}
.table_layout_td .gray{
    font-size:14px;
    color:#a4a4a4;
}
.table_layout_td .light_gray{
    font-size:13px;
    color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.table_layout_td .white{
    font-size:13px;
    color:#ffffff;
}
.table_layout_td_line{
    width:100%;
    height:70px;
    position:relative;
    background:url(../../ww3/zhongqiu2014/table_layout_td_line.jpg) no-repeat right 30px;
}
.table_layout_price{
    color:#2e86c6;
    height:22px;
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
}
.table_layout_td_blue{
    background:#174465;
}
.table_layout_td_blue_2{
    background:url(../../ww3/zhongqiu2014/table_layout_td_blue_2.png) #2e86c6 no-repeat 110px 30px;
    
}
.table_layout_td_gray{
    background:#424242;
}
.table_layout_td_gray_2{
    background:url(../../ww3/zhongqiu2014/table_layout_td_gray_2.png) #6e6e6e no-repeat 110px 30px;
    
}
.table_layout_page{
    width:980px;
    height:25px;
    float:left;
    margin-top:25px;
}
.table_layout_page div .prev{
    width: 5px;
    height: 10px;
    float: left;
    background:url(http://img.zbird.cn/ww3/zhongqiu2014/table_layout_page_Larrow.png)  no-repeat left center;
    
}
.table_layout_page div .next{
    width: 5px;
    height: 10px;
    float: left;
    background:url(http://img.zbird.cn/ww3/zhongqiu2014/table_layout_page_Rarrow.png)  no-repeat left center;
    
}

.table_layout_page_span{
    padding-left:20px;
    color:#818181;
    font-size:14px;
    float:left;
}
.table_layout_page div{
    margin-right:15px;
    float:right;
}
.table_layout_page div img{
    margin-top:5px;
    margin-left:3px;
    margin-right:3px;
    float:left;
}
.table_layout_page div span{
    font-family: Arial, Helvetica, sans-serif;
    margin-top:5px;
    padding-left:3px;
    padding-right:3px;
    float:left;
}
.table_layout_page div a{
    font-family: Arial, Helvetica, sans-serif;
    margin-top:5px;
    color:#666666;
    font-size:12px;
    padding-left:2px;
    padding-right:2px;
    float:left;
}
.table_layout_page div .active{
    color: #2E86C6;
}
.table_layout_page_text{
    color:#666666;
    font-size:12px;
    padding-left:2px;
    padding-right:2px;
}
.table_layout_page_border{
    color:#666666;
    border:1px solid #666666;
    padding-top:1px;
    padding-bottom:1px;
    float:left;
    text-align:center;
    width:45px;
    background:#03060c;
    margin-top:1px;
    font-size:12px;
}
.table_layout_page_go{
    margin-left:3px;
    background:#2e86c6;
}
.table_price{
    width:139px;
    height:25px;
    position:absolute;
    left:30px;
    top:-8px;
    font-size:12px;
    color:#FFF;
    line-height:18px;
    background:url(../../ww3/zhongqiu2014/table_price.png) no-repeat left top;}
    /***表格***/
    

.a2_table_bg{
    width:1000px;
    height:688px;
    overflow:hidden;
    
}
.a2_table_border{
    width:1000px;
    height:100%;
    margin:0 auto;
    position:relative;
    z-index:0;
}
.a2_table_border_left{
    width:1000px;
    height:100%;
    float:left;
    position:relative;
}
.a2_table_border_right{
    width:50px;
    height:532px;
    float:left;
    position:relative;
}

.a2_table_layout{
    table-layout:fixed;
    float:left;

    margin-top:22px;
}
.a2_table_layout_td{
    line-height:58px;
    height:58px;
    text-align:center;
    width:72px;
}
.a2_table_layout_td .gray{
    font-size:12px;
    color:#989898;
}
.a2_table_layout_td .light_gray{
    font-size:12px;
    color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.a2_table_layout_td .white{
    font-size:15px;
    color:#ffffff;
    font-family:"microsoft YaHei";
}
.a2_table_layout_td_line{
    width:100%;
    height:58px;
    position:relative;
    background:url('../../ww3/zhongqiu2014/table_layout_td_line.jpg') no-repeat right 23px;
}
.a2_table_img{
    width:100%;
    height:58px;
    position:relative;
    background:url('../../ww3/2017heartinheart/a2_table_img.png') no-repeat right 8px;
}
.a2_table_layout_price{
    color:#fe909d;
    height:22px;
    font-size:16px;
    font-style:normal; 
    font-weight:normal;
    font-family: Arial;
}
.a2_table_layout_price span{
    color:#fe909d;
    height:22px;
    font-size:20px; 
    font-style: normal;
    font-weight:normal;
    font-family:"microsoft YaHei";
}
.a2_table_layout_td_blue{
    background:#3d3d3d;
}
.a2_table_layout_td_blue_2{
    background: #ff8e96;
    
}
.a2_table_layout_td_gray{
    background:#252527;
}
.a2_table_layout_td_gray_2{
    background: #6e6e6e ;
    
}
.table_layout_page{
    width:980px;
    height:25px;
    float:left;
    margin-top:25px;
}
.table_layout_page div .prev{
    width: 5px;
    height: 10px;
    float: left;
    background:url(http://img.zbird.cn/ww3/zhongqiu2014/table_layout_page_Larrow.png)  no-repeat left center;
    
}
.table_layout_page div .next{
    width: 5px;
    height: 10px;
    float: left;
    background:url(http://img.zbird.cn/ww3/zhongqiu2014/table_layout_page_Rarrow.png)  no-repeat left center;
    
}

.table_layout_page_span{
    padding-left:20px;
    color:#818181;
    font-size:14px;
    float:left;
}
.table_layout_page div{
    margin-right:15px;
    float:right;
}
.table_layout_page div img{
    margin-top:5px;
    margin-left:3px;
    margin-right:3px;
    float:left;
}
.table_layout_page div span{
    font-family: Arial, Helvetica, sans-serif;
    margin-top:5px;
    padding-left:3px;
    padding-right:3px;
    float:left;
}
.table_layout_page div a{
    font-family: Arial, Helvetica, sans-serif;
    margin-top:5px;
    color:#666666;
    font-size:12px;
    padding-left:2px;
    padding-right:2px;
    float:left;
}
.table_layout_page div .active{
    color: #2E86C6;
}
.table_layout_page_text{
    color:#666666;
    font-size:12px;
    padding-left:2px;
    padding-right:2px;
}
.table_layout_page_border{
    color:#666666;
    border:1px solid #666666;
    padding-top:1px;
    padding-bottom:1px;
    float:left;
    text-align:center;
    width:45px;
    background:#03060c;
    margin-top:1px;
    font-size:12px;
}
.table_layout_page_go{
    margin-left:3px;
    background:#2e86c6;
}
/***分页***/
.page_boder {
    width: auto;
    height: 35px;
    overflow: hidden;
    float: right;
    margin-top: 20px;
}
.prev{
    display: block;
    float: left;
    width: 27px;
    height: 27px;
    margin-right: 10px;
    background: url('../..//ww3/2017heartinheart/a2_table_arrowLeft.jpg') no-repeat left top #ff8e96;
}
.page_boder li .go{
    color: #ffffff;
}
.page_boder li{
    display: block;
    float: left;
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    font-size: 13px;
    margin-right: 8px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #6e6e70;
}
.page_boder li input{
    width: 100%;
    height: 99%;
    line-height: normal;
    line-height: 27px\9;
    border: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background: #000000;
    text-align: center;
} 
.page_boder li a{color: #636365; display:inline-block; width: 100%;}
.page_boder li .active{color:#ff8e96;font-family: Arial, Helvetica, sans-serif;}
.page_boder ul li a.more{
    display: block;
    width: 15px;
    height: 27px;
    color:#6e6e6e;
    float: left;
    margin-left: 6px;
    text-align: center;
    line-height: 32px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.page_boder_a_last_number {
    display: block;
    float: left;
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color:#6e6e6e;
    background:#131314;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #6e6e6e;
}
.next {
    display: block;
    float: left;
    width: 29px;
    height: 29px;
    /*margin-left: 10px;*/
    background: url('../../ww3/2017heartinheart/a2_table_arrowRight.jpg') no-repeat left top #ff8e96;
}
.a2_table_price{
    width:139px;
    height:25px;
    position:absolute;
    left:55px;
    top:-8px;
    font-size:12px;
    color:#FFF;
    line-height:18px;
    background:url('../../ww3/zhongqiu2014/table_price.png') no-repeat left top;
}
.all_arrow_defult{
    background:url('../../ww3/mono/pc/2015ladynewyork/all_arrow_defult.png') no-repeat 35px 8px;
}
.all_arrow_click{
    background:url('../../ww3/zhongqiu2014/all_arrow_click.png') no-repeat 35px 8px;
    background-color:#282828;
    color:#ffffff;
}
.arrow_defult{
    background:url('../../ww3/mono/pc/2015ladynewyork/arrow_defult.png') no-repeat 35px 4px;
}
.arrow_highToLow{
    background:url('../..//ww3/mono/pc/2015ladynewyork/arrow_highToLow.png') no-repeat 35px 4px;
}
.arrow_lowToHigh{
    background:url('../..//ww3/mono/pc/2015ladynewyork/arrow_lowToHigh.png') no-repeat 35px 4px;
}
.a2_biaoqian_1{
    width:48px;
    height:177px;
    float:left;
    background:url('http://img.zbird.cn//ww3/zhongqiu2014/a2_biaoqian_1.jpg') no-repeat left top;
}
.a2_biaoqian_2{
    width:48px;
    height:177px;
    float:left;
    background:url('http://img.zbird.cn//ww3/zhongqiu2014/a2_biaoqian_2.jpg') no-repeat left top;
}
.a2_biaoqian_3{
    width:48px;
    height:177px;
    float:left;
    background:url('http://img.zbird.cn//ww3/zhongqiu2014/a2_biaoqian_3.jpg') no-repeat left top;
}
.a2_biaoqian_1_click{
    width:48px;
    height:177px;
    float:left;
    background:url('http://img.zbird.cn//ww3/zhongqiu2014/a2_biaoqian_1_click.jpg') no-repeat left top;
}
.a2_biaoqian_2_click{
    width:48px;
    height:177px;
    float:left;
    background:url('http://img.zbird.cn//ww3/zhongqiu2014/a2_biaoqian_2_click.jpg') no-repeat left top;
}
.a2_biaoqian_3_click{
    width:48px;
    height:177px;
    float:left;
    background:url('http://img.zbird.cn//ww3/zhongqiu2014/a2_biaoqian_3_click.jpg') no-repeat left top;
}
.a2_biaoqian{
    cursor:pointer; 
}
.a2_pinglun_border{
    width:1100px;
    height:136px;
    float:left;
    margin-left:15px;
    border-bottom:1px solid #3e3a39;    
}
.a2_pinglun_pic{
    margin-top:40px;
    margin-left:30px;
    float:left; 
}
.a2_pinglun_text{
    width:390px;
    height:90px;
    margin-left:45px;
    margin-top:38px;
    float:left;
}
.a2_pinglun_text_title{
    font-family:Arial,"宋体";
    color:#8b8989;
    width:390px;
    height:25px;
    float:left;
}
.a2_pinglun_text_content{
    font-family:Arial,"宋体";
    color:#666666;
    width:390px;
    height:25px;
    float:left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden
}
.a2_pinglun_photo{
    width:150px;
    height:40px;
    margin-left:60px;
    margin-top:36px;
    float:left;
}
.a2_pinglun_photo_1{
    width:40px;
    height:40px;
    float:left;
    margin-left:5px;
    background:#6e6e6e; 
}
.a2_pinglun_xing{
    width:300px;
    height:40px;
    margin-left:60px;
    margin-top:36px;
    float:left;
}
.a2_pinglun_xing_text{
    font-family:Arial,"宋体";
    color:#ffffff;
    text-align:center;
    line-height:19px;
    margin-left:3px;
    float:left;
    display:block;
    width:56px;
    height:19px;
    border:1px solid #828181;
    background:#6e6e6e;
}
.a2_pinglun_xingxing{
    margin-left:3px;
    float:left;
    width:14px;
    height:15px;
    margin-top:2px;
    background:url('http://img.zbird.cn//ww3/zhongqiu2014/a2_pinglun_xingxing.png') no-repeat left top;
}
.a2_pinglun_border_s{
    width:646px;
    height:90px;
    float:left;
    overflow:hidden;    
}

.a3_table_layout_td{
    line-height:45px;
    height:45px; 
    text-align:center;
    width:115px;
}
.a3_table_layout_td_line{
    width:100%;
    height:45px;
    position:relative;
    background:url('../../ww3/zhongqiu2014/table_layout_td_line.jpg') no-repeat right 17px;
}
.a3_table_img{
    width:100%;
    height:45px;
    position:relative;
    background:url('../..//ww3/mono/pc/2015ladynewyork/a2_table_img.png') no-repeat right 5px;
}
.a3_table_layout_td_gray{
    background:#424242;
}
.a3_table_layout_td_gray_2{
    background:#313134;
}
.a3_table_layout_td .gray{
    font-size:14px;
    color:#a4a4a4;
}
.a2_yuyue_bg{
    width: 100%;
    height: 615px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    background: url('http://img.zbird.cn//ww3/zhongqiu2014/a2_yuyue_bg.jpg') no-repeat center top;
}
.a2_yuyue_border{
    width: 980px;
    height: 615px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}