em,i{
    font-style: normal;
}
/*----------------background----------------*/
#bg_01{ background:url(../../ww3/mono/pc/2018/youandme/bg_01.jpg) center top no-repeat;width: 100%; height:714px;position: relative;z-index: 0;}
#bg_02{ background:url(../../ww3/mono/pc/2018/youandme/bg_02.jpg) center top no-repeat;width: 100%; height:1281px;position: relative;z-index: 0;overflow: hidden;}
#bg_03{ background:url(../../ww3/mono/pc/2018/youandme/bg_03.jpg) center top no-repeat;width: 100%; height:150px;position: relative;z-index: 0;}
#bg_04{ background:url(../../ww3/mono/pc/2018/youandme/bg_04.jpg) center top no-repeat;width: 100%; height:878px;position: relative;z-index: 0;}
#bg_05{ background:url(../../ww3/mono/pc/2018/youandme/bg_05.jpg) center top no-repeat;width: 100%; height:885px;position: relative;z-index: 0;}
#bg_06{ background:url(../../ww3/mono/pc/2018/youandme/bg_06.jpg) center top no-repeat;width: 100%; height:149px;position: relative;z-index: 0;}
#bg_07{ background:#000;width: 100%; height:746px;position: relative;z-index: 0;}
#bg_08{ background:url(../../ww3/mono/pc/2018/youandme/bg_08.jpg) center top no-repeat;width: 100%; height:715px;position: relative;z-index: 0;}
#bg_09{ background:url(../../ww3/mono/pc/2018/youandme/bg_09.png) center top no-repeat;width: 100%; height:222px;position: relative;z-index: 0;}
.clearHeight{
  width: 100%;
  height: auto;
  overflow: hidden;
  clear: both;
}
.border{
  text-align: center;
  display: block;
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.play_video{
  width: 1020px;
  height: 488px;
  position: absolute;
  background:url(../../ww3/mono/pc/2018/youandme/play_video.jpg) center center no-repeat;
  left: 77px;
  top: 97px;
  z-index: 15;
}
.v_video_op{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 105;
  background: #000;
  opacity: 0.7;
  filter:alpha(opacity=70);
}
.v_video{
  display: none;
  width: 1020px;
  height: 488px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -510px;
  margin-top: -244px;
  z-index: 110;
}
#bg_02 .bg{
  width: 100%;
  height: 579px;
  position: absolute;
  background:url(../../ww3/mono/pc/2018/youandme/2/bg.png) center center no-repeat;
  left: 0px;
  top: 1320px;
  top: 702px\0;/* ie 8/9 */ 
  z-index: 5;
}
.bg_02_show .bg{
  -webkit-animation: bg_02_bg_an 1s linear;
  animation: bg_02_bg_an 1s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes bg_02_bg_an 
{
  0%{-webkit-transform: translate(0px, 0px);}
  100%{-webkit-transform: translate(0px, -579px);}
}
@keyframes bg_02_bg_an 
{
  0%{transform: translate(0px, 0px);}
  100%{transform: translate(0px, -579px);}
}
#bg_02 .text{
  opacity: 0;
  opacity: 1\9\0;/* ie9 */ 
  width: 405px;
  height: 460px;
  position: absolute;
  background:url(../../ww3/mono/pc/2018/youandme/2/text.png) center center no-repeat;
  left: 50%;
  top: 770px;
  margin-left: -220px;
  z-index: 15;
}
.bg_02_show .text{
  -webkit-animation: bg_02_text_an .8s linear;
  animation: bg_02_text_an .8s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
@-webkit-keyframes bg_02_text_an
{
  0%{opacity: 0}
  100%{opacity: 1}
}
@keyframes bg_02_text_an
{
  0%{opacity: 0}
  100%{opacity: 1}
}
#bg_02 .left1{
  opacity: 0;
  opacity: 0\9\0;/* ie9 */ 
  filter:alpha(opacity=0);
  width: 226px;
  height: 224px;
  position: absolute;
  background:url(../../ww3/mono/pc/2018/youandme/2/left1.png) center center no-repeat;
  left: 50%;
  top: 915px;
  margin-left: -460px;
  z-index: 15;
}
#bg_02 .left2{
  opacity: 0;
  opacity: 0\9\0;/* ie9 */ 
  filter:alpha(opacity=0);
  width: 226px;
  height: 224px;
  position: absolute;
  background:url(../../ww3/mono/pc/2018/youandme/2/left2.png) center center no-repeat;
  left: 50%;
  top: 915px;
  margin-left: -200px;
  z-index: 20;
}
#bg_02 .two1{
  display: none;
  display: block\0;/* ie89 */
  width: 500px;
  height: 338px;
  position: absolute;
  background:url(../../ww3/mono/pc/2018/youandme/2/two1.jpg) center center no-repeat\0;/* ie 8/9 */ 
  left: 50%;
  top: 843px;
  margin-left: -267px;
  z-index: 7
}
#bg_02 .two2{
  display: none;
  display: none\0;/* ie89 */
  width: 500px;
  height: 338px;
  position: absolute;
  background:url(../../ww3/mono/pc/2018/youandme/2/two2.jpg) center center no-repeat\0;/* ie 8/9 */ 
  left: 50%;
  top: 843px;
  margin-left: -267px;
  z-index: 6;
}
.bg_02_show .left1{
  -webkit-animation: bg_02_left1_an .8s linear;
  animation: bg_02_left1_an .8s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
@-webkit-keyframes bg_02_left1_an
{
  0%{-webkittransform: translate(0px, 0px);opacity: 0}
  100%{-webkittransform: translate(260px, 0px);opacity: 1}
}
@keyframes bg_02_left1_an
{
  0%{transform: translate(0px, 0px);opacity: 0}
  100%{transform: translate(260px, 0px);opacity: 1}
}
#bg_02 .right1{
  opacity: 0;
  opacity: 0\9\0;/* ie9 */ 
  filter:alpha(opacity=0);
  width: 239px;
  height: 222px;
  position: absolute;
  background:url(../../ww3/mono/pc/2018/youandme/2/right1.png) center center no-repeat;
  left: 50%;
  top: 970px;
  margin-left: 150px;
  z-index: 17;
}
#bg_02 .right2{
  opacity: 0;
  opacity: 0\9\0;/* ie9 */ 
  filter:alpha(opacity=0);
  width: 239px;
  height: 222px;
  position: absolute;
  background:url(../../ww3/mono/pc/2018/youandme/2/right2.png) center center no-repeat;
  left: 50%;
  top: 970px;
  margin-left: -110px;
  z-index: 20;
}
.bg_02_show .right1{
  -webkit-animation: bg_02_right1_an .8s linear;
  animation: bg_02_right1_an .8s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
@-webkit-keyframes bg_02_right1_an
{
  0%{-webkittransform: translate(0px, 0px);opacity: 0}
  100%{-webkittransform: translate(-260px, 0px);opacity: 1}
}
@keyframes bg_02_right1_an
{
  0%{transform: translate(0px, 0px);opacity: 0}
  100%{transform: translate(-260px, 0px);opacity: 1}
}
#bg_04 .text1{
  opacity: 0;
  filter:alpha(opacity=100);
  width: 271px;
  height: 593px;
  position: absolute;
  background:url(../../ww3/mono/pc/2018/youandme/4/text1.png) center center no-repeat;
  left: 100px;
  top: 150px;
  z-index: 8;
}
#bg_04 .p1{
  opacity: 0;
  width: 349px;
  height: 313px;
  position: absolute;
  background:url(../../ww3/mono/pc/2018/youandme/4/p1.png) center center no-repeat;
  left: 70px;
  top: 280px;
  z-index: 7;
  zoom: 1
}
.bg04_an{
  width: 0%;
  height: 100%;
  position: absolute;
  background: #000;
  left: 0px;
  top: 0px;
  z-index: 1;
  opacity: 0.4;
  filter:alpha(opacity=40);
}
.bg4a{
  display: inline-block;
  width: 350px;
  height: 650px;
  position: absolute;
  left: 50%;
  margin-left: -520px;
  top: 50%;
  margin-top: -320px;
  z-index: 15;
}
#bg_05 .text1{
  opacity: 0;
  filter:alpha(opacity=100);
  width: 182px;
  height: 593px;
  position: absolute;
  background:url(../../ww3/mono/pc/2018/youandme/5/text1.png) center center no-repeat;
  left: 100px;
  top: 150px;
  z-index: 8;
}
#bg_05 .p1{
  opacity: 0;
  width: 336px;
  height: 343px;
  position: absolute;
  background:url(../../ww3/mono/pc/2018/youandme/5/p1.png) center center no-repeat;
  left: 30px;
  top: 280px;
  z-index: 7;
  zoom: 1
}
.bg05_an{
  width: 0%;
  height: 100%;
  position: absolute;
  background: #000;
  left: 0px;
  top: 0px;
  z-index: 1;
  opacity: 0.4;
  filter:alpha(opacity=40);
}
.bg5a{
  display: inline-block;
  width: 350px;
  height: 650px;
  position: absolute;
  left: 50%;
  margin-left: -565px;
  top: 50%;
  margin-top: -320px;
  z-index: 15;
}

/******bg7动画******/
#bg_07 .bx-viewport{
  height: 746px;
}
#bg_07 .bx-wrapper {
    height: 746px;
}
#bg_07 .slider1 .slide{
    width: 1920px;
    height: 746px;
    position: absolute;
    left: 50%;
    margin-left: -960px;
    z-index: 5;
}
#bg_07 .slider1 .slide .an1{
    width: 1920px;
    height: 746px;
    background:url(../../ww3/mono/pc/2018/youandme/7/an1.jpg) left center no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -960px;
    z-index: 5;
}
#bg_07 .slider1 .slide .an2{
    width: 1920px;
    height: 746px;
    background:url(../../ww3/mono/pc/2018/youandme/7/an2.jpg) left center no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -960px;
    z-index: 5;
}
#bg_07 .slider1 .slide .an3{
    width: 1920px;
    height: 746px;
    background:url(../../ww3/mono/pc/2018/youandme/7/an3.jpg) left center no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -960px;
    z-index: 5;
}
#bg_07 .slider1 .slide .an4{
    width: 1920px;
    height: 746px;
    background:url(../../ww3/mono/pc/2018/youandme/7/an4.jpg) left center no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -960px;
    z-index: 5;
}
#bg_07 .bx-wrapper{
    background: transparent;
    border:none;
    box-shadow:none;
}
#bg_07 .bx-wrapper .bx-prev{
    display: none;
}
#bg_07 .bx-wrapper .bx-next{
    display: none;
}
#bg_07 .bx-wrapper .bx-pager{
    width: 173px;
    height: auto;
    text-align: right;
    position: absolute;
    left: 50%;
    margin-left: 395px;
    top: 120px;
    padding-top: 0px;
    overflow: hidden;
    z-index: 50;
}
#bg_07 .line{
    width: 3px;
    height: 521px;
    background: #000;
    position: absolute;
    left: 50%;
    margin-left: 565px;
    top: 120px;
    overflow: hidden;
    z-index: 30;
}
#bg_07 .bx-wrapper .bx-pager-item{
    position: relative;
    display: block;
    width: 170px;
    height: 130px;
}
#bg_07 .bx-wrapper .bx-pager.bx-default-pager a{
    float: left;
    display: block;
    width: 170px;
    height: 130px;
    border-radius: 0px;
    margin-left: 0px;
}
#bg_07 .bx-wrapper .bx-pager.bx-default-pager a:after{
    content:"";
    display: block;
    width: 170px;
    height: 130px;
    background:url(../../ww3/mono/pc/2018/youandme/7/sekuai.png) left center no-repeat;
    position: absolute;
    left: 170px;
    top:0px;
    text-indent: 999px;
    z-index: 5;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
#bg_07 .bx-wrapper .bx-pager.bx-default-pager a.active{
    float: left;
    border-right: 3px solid #eeb991;
    display: block;
    width: 170px;
    height: 130px;
    border-radius: 0px;
    margin-left: 0px;
}
#bg_07 .bx-pager-link1{
  background:url(../../ww3/mono/pc/2018/youandme/7/t1.png) left center no-repeat;
}
#bg_07 .bx-pager-link2{
  background:url(../../ww3/mono/pc/2018/youandme/7/t2.png) left center no-repeat;
}
#bg_07 .bx-pager-link3{
  background:url(../../ww3/mono/pc/2018/youandme/7/t3.png) left center no-repeat;
}
#bg_07 .bx-pager-link4{
  background:url(../../ww3/mono/pc/2018/youandme/7/t4.png) left center no-repeat;
}
#bg_07 .san{
  display: inline-block;
  width: 315px;
  height: 550px;
  position: absolute;
  left: 50%;
  margin-left: -465px;
  top: 50%;
  margin-top: -270px;
  z-index: 5;
}
#bg_08 .slider2 .slide .an1{
    width: 1180px;
    height: 530px;
    background:url(../../ww3/mono/pc/2018/youandme/8/an1.jpg) center center no-repeat;
}
#bg_08 .slider2 .slide .an2{
    width: 1180px;
    height: 530px;
    background:url(../../ww3/mono/pc/2018/youandme/8/an2.jpg) center center no-repeat;
}
#bg_08 .slider2 .slide .an3{
    width: 1180px;
    height: 530px;
    background:url(../../ww3/mono/pc/2018/youandme/8/an3.jpg) center center no-repeat;
}
#bg_08 .slider2 .slide .an4{
    width: 1180px;
    height: 530px;
    background:url(../../ww3/mono/pc/2018/youandme/8/an4.jpg) center center no-repeat;
}
#bg_08 .bx-wrapper .bx-pager.bx-default-pager a{
    width: 100px;
    height: 1px;
    background:#4c4c4c;
    margin: 0;
    padding: 0;
}
#bg_08 .bx-wrapper .bx-pager.bx-default-pager a.active{
    width: 100px;
    height: 2px;
    background:#eeb991;
    margin: 0;
    padding: 0;
}
#bg_08 .bx-wrapper .bx-controls-direction a{
    margin-top: -25px;
}
#bg_08 .bx-wrapper .bx-pager{
    width: 400px;
    height: 2px;
    text-align: right;
    position: absolute;
    right: 390px;
    bottom: 10px;
    z-index: 5;
}
#bg_08 .bx-wrapper{
    background: transparent;
    border:none;
    box-shadow:none;
}
#bg_08 .bx-wrapper .bx-prev{
    width: 22px;
    height: 44px;
    left: 35px;
    background:url(../../ww3/mono/pc/2018/youandme/8/left.png) center center no-repeat;
}
#bg_08 .bx-wrapper .bx-next{
    width: 22px;
    height: 44px;
    right: 35px;
    background:url(../../ww3/mono/pc/2018/youandme/8/right.png) center center no-repeat;
}
.a_mono{
  width: 100%;
  height: 93%;
  display: inline-block;
}