#bg_04 .slide .an1 .p1{
    display: block;
    width: 171px;
    height: 160px;
    background:url(../../ww3/2017heartinheart/an/bg4.1-1.png) center center no-repeat;
    position: absolute;
    left: 220px;
    top: 60px;
    z-index: 5;
}
#bg_04 .slide .an1 .p2{
    display: block;
    width: 366px;
    height: 319px;
    background:url(../../ww3/2017heartinheart/an/bg4.1-2.png) center center no-repeat;
    position: absolute;
    left: 380px;
    top: 120px;
    z-index: 15;
}
#bg_04 .slide .an1 .p3{
    display: block;
    width: 409px;
    height: 429px;
    background:url(../../ww3/2017heartinheart/an/bg4.1-3.png) center center no-repeat;
    position: absolute;
    left: 630px;
    top: 10px;
    z-index: 5;
}
#bg_04 .slide .an2 .p1{
    display: block;
    width: 171px;
    height: 160px;
    background:url(../../ww3/2017heartinheart/an/bg4.2-1.png) center center no-repeat;
    position: absolute;
    left: 220px;
    top: 60px;
    z-index: 5;
}
#bg_04 .slide .an2 .p2{
    display: block;
    width: 366px;
    height: 319px;
    background:url(../../ww3/2017heartinheart/an/bg4.2-2.png) center center no-repeat;
    position: absolute;
    left: 380px;
    top: 120px;
    z-index: 15;
}
#bg_04 .slide .an2 .p3{
    display: block;
    width: 409px;
    height: 429px;
    background:url(../../ww3/2017heartinheart/an/bg4.2-3.png) center center no-repeat;
    position: absolute;
    left: 630px;
    top: 10px;
    z-index: 5;
}
#bg_04 .slide .an3 .p1{
    display: block;
    width: 171px;
    height: 160px;
    background:url(../../ww3/2017heartinheart/an/bg4.3-1.png) center center no-repeat;
    position: absolute;
    left: 220px;
    top: 60px;
    z-index: 5;
}
#bg_04 .slide .an3 .p2{
    display: block;
    width: 366px;
    height: 319px;
    background:url(../../ww3/2017heartinheart/an/bg4.3-2.png) center center no-repeat;
    position: absolute;
    left: 380px;
    top: 120px;
    z-index: 15;
}
#bg_04 .slide .an3 .p3{
    display: block;
    width: 409px;
    height: 429px;
    background:url(../../ww3/2017heartinheart/an/bg4.3-3.png) center center no-repeat;
    position: absolute;
    left: 630px;
    top: 10px;
    z-index: 5;
}
#bg_04 .slide .an4 .p1{
    display: block;
    width: 171px;
    height: 160px;
    background:url(../../ww3/2017heartinheart/an/bg4.4-1.png) center center no-repeat;
    position: absolute;
    left: 220px;
    top: 60px;
    z-index: 5;
}
#bg_04 .slide .an4 .p2{
    display: block;
    width: 366px;
    height: 319px;
    background:url(../../ww3/2017heartinheart/an/bg4.4-2.png) center center no-repeat;
    position: absolute;
    left: 380px;
    top: 120px;
    z-index: 15;
}
#bg_04 .slide .an4 .p3{
    display: block;
    width: 409px;
    height: 429px;
    background:url(../../ww3/2017heartinheart/an/bg4.4-3.png) center center no-repeat;
    position: absolute;
    left: 630px;
    top: 10px;
    z-index: 5;
}
#bg_04 .slide .an5 .p1{
    display: block;
    width: 219px;
    height: 160px;
    background:url(../../ww3/2017heartinheart/an/bg4.5-1.png) center center no-repeat;
    position: absolute;
    left: 170px;
    top: 60px;
    z-index: 5;
}
#bg_04 .slide .an5 .p2{
    display: block;
    width: 472px;
    height: 658px;
    background:url(../../ww3/2017heartinheart/an/bg4.5-2.png) center center no-repeat;
    position: absolute;
    left: 300px;
    top: -100px;
    z-index: 15;
}
#bg_04 .slide .an5 .p3{
    display: block;
    width: 409px;
    height: 429px;
    background:url(../../ww3/2017heartinheart/an/bg4.5-3.png) center center no-repeat;
    position: absolute;
    left: 630px;
    top: 10px;
    z-index: 5;
}
#bg_04 .slide .an6 .p1{
    display: block;
    width: 219px;
    height: 160px;
    background:url(../../ww3/2017heartinheart/an/bg4.6-1.png) center center no-repeat;
    position: absolute;
    left: 170px;
    top: 60px;
    z-index: 5;
}
#bg_04 .slide .an6 .p2{
    display: block;
    width: 472px;
    height: 658px;
    background:url(../../ww3/2017heartinheart/an/bg4.6-2.png) center center no-repeat;
    position: absolute;
    left: 300px;
    top: -100px;
    z-index: 15;
}
#bg_04 .slide .an6 .p3{
    display: block;
    width: 409px;
    height: 429px;
    background:url(../../ww3/2017heartinheart/an/bg4.6-3.png) center center no-repeat;
    position: absolute;
    left: 630px;
    top: 10px;
    z-index: 5;
}
#bg_04 .slide .an7 .p1{
    display: block;
    width: 219px;
    height: 160px;
    background:url(../../ww3/2017heartinheart/an/bg4.7-1.png) center center no-repeat;
    position: absolute;
    left: 170px;
    top: 60px;
    z-index: 5;
}
#bg_04 .slide .an7 .p2{
    display: block;
    width: 472px;
    height: 658px;
    background:url(../../ww3/2017heartinheart/an/bg4.7-2.png) center center no-repeat;
    position: absolute;
    left: 300px;
    top: -160px;
    z-index: 15;
}
#bg_04 .slide .an7 .p3{
    display: block;
    width: 409px;
    height: 429px;
    background:url(../../ww3/2017heartinheart/an/bg4.7-3.png) center center no-repeat;
    position: absolute;
    left: 630px;
    top: 10px;
    z-index: 5;
}
#bg_04 .slide .an8 .p1{
    display: block;
    width: 219px;
    height: 160px;
    background:url(../../ww3/2017heartinheart/an/bg4.8-1.png) center center no-repeat;
    position: absolute;
    left: 170px;
    top: 60px;
    z-index: 5;
}
#bg_04 .slide .an8 .p2{
    display: block;
    width: 545px;
    height: 541px;
    background:url(../../ww3/2017heartinheart/an/bg4.8-2.png) center center no-repeat;
    position: absolute;
    left: 300px;
    top: -50px;
    z-index: 3;
}
#bg_04 .slide .an8 .p3{
    display: block;
    width: 409px;
    height: 429px;
    background:url(../../ww3/2017heartinheart/an/bg4.8-3.png) center center no-repeat;
    position: absolute;
    left: 630px;
    top: 10px;
    z-index: 5;
}
#bg_04 .bx-wrapper .bx-pager-item{
    width: auto;
    height: 129px;
    display: block;
    float: left;
    margin-right: 23px;
    position: relative;
}