.clearfix{ display:inline-block;}
.clearfix{ display:block;}
* html .clearfix{ display:block;}
html[xmlns] .clearfix{ display:block;}
.clearfix:after{ clear:both; visibility:hidden; display:block; height:0; font-size:0;}


em{ font-style:normal;}
@-webkit-keyframes anmt_banner 
{
	0%{
		opacity: 0.2;
		width:1px;height: 1px;
		border-radius:600px; 
	}
	50%{
		opacity: 0.2;
		width:600px;height: 600px;
		border-radius:600px; 
	}
	100%{
		opacity: 0.2;
		border-radius:0; 
		width:100%;height: 600px;
	}	 
}

@keyframes anmt_banner 
{
	0%{
		opacity: 0.35;
		width:1px;height: 1px;
		border-radius:600px; 
	}
	50%{
		opacity: 0.35;
		width:600px;height: 600px;
		border-radius:600px; 
	}
	100%{
		opacity: 0.35;
		border-radius:0; 
		width:100%;height: 600px;
	}
}
  
.banner_01{display: table; width:100%;background:url(../../ww3/mono/pc/2015sweetlove/banner_01.jpg) center center no-repeat; height:600px;position:relative; z-index: 0;overflow: hidden;}
.banner_02{display: table-cell;width:100%;
	height:600px; text-align: center;vertical-align: middle;position: relative;overflow: hidden;}
.banner_03{
	width:1px;background:#ffe7e6;
	height:1px;display: inline-block;
	opacity: 0;
}
.banner_03an{
	-webkit-animation: anmt_banner 3.5s linear;
	animation: anmt_banner 3.5s linear;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay:0.5s;
	animation-delay: 0.5s;
}
.banner_06{width:1920px;background:url(../../ww3/mono/pc/2015sweetlove/banner_02.jpg) center center no-repeat; height:600px; z-index: 10;overflow: hidden;opacity: 0;
	position:absolute;
	left: 50%;
	top: 50%;
	margin-left: -960px;
	margin-top: -300px;
}
.bg_02{width:100%;background:url(../../ww3/mono/pc/2015sweetlove/bg_02.jpg) top center no-repeat; height:696px; }
.bg_03{width:100%;background:url(../../ww3/mono/pc/2015sweetlove/bg_03.jpg) top center no-repeat; height:951px;display: block;}
.bg_04{width:100%;background:url(../../ww3/mono/pc/2015sweetlove/bg_04.jpg) top center no-repeat; height:951px;}
.bg_05{width:100%;background:url(../../ww3/mono/pc/2015sweetlove/bg_05.jpg) top center no-repeat; height:531px;}

.bg_03 .bg_main,.bg_04 .bg_main{width:1180px; margin:0 auto;position: relative; height:951px;z-index: 0;}
.ke_a{position: absolute;bottom:55px;background:url(../../ww3/mono/pc/2015sweetlove/a_btn.png) top left no-repeat;height: 51px; width:182px;display:block;left: 494px;z-index: 2}
.ke_a:hover{background:url(../../ww3/mono/pc/2015sweetlove/a_btn.png) top right no-repeat;}

.anmt_pic{position:absolute;z-index: 2;width:800px; margin:0 auto;height:522px;top: 0;left: 0;}
.dx_b_01{background:url(../../ww3/mono/pc/2015sweetlove/dx_b_01.png) top left no-repeat;width: 420px; height: 553px;left:370px;top: 0px;}
.dx_b_02{background:url(../../ww3/mono/pc/2015sweetlove/dx_b_02.png) top center no-repeat;width: 500px;height: 500px;left: 90px;bottom: 30px;}
.dx_b_01,.yn_b_01{display:block;position:absolute;z-index:1;}
.dx_b_02,.yn_b_02{display:block;position:absolute;z-index:1;}
.dx_b_01{z-index: 2}
.yn_b_01{background:url(../../ww3/mono/pc/2015sweetlove/yn_b_01.png) top center no-repeat;width: 500px; height:500px;left: 360px;top: -30px;}
.yn_b_02{background:url(../../ww3/mono/pc/2015sweetlove/yn_b_02.png) top center no-repeat;width: 600px; height:600px;left: 690px;bottom: -30px;}

.pro_pic{position: absolute;bottom: 150px;left: 70px;z-index:2;width: 1020px;}
.pro_pic:after{clear:both; visibility:hidden; display:block; height:0; font-size:0;}
.tz_pro_01{margin-right:78px;}
.tz_pro_01,.tz_pro_02,.tz_pro_03{width: 288px;height: 288px;float:left;position:relative;z-index: 1;display: block;}
.tz_pro_01 img,.tz_pro_02 img{position:absolute;top: 0;left: 0;}
.tz_pro_03{margin-left:66px;}
.icon_01,.icon_02{position: absolute;z-index: 2}
.icon_01{top:25px;left: 4px;}
.icon_02{top:25px;left: 368px;}

.side_menu{ width:134px; height:173px;padding-top: 44px; display: none; top:20%; position:fixed;left:10px;z-index:300; background:url(../../ww3/mono/pc/2015sweetlove/side_menu.png) top center no-repeat; }
.side_menu a{ display:block; }
.side_a_01,.side_a_02{ height:57px; width:115px;}

.side_a_03{ width: 115px; height:35px;}
.side_a_01:hover,.side_a_02:hover,.side_a_03:hover{background:url(../../ww3/mono/pc/2015sweetlove/side_menu_hver.png) top center no-repeat; }

.side_a_01:hover{background-position: 0 -44px;}
.side_a_02:hover{background-position: 0 -101px;}
.side_a_03:hover{background-position: 0 -158px;}
.bg_mainaa{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
	display: block;
}