
.clearfix{ display:inline-block;}
.clearfix{ display:block;}
* html .clearfix{ display:block;}
html[xmlns] .clearfix{ display:block;}
.clearfix:after,.f_mo_main:after{ clear:both; visibility:hidden; display:block; height:0; font-size:0;}


i,cite,em,var,address,dfn{font-style:normal;}

.op_ly{width:100%;height:100%;position:fixed;left:0;top:0;background:#000;opacity:0.7;filter:alpha(opacity=70);z-index:20;display:none;}



.banner{background:url('../../ww3/mono/pc/2016aftsals/pic_01.jpg') center no-repeat;width:100%; height:615px;}
.pic_02{background:url('../../ww3/mono/pc/2016aftsals/pic_02.jpg') center no-repeat;width:100%; height:566px;}
.pic_03{background:url('../../ww3/mono/pc/2016aftsals/pic_03.jpg') center no-repeat;width:100%; height:579px;}
.pic_04{background:url('../../ww3/mono/pc/2016aftsals/pic_04.jpg') center no-repeat;width:100%; height:496px;}
.pic_05{background:url('../../ww3/mono/pc/2016aftsals/pic_05.jpg') center no-repeat;width:100%; height:455px;}
.pic_06{background:url('../../ww3/mono/pc/2016aftsals/pic_06.jpg') center no-repeat;width:100%; height:361px;}
.pic_07{background:url('../../ww3/mono/pc/2016aftsals/pic_07.jpg') center no-repeat;width:100%; height:487px;}
.pic_08{background:url('../../ww3/mono/pc/2016aftsals/pic_08.jpg') center no-repeat;width:100%; height:312px;}


.pic_06 a,.pic_08 a{display:block;width:1180px;}

.pic_06 a{height:361px;}
.pic_08 a{height:312px;}

.f_mo_main{width:1180px;margin:0 auto; position:relative;z-index:0;}
.f_mo_main_0v{width:1200px;overflow: hidden;margin:0 auto;}
.scale_01{position:absolute;z-index: 0;top:0;left:0;width:582px;height:241px;overflow: hidden;}
.scale_02{position:absolute;z-index: 0;top:247px;right:0;width:592px;height:242px;overflow: hidden;}
.scale_03{width:504px;height:405px;background:url('../../ww3/mono/pc/2016aftsals/3.gif') center no-repeat;position:absolute;z-index: 0;top:30px;left:41px;}

.scale_01 em{background:url('../../ww3/mono/pc/2016aftsals/1.jpg') center no-repeat;display:block;width:582px;height:241px;transition:all 2s linear 0s;-webkit-transition:all 2s linear 0s;}
.scale_02 em{background:url('../../ww3/mono/pc/2016aftsals/2.jpg') center no-repeat;display:block;width:592px;height:242px;transition:all 2s linear 0s;-webkit-transition:all 2s linear 0s;}
.scale_01:hover em,.scale_02:hover em{-webkit-transform:scale(1.1);transform:scale(1.1);}

.scale_04,.scale_05,.scale_06,.scale_07{width:290px;height:487px;float: left;overflow:hidden;display:table;vertical-align: middle;position:relative;z-index:0;}
.scale_04 a,.scale_05 a,.scale_06 a,.scale_07 a{width:290px;height:487px;display:block;}
.scale_04 span,.scale_05 span,.scale_06 span,.scale_07 span{width:290px;height:487px;display:block;position:relative;z-index:0;transition:all 2s linear 0s;-webkit-transition:all 2s linear 0s}
.scale_04 span{background:url('../../ww3/mono/pc/2016aftsals/1.1.jpg') center no-repeat;}
.scale_05 span{background:url('../../ww3/mono/pc/2016aftsals/1.2.jpg') center no-repeat;}
.scale_06 span{background:url('../../ww3/mono/pc/2016aftsals/1.3.jpg') center no-repeat;}
.scale_07 span{background:url('../../ww3/mono/pc/2016aftsals/1.4.jpg') center no-repeat;}
.scale_04:hover span,.scale_05:hover span,.scale_06:hover span,.scale_07:hover span{-webkit-transform:scale(1.1);transform:scale(1.1);}


.scale_04 em,.scale_05 em,.scale_06 em,.scale_07 em{display:table-cell;width:207px;height:250px;vertical-align: middle;position:absolute;z-index:3;
top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}

.scale_04 em{background:url('../../ww3/mono/pc/2016aftsals/1.11.png') center no-repeat;}
.scale_05 em{background:url('../../ww3/mono/pc/2016aftsals/1.21.png') center no-repeat;}
.scale_06 em{background:url('../../ww3/mono/pc/2016aftsals/1.31.png') center no-repeat;}
.scale_07 em{background:url('../../ww3/mono/pc/2016aftsals/1.41.png') center no-repeat;}