@charset "utf-8";


em,b,i{ font-style:normal;}
.clearfix{ display:inline-block;}
.clearfix{ display:block;}
* html .clearfix{ display:block;}
html[xmlns] .clearfix{ display:block;}
.clearfix:after{ clear:both; visibility:hidden; display:block; height:0; font-size:0;}

 h1,h2,h3,h4,h5{margin: 0;padding: 0;font-size:100%;}
 dl,dd,dt,ul,li,ol{margin: 0;padding: 0;list-style: none;}
/**
 * public index layout
 */
.gs_wht_wp{background:#fff;width:100%;overflow:hidden; }
.gs_gray_wp{background:#f5f5f5;width:100%;overflow:hidden;}
.g_main{margin:0 auto 30px;width:1180px;}
.g_main:after{ clear:both; visibility:hidden; display:block; height:0; font-size:0;content:"";}

.line_hr{border-top:1px solid #333;height:0;margin:25px 0;}

/*

 */
.city_nav_li{position:relative;float:left;z-index:0}
.city_nav_li a.city_nav_a{color: #fff;font-size:13px; font-family:Arail,"宋体"; line-height:33px;width:87px; text-align:center;display:block;letter-spacing:1px;}
.city_nav_li a.city_nav_a_hover{color: #fff;font-size:13px; font-family:Arail,"宋体"; line-height:33px;width:117px; text-align:center;display:block;letter-spacing:1px;background:#fdb2a4;}
.city_nav_li a.city_nav_a:hover{background:#fdb2a4;color:#fff;}
.city_nav_li a.wid176{width: 176px;}
.city_nav_li a.tetalrig{text-align: right;}
.city_nav_2{width:155px;height:40px;display:block;background:url('../../ww3/citystation/city_nav_2.jpg') no-repeat left top}
.city_nav_2_hover{width:155px;height:40px;display:block;background:url('../../ww3/citystation/city_nav_2.jpg') no-repeat right top}
.city_nav_2:hover{background:url('../../ww3/citystation/city_nav_2.jpg') no-repeat right top}
.city_nav_3{width:155px;height:40px;display:block;background:url('../../ww3/citystation/city_nav_3.jpg') no-repeat left top}
.city_nav_3_hover{width:155px;height:40px;display:block;background:url('../../ww3/citystation/city_nav_3.jpg') no-repeat right top}
.city_nav_3:hover{background:url('../../ww3/citystation/city_nav_3.jpg') no-repeat right top}
.city_nav_4{width:208px;height:40px;display:block;background:url('../../ww3/citystation/city_nav_4.jpg') no-repeat left top}
.city_nav_5{width:124px;height:40px;display:block;background:url('../../ww3/citystation/city_nav_5.jpg') no-repeat left top}
.city_nav_5_hover{width:124px;height:40px;display:block;background:url('../../ww3/citystation/city_nav_5.jpg') no-repeat right top}
.city_nav_5:hover{background:url('../../ww3/citystation/city_nav_5.jpg') no-repeat right top}


.cityIndexHeaderRightBg{display:none;}
/**
 * btn
 */
.u_pnk_btn{background:#f6827a;color:#fff;text-align:center;font-size:12px;}
.u_pnk_btn:hover{ background:#f6827a; opacity: 0.85;filter:alpha(opacity=85);color:#fff;}
/**
 * title
 */
.u_st_tlt{color:#000;font-size:26px;text-align:center;font-weight:normal;margin:0 ;letter-spacing:2px;padding:35px 0 15px;}
.u_st_tlt i{background:url('../../ww3/160804newindex/icon_and.jpg') center no-repeat; display:inline-block;width:21px;height:19px;vertical-align:middle;
			padding: 0 6px;}

.city_bg{ width:1180px; height:480px; margin:50px auto 0;text-align:right;position:relative;z-index:0;}
.local_ad_lst{margin-top: 20px;width:1240px;overflow:hidden;text-align:left;}
.local_ad_lst a{margin-right:14px;display:inline-block;}

.city_bg_map{width: 523px;display:inline-block;text-align: center;height:388px;position:relative;z-index:0;
	background:#ffe3df;margin-top:47px;}
.city_bg_map_title{width: 100%;font-size: 24px;display: inline-block;font-family: Arial,"宋体";color: #000000;margin-bottom:47px;}
.city_bg_map_title01{font-size:36px;color:#000;margin-top:58px;width: 100%;display: inline-block;margin-bottom:4px;}
.city_bg_map_content{width: 100%;line-height: 22px;font-size: 12px;display: inline-block;font-family: Arial,"宋体";color: #000;}
.city_bg_map_content i{display:block;font-style:normal;}
.city_bg_map_phone{margin-top:24px;}
.city_bg_btn{width:122px;height:34px;line-height:34px;display:inline-block;text-align:center;background:#f6827a;
	color:#fff!important;vertical-align:middle;margin-left:5px;}
.city_bg_input{width:221px;height:14px;padding:10px 12px; margin:0;line-height:14px;border:0;color:#333;font-family:"宋体";vertical-align:middle;}
.city_bg_lnk{bottom:50px;position:absolute;z-index:1;left:208px;}
.city_bg_lnk a{color:#999;}
.city_bg_lnk a:hover{color:#000;}

.g_exp_wp{width:1180px; margin:0 auto 0px;padding:0px 0 0;background:#FFF;}
.g_exp_tlt{text-align: left; border-bottom: 1px solid #000000;line-height: 55px;padding-left:1px;font-size: 13px;font-family:Arial,"宋体";color:#000000;}
.g_exp_tlt i{font-size:9px;vertical-align: middle;}

.g_exp_wp_left{
	width:430px;
	height: auto;
	overflow: hidden;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 65px 0;
	
	float: left;
}
.g_exp_wp_right{
	float: right;
	width:700px;
	height:502px;
}


/*显示轮播*/
.g_exp_wp_right .animateTShell{width: 700px;height:527px;margin: 0;}
.g_exp_wp_right .animateTShell .animate{width: 700px;height: 527px;position:relative;overflow: hidden;}
.g_exp_wp_right .animateTShell .animate .ani_ul{width: 480px;height: 324px;float: left;}
.g_exp_wp_right .animateTShell .animate .ani_ul .ani_li{width: 700px;height: 527px;float:left;position: relative;z-index:0;}
.g_exp_wp_right  .disc_border{width: 700px;height:20px;position:absolute;display:block;overflow:hidden;left:0;bottom:10px;text-align:center;z-index:1;}

.g_exp_wp_right  .disc,.g_exp_wp_right .disc_hover{width:9px;height:9px;margin:0 3px;display:inline-block;cursor:pointer;}
.g_exp_wp_right .disc{background:url('../../ww3/160804newindex/superslide_btn.png') no-repeat center;}
.g_exp_wp_right .disc_hover{background:url('../../ww3/160804newindex/superslide_btn2.png') no-repeat center;}
.g_exp_all{
	width: 430px;
	height: 396px;
	overflow: hidden; 
}
#lanrenzhijia{ width:500px; height:300px; margin:10px auto; padding-right:12px; overflow:hidden;}
#lanrenzhijia p{color:#999; font-size:12px; line-height:220%; text-align:left; text-indent:2em;}
.g_exp_lst{
	width: 422px;
	height: auto;
	overflow: hidden;
}
.g_exp_lst li{font-family:Arial,"宋体";width: 100%;height: 132px;display: table;background: #fff;}

.g_exp_lst li:nth-of-type(odd){
	background: #fafafa;
}
.g_exp_lst li:nth-of-type(even){
	background: #fff;
}
.g_exp_lst_bor{
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}
.g_exp_lst li strong{display: inline-block;font-size:12px;color:#000;line-height: 26px;font-weight: normal;margin-left: 50px;}
.g_exp_lst li strong a{color:#000;display: inline-block;font-size:20px;font-family:Arial,"宋体";}
.g_exp_lst li span{color:#666;display: inline-block;margin-left: 50px;}

.g_exp_lst li em{display: inline-block;font-size:12px;color:#666;line-height: 27px;font-family:Arial,"宋体";margin-left: 50px;margin-top: 5px;}
.g_exp_lst li em a{color:#333;display: inline-block;font-family:Arial,"宋体";font-size: 12px;}
.g_exp_lst li em a:hover{text-decoration: underline;}
.g_exp_lst li i{color:#333;display: inline-block;line-height: 22px;font-family:Arial,"宋体";font-size: 12px;}
.pic_sta{width:1045px; height: 541px;margin:20px auto 0;padding-bottom:67px;}

.g_st_tit{
	width: 1180px; 
	overflow: hidden;
	margin: 0 auto; 
	background: #000000;
    display: block;
    margin-top: 37px;
    height: 2px;
}
.g_st_titcon{
	width: 1180px;
	height: 220px;
	overflow: hidden;
	margin: 0 auto; 
    display: block;
    background:url(../../ww3/store/g_st_titcon.jpg) no-repeat left center; 
}
.g_st_titcon span{
	padding-left: 15px;
	padding-right: 15px;
	font-family:"宋体";
	color: #666;
}
.g_st_tit2{
	width: 1180px; 
	overflow: hidden;
	margin: 0 auto; 
	background: #000000;
    display: block;
    height: 1px;
}
.g_st_con{
	width: 1180px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	background: #fff;
}
.g_st_borleft{
	width: 498px;
	height: auto;
	overflow: hidden;
	margin-top: 25px;
	float: left;
}
.g_st_borright{
	width: 498px;
	height: auto;
	overflow: hidden;
	margin-top: 25px;
	float: right;
}
.g_st_txt{
	font-size: 12px;
	line-height: 65px;
	font-family:Arial,"宋体";
	color: #000;
	text-align: left;
}